WSDL/Producao/PAlagoinhasBA-FREIRE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" xmlns:intf="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="GerarNfseResponse">

      <wsdl:part name="GerarNfseReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorRpsRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WsicroWebserviceXmlNuvensResponse">

      <wsdl:part name="WsicroWebserviceXmlNuvensReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WsicroWebserviceXmlNuvensRequest">

      <wsdl:part name="ETpsicronizacao" type="xsd:long">

      </wsdl:part>

      <wsdl:part name="EIdentidade" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EPwservidor" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EPwcliente" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EIduser" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ETpoperacao" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EConteudo" type="xsd:anyType">

      </wsdl:part>

      <wsdl:part name="ELt" type="xsd:long">

      </wsdl:part>

      <wsdl:part name="EObj" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CancelarNfseRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SubstituirNfseRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SubstituirNfseResponse">

      <wsdl:part name="SubstituirNfseReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GerarNfseRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsSincronoResponse">

      <wsdl:part name="RecepcionarLoteRpsSincronoReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorFaixaResponse">

      <wsdl:part name="ConsultarNfsePorFaixaReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsResponse">

      <wsdl:part name="RecepcionarLoteRpsReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarLoteRpsRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WsicroWebserviceNuvensResponse">

      <wsdl:part name="WsicroWebserviceNuvensReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CancelarNfseResponse">

      <wsdl:part name="CancelarNfseReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorRpsResponse">

      <wsdl:part name="ConsultarNfsePorRpsReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfseServicoTomadoRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfseServicoPrestadoResponse">

      <wsdl:part name="ConsultarNfseServicoPrestadoReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorFaixaRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WsicroWebserviceNuvensRequest">

      <wsdl:part name="ETpsicronizacao" type="xsd:long">

      </wsdl:part>

      <wsdl:part name="EIdentidade" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EPwservidor" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EPwcliente" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EIduser" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ETpoperacao" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="EConteudo" type="xsd:anyType">

      </wsdl:part>

      <wsdl:part name="ELt" type="xsd:long">

      </wsdl:part>

      <wsdl:part name="EObj" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfseServicoPrestadoRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfseServicoTomadoResponse">

      <wsdl:part name="ConsultarNfseServicoTomadoReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarLoteRpsResponse">

      <wsdl:part name="ConsultarLoteRpsReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsSincronoRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RpsWebServiceRequest">

      <wsdl:part name="ETipoFiltro" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ESenha" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ECga" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ECnpj" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ECpf" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="ECpfUsuario" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RpsWebServiceResponse">

      <wsdl:part name="RpsWebServiceReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="NFEServices">

      <wsdl:operation name="CancelarNfse" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:CancelarNfseRequest" name="CancelarNfseRequest">

       </wsdl:input>

         <wsdl:output message="impl:CancelarNfseResponse" name="CancelarNfseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarLoteRps" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarLoteRpsRequest" name="ConsultarLoteRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarLoteRpsResponse" name="ConsultarLoteRpsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorFaixa" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfsePorFaixaRequest" name="ConsultarNfsePorFaixaRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfsePorFaixaResponse" name="ConsultarNfsePorFaixaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorRps" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfsePorRpsRequest" name="ConsultarNfsePorRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfsePorRpsResponse" name="ConsultarNfsePorRpsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoPrestado" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfseServicoPrestadoRequest" name="ConsultarNfseServicoPrestadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfseServicoPrestadoResponse" name="ConsultarNfseServicoPrestadoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoTomado" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfseServicoTomadoRequest" name="ConsultarNfseServicoTomadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfseServicoTomadoResponse" name="ConsultarNfseServicoTomadoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GerarNfse" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:GerarNfseRequest" name="GerarNfseRequest">

       </wsdl:input>

         <wsdl:output message="impl:GerarNfseResponse" name="GerarNfseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRpsSincrono" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:RecepcionarLoteRpsSincronoRequest" name="RecepcionarLoteRpsSincronoRequest">

       </wsdl:input>

         <wsdl:output message="impl:RecepcionarLoteRpsSincronoResponse" name="RecepcionarLoteRpsSincronoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SubstituirNfse" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:SubstituirNfseRequest" name="SubstituirNfseRequest">

       </wsdl:input>

         <wsdl:output message="impl:SubstituirNfseResponse" name="SubstituirNfseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRps" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:RecepcionarLoteRpsRequest" name="RecepcionarLoteRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:RecepcionarLoteRpsResponse" name="RecepcionarLoteRpsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RpsWebService" parameterOrder="ETipoFiltro ESenha ECga ECnpj ECpf ECpfUsuario">

         <wsdl:input message="impl:RpsWebServiceRequest" name="RpsWebServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:RpsWebServiceResponse" name="RpsWebServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="WsicroWebserviceNuvens" parameterOrder="ETpsicronizacao EIdentidade EPwservidor EPwcliente EIduser ETpoperacao EConteudo ELt EObj">

         <wsdl:input message="impl:WsicroWebserviceNuvensRequest" name="WsicroWebserviceNuvensRequest">

       </wsdl:input>

         <wsdl:output message="impl:WsicroWebserviceNuvensResponse" name="WsicroWebserviceNuvensResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="WsicroWebserviceXmlNuvens" parameterOrder="ETpsicronizacao EIdentidade EPwservidor EPwcliente EIduser ETpoperacao EConteudo ELt EObj">

         <wsdl:input message="impl:WsicroWebserviceXmlNuvensRequest" name="WsicroWebserviceXmlNuvensRequest">

       </wsdl:input>

         <wsdl:output message="impl:WsicroWebserviceXmlNuvensResponse" name="WsicroWebserviceXmlNuvensResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NFEServicesSoapBinding" type="impl:NFEServices">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="CancelarNfse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CancelarNfseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="CancelarNfseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarLoteRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarLoteRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarLoteRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorFaixa">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfsePorFaixaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfsePorFaixaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfsePorRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfsePorRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoPrestado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfseServicoPrestadoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfseServicoPrestadoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoTomado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfseServicoTomadoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfseServicoTomadoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GerarNfse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GerarNfseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="GerarNfseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRpsSincrono">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RecepcionarLoteRpsSincronoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RecepcionarLoteRpsSincronoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SubstituirNfse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SubstituirNfseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="SubstituirNfseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RecepcionarLoteRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RecepcionarLoteRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RpsWebService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RpsWebServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RpsWebServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="WsicroWebserviceNuvens">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="WsicroWebserviceNuvensRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="WsicroWebserviceNuvensResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="WsicroWebserviceXmlNuvens">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="WsicroWebserviceXmlNuvensRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="WsicroWebserviceXmlNuvensResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NFEServicesService">

      <wsdl:port binding="impl:NFEServicesSoapBinding" name="NFEServices">

         <wsdlsoap:address location="http://nfse.alagoinhas.ba.gov.br/webrun/webservices/NFEServices.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
