WSDL/Producao/PAmargosaBA-ADM_SISTEMAS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://nfse.abrasf.org.br" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nfse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_Infse_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBindingTransport_Infse_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBindingTransportCertificate_Infse_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:EndorsingSupportingTokens>
                      <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:RequireThumbprintReference />
                            <sp:WssX509V3Token10 />
                          </wsp:Policy>
                        </sp:X509Token>
                        <sp:SignedParts>
                          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                        </sp:SignedParts>
                      </wsp:Policy>
                    </sp:EndorsingSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy>
                        <sp:MustSupportRefThumbprint />
                      </wsp:Policy>
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://nfse.abrasf.org.br" location="https://demo.saatri.com.br/Servicos/nfse.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Infse" type="i0:Infse">
    <wsp:PolicyReference URI="#BasicHttpBinding_Infse_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/RecepcionarLoteRps" style="document" />
      <wsdl:input name="RecepcionarLoteRpsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/RecepcionarLoteRpsSincrono" style="document" />
      <wsdl:input name="RecepcionarLoteRpsSincronoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsSincronoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/GerarNfse" style="document" />
      <wsdl:input name="GerarNfseRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GerarNfseResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/CancelarNfse" style="document" />
      <wsdl:input name="CancelarNfseRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarNfseResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/SubstituirNfse" style="document" />
      <wsdl:input name="SubstituirNfseRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubstituirNfseResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarLoteRps" style="document" />
      <wsdl:input name="ConsultarLoteRpsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarLoteRpsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfsePorRps" style="document" />
      <wsdl:input name="ConsultarNfsePorRpsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorRpsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfseServicoPrestado" style="document" />
      <wsdl:input name="ConsultarNfseServicoPrestadoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoPrestadoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfseServicoTomado" style="document" />
      <wsdl:input name="ConsultarNfseServicoTomadoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoTomadoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfsePorFaixa" style="document" />
      <wsdl:input name="ConsultarNfsePorFaixaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorFaixaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IncluirOutrasInformacoesNaNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/Infse/IncluirOutrasInformacoesNaNfse" style="document" />
      <wsdl:input name="IncluirOutrasInformacoesNaNfseRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IncluirOutrasInformacoesNaNfseResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBindingTransport_Infse" type="i0:Infse">
    <wsp:PolicyReference URI="#WSHttpBindingTransport_Infse_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionarLoteRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/RecepcionarLoteRps" style="document" />
      <wsdl:input name="RecepcionarLoteRpsRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/RecepcionarLoteRpsSincrono" style="document" />
      <wsdl:input name="RecepcionarLoteRpsSincronoRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsSincronoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/GerarNfse" style="document" />
      <wsdl:input name="GerarNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GerarNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/CancelarNfse" style="document" />
      <wsdl:input name="CancelarNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/SubstituirNfse" style="document" />
      <wsdl:input name="SubstituirNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubstituirNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarLoteRps" style="document" />
      <wsdl:input name="ConsultarLoteRpsRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarLoteRpsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfsePorRps" style="document" />
      <wsdl:input name="ConsultarNfsePorRpsRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorRpsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfseServicoPrestado" style="document" />
      <wsdl:input name="ConsultarNfseServicoPrestadoRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoPrestadoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfseServicoTomado" style="document" />
      <wsdl:input name="ConsultarNfseServicoTomadoRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoTomadoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfsePorFaixa" style="document" />
      <wsdl:input name="ConsultarNfsePorFaixaRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorFaixaResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IncluirOutrasInformacoesNaNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/IncluirOutrasInformacoesNaNfse" style="document" />
      <wsdl:input name="IncluirOutrasInformacoesNaNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IncluirOutrasInformacoesNaNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBindingTransportCertificate_Infse" type="i0:Infse">
    <wsp:PolicyReference URI="#WSHttpBindingTransportCertificate_Infse_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionarLoteRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/RecepcionarLoteRps" style="document" />
      <wsdl:input name="RecepcionarLoteRpsRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/RecepcionarLoteRpsSincrono" style="document" />
      <wsdl:input name="RecepcionarLoteRpsSincronoRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsSincronoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/GerarNfse" style="document" />
      <wsdl:input name="GerarNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GerarNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/CancelarNfse" style="document" />
      <wsdl:input name="CancelarNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/SubstituirNfse" style="document" />
      <wsdl:input name="SubstituirNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubstituirNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarLoteRps" style="document" />
      <wsdl:input name="ConsultarLoteRpsRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarLoteRpsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfsePorRps" style="document" />
      <wsdl:input name="ConsultarNfsePorRpsRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorRpsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfseServicoPrestado" style="document" />
      <wsdl:input name="ConsultarNfseServicoPrestadoRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoPrestadoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfseServicoTomado" style="document" />
      <wsdl:input name="ConsultarNfseServicoTomadoRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoTomadoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/ConsultarNfsePorFaixa" style="document" />
      <wsdl:input name="ConsultarNfsePorFaixaRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorFaixaResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IncluirOutrasInformacoesNaNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/Infse/IncluirOutrasInformacoesNaNfse" style="document" />
      <wsdl:input name="IncluirOutrasInformacoesNaNfseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IncluirOutrasInformacoesNaNfseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoDetalhesFault">
        <soap12:fault use="literal" name="ExcecaoDetalhesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nfse">
    <wsdl:port name="BasicHttpBinding_Infse" binding="tns:BasicHttpBinding_Infse">
      <soap:address location="https://demo.saatri.com.br/Servicos/nfse.svc" />
    </wsdl:port>
    <wsdl:port name="WSHttpBindingTransport_Infse" binding="tns:WSHttpBindingTransport_Infse">
      <soap12:address location="https://demo.saatri.com.br/Servicos/nfse.svc/username" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://demo.saatri.com.br/Servicos/nfse.svc/username</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBindingTransportCertificate_Infse" binding="tns:WSHttpBindingTransportCertificate_Infse">
      <soap12:address location="https://demo.saatri.com.br/Servicos/nfse.svc/certificate" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://demo.saatri.com.br/Servicos/nfse.svc/certificate</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>