WSDL/Producao/PBlumenauSC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="NfseService" targetNamespace="http://www.sistema.com.br/Sistema.Ws.Nfse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.sistema.com.br/Sistema.Ws.Nfse" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.sistema.com.br/Sistema.Ws.Nfse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.abrasf.org.br/nfse.xsd" />
      <xs:element name="Versao">
        <xs:complexType />
      </xs:element>
      <xs:element name="VersaoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="VersaoResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RecepcionarLoteRps">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="EnviarLoteRpsEnvio" type="q1:EnviarLoteRpsEnvio" xmlns:q1="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RecepcionarLoteRpsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RecepcionarLoteRpsResult" type="q2:EnviarLoteRpsResposta" xmlns:q2="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GerarNfse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GerarNfseEnvio" type="q3:GerarNfseEnvio" xmlns:q3="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GerarNfseResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GerarNfseResult" type="q4:GerarNfseResposta" xmlns:q4="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CancelarNfse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="CancelarNfseEnvio" type="q5:CancelarNfseEnvio" xmlns:q5="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CancelarNfseResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="CancelarNfseResult" type="q6:CancelarNfseResposta" xmlns:q6="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarLoteRps">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarLoteRpsEnvio" type="q7:ConsultarLoteRpsEnvio" xmlns:q7="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarLoteRpsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarLoteRpsResult" type="q8:ConsultarLoteRpsResposta" xmlns:q8="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarNfseRps">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNfseRpsEnvio" type="q9:ConsultarNfseRpsEnvio" xmlns:q9="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarNfseRpsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNfseRpsResult" type="q10:ConsultarNfseRpsResposta" xmlns:q10="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarNfseServicoPrestado">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNfseServicoPrestadoEnvio" type="q11:ConsultarNfseServicoPrestadoEnvio" xmlns:q11="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarNfseServicoPrestadoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNfseServicoPrestadoResult" type="q12:ConsultarNfseServicoPrestadoResposta" xmlns:q12="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarNfseFaixa">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNfseFaixaEnvio" type="q13:ConsultarNfseFaixaEnvio" xmlns:q13="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarNfseFaixaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNfseFaixaResult" type="q14:ConsultarNfseFaixaResposta" xmlns:q14="http://www.abrasf.org.br/nfse.xsd" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.abrasf.org.br/nfse.xsd">
      <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" />
      <xs:complexType name="EnviarLoteRpsEnvio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="LoteRps" type="tns:tcLoteRps" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q1:Signature" xmlns:q1="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcLoteRps">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
          <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="QuantidadeRps" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ListaRps" type="tns:ArrayOfTcDeclaracaoPrestacaoServico" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" />
        <xs:attribute name="versao" type="xs:token" />
      </xs:complexType>
      <xs:complexType name="tcCpfCnpj">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="Cnpj" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Cpf" type="xs:string" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfTcDeclaracaoPrestacaoServico">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Rps" type="tns:tcDeclaracaoPrestacaoServico" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcDeclaracaoPrestacaoServico">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="InfDeclaracaoPrestacaoServico" type="tns:tcInfDeclaracaoPrestacaoServico" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q2:Signature" xmlns:q2="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcInfDeclaracaoPrestacaoServico">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcInfRps" />
          <xs:element minOccurs="1" maxOccurs="1" name="Competencia" type="xs:date" />
          <xs:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:tcDadosServico" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
          <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcDadosTomador" />
          <xs:element minOccurs="0" maxOccurs="1" name="Intermediario" type="tns:tcDadosIntermediario" />
          <xs:element minOccurs="0" maxOccurs="1" name="ConstrucaoCivil" type="tns:tcDadosConstrucaoCivil" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegimeEspecialTributacao" type="xs:byte" />
          <xs:element minOccurs="1" maxOccurs="1" name="OptanteSimplesNacional" type="xs:byte" />
          <xs:element minOccurs="1" maxOccurs="1" name="IncentivoFiscal" type="xs:byte" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tcInfRps">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
          <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:date" />
          <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="1" name="RpsSubstituido" type="tns:tcIdentificacaoRps" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tcIdentificacaoRps">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Tipo" type="xs:byte" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcDadosServico">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:tcValoresDeclaracaoServico" />
          <xs:element minOccurs="1" maxOccurs="1" name="IssRetido" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="1" name="ResponsavelRetencao" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemListaServico" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoCnae" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoTributacaoMunicipio" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoNbs" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Discriminacao" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ExigibilidadeISS" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="1" name="MunicipioIncidencia" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="NumeroProcesso" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcValoresDeclaracaoServico">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ValorServicos" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorDeducoes" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorPis" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorCofins" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorInss" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorIr" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorCsll" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="OutrasRetencoes" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValTotTributos" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Aliquota" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="DescontoIncondicionado" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="DescontoCondicionado" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcIdentificacaoPrestador">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
          <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcDadosTomador">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoTomador" type="tns:tcIdentificacaoTomador" />
          <xs:element minOccurs="0" maxOccurs="1" name="NifTomador" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:tcEndereco" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:tcContato" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcIdentificacaoTomador">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
          <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcEndereco">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Complemento" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Bairro" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Uf" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Cep" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcContato">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Telefone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcDadosIntermediario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoIntermediario" type="tns:tcIdentificacaoIntermediario" />
          <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcIdentificacaoIntermediario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
          <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcDadosConstrucaoCivil">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoObra" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Art" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EnviarLoteRpsResposta">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="1" maxOccurs="1" name="DataRecebimento" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcMensagemRetorno">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Mensagem" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Correcao" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GerarNfseEnvio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcDeclaracaoPrestacaoServico" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GerarNfseResposta">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:tcCompNfse" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemAlertaRetorno" type="tns:ArrayOfTcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcCompNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Nfse" type="tns:tcNfse" />
          <xs:element minOccurs="0" maxOccurs="1" name="NfseCancelamento" type="tns:tcCancelamentoNfse" />
          <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituicao" type="tns:tcSubstituicaoNfse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="InfNfse" type="tns:tcInfNfse" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q3:Signature" xmlns:q3="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
        <xs:attribute name="versao" type="xs:token" />
      </xs:complexType>
      <xs:complexType name="tcInfNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoVerificacao" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituida" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" maxOccurs="1" name="OutrasInformacoes" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValoresNfse" type="tns:tcValoresNfse" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorCredito" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcDadosPrestador" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrgaoGerador" type="tns:tcIdentificacaoOrgaoGerador" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeclaracaoPrestacaoServico" type="tns:tcDeclaracaoPrestacaoServico" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tcValoresNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="BaseCalculo" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Aliquota" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ValorLiquidoNfse" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcDadosPrestador">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoPrestador" type="tns:tcIdentificacaoPrestador" />
          <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:tcEndereco" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:tcContato" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcIdentificacaoOrgaoGerador">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Uf" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcCancelamentoNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Confirmacao" type="tns:tcConfirmacaoCancelamento" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q4:Signature" xmlns:q4="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
        <xs:attribute name="versao" type="xs:token" />
      </xs:complexType>
      <xs:complexType name="tcConfirmacaoCancelamento">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamento" />
          <xs:element minOccurs="1" maxOccurs="1" name="DataHoraCancelamento" type="xs:dateTime" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tcPedidoCancelamento">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="InfPedidoCancelamento" type="tns:tcInfPedidoCancelamento" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q5:Signature" xmlns:q5="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcInfPedidoCancelamento">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfse" type="tns:tcIdentificacaoNfse" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodigoCancelamento" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="tcIdentificacaoNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
          <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcSubstituicaoNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SubstituicaoNfse" type="tns:tcInfSubstituicaoNfse" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="q6:Signature" xmlns:q6="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
        <xs:attribute name="versao" type="xs:token" />
      </xs:complexType>
      <xs:complexType name="tcInfSubstituicaoNfse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituidora" type="xs:nonNegativeInteger" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="ArrayOfTcMensagemRetorno">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelarNfseEnvio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamento" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelarNfseResposta">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="RetCancelamento" type="tns:tcRetCancelamento" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcRetCancelamento">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NfseCancelamento" type="tns:tcCancelamentoNfse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarLoteRpsEnvio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
          <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q7:Signature" xmlns:q7="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarLoteRpsResposta">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Situacao" type="xs:byte" />
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetornoLote">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetornoLote" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemAlertaRetorno" type="tns:ArrayOfTcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tcMensagemRetornoLote">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
          <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Mensagem" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarNfseRpsEnvio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q8:Signature" xmlns:q8="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarNfseRpsResposta">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:tcCompNfse" />
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarNfseServicoPrestadoEnvio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
          <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfse" type="xs:nonNegativeInteger" />
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="PeriodoCompetencia">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" maxOccurs="1" name="DataInicial" type="xs:date" />
                  <xs:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xs:date" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="PeriodoEmissao">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" maxOccurs="1" name="DataInicial" type="xs:date" />
                  <xs:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xs:date" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcIdentificacaoTomador" />
          <xs:element minOccurs="0" maxOccurs="1" name="Intermediario" type="tns:tcIdentificacaoIntermediario" />
          <xs:element minOccurs="0" maxOccurs="1" name="Pagina" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q9:Signature" xmlns:q9="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarNfseServicoPrestadoResposta">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ProximaPagina" type="xs:nonNegativeInteger" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarNfseFaixaEnvio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
          <xs:element minOccurs="0" maxOccurs="1" name="Faixa">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfseInicial" type="xs:nonNegativeInteger" />
                <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfseFinal" type="xs:nonNegativeInteger" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Pagina" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q10:Signature" xmlns:q10="http://www.w3.org/2000/09/xmldsig#" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConsultarNfseFaixaResposta">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ProximaPagina" type="xs:nonNegativeInteger" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.w3.org/2000/09/xmldsig#">
      <xs:element name="Signature" type="tns:SignatureType" />
      <xs:complexType name="SignatureType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SignedInfo" type="tns:SignedInfoType" />
          <xs:element minOccurs="0" maxOccurs="1" name="SignatureValue" type="tns:SignatureValueType" />
          <xs:element minOccurs="0" maxOccurs="1" name="KeyInfo" type="tns:KeyInfoType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Object" type="tns:ObjectType" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" />
      </xs:complexType>
      <xs:complexType name="SignedInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CanonicalizationMethod" type="tns:CanonicalizationMethodType" />
          <xs:element minOccurs="0" maxOccurs="1" name="SignatureMethod" type="tns:SignatureMethodType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Reference" type="tns:ReferenceType" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" />
      </xs:complexType>
      <xs:complexType name="CanonicalizationMethodType" mixed="true">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI" />
      </xs:complexType>
      <xs:complexType name="SignatureMethodType" mixed="true">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="HMACOutputLength" type="xs:integer" />
          <xs:any minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI" />
      </xs:complexType>
      <xs:complexType name="ReferenceType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Transforms" type="tns:ArrayOfTransformType" />
          <xs:element minOccurs="0" maxOccurs="1" name="DigestMethod" type="tns:DigestMethodType" />
          <xs:element minOccurs="0" maxOccurs="1" name="DigestValue" type="xs:base64Binary" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" />
        <xs:attribute name="URI" type="xs:anyURI" />
        <xs:attribute name="Type" type="xs:anyURI" />
      </xs:complexType>
      <xs:complexType name="ArrayOfTransformType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Transform" type="tns:TransformType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransformType" mixed="true">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="XPath" type="xs:string" />
            <xs:any minOccurs="0" maxOccurs="1" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI" />
      </xs:complexType>
      <xs:complexType name="DigestMethodType" mixed="true">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="Algorithm" type="xs:anyURI" />
      </xs:complexType>
      <xs:complexType name="SignatureValueType">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute name="Id" type="xs:ID" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="KeyInfoType" mixed="true">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="KeyName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="KeyValue" type="tns:KeyValueType" />
            <xs:element minOccurs="0" maxOccurs="1" name="MgmtData" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PGPData" type="tns:PGPDataType" />
            <xs:element minOccurs="0" maxOccurs="1" name="RetrievalMethod" type="tns:RetrievalMethodType" />
            <xs:element minOccurs="0" maxOccurs="1" name="SPKIData" type="tns:SPKIDataType" />
            <xs:element minOccurs="0" maxOccurs="1" name="X509Data" type="tns:X509DataType" />
            <xs:any minOccurs="0" maxOccurs="1" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" />
      </xs:complexType>
      <xs:complexType name="KeyValueType" mixed="true">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="DSAKeyValue" type="tns:DSAKeyValueType" />
            <xs:element minOccurs="0" maxOccurs="1" name="RSAKeyValue" type="tns:RSAKeyValueType" />
            <xs:any minOccurs="0" maxOccurs="1" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DSAKeyValueType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="P" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Q" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="G" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Y" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="J" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Seed" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="PgenCounter" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RSAKeyValueType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Modulus" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Exponent" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PGPDataType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="PGPKeyID" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="1" name="PGPKeyPacket" type="xs:base64Binary" />
            <xs:any minOccurs="0" maxOccurs="1" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RetrievalMethodType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Transforms" type="tns:ArrayOfTransformType" />
        </xs:sequence>
        <xs:attribute name="URI" type="xs:anyURI" />
        <xs:attribute name="Type" type="xs:anyURI" />
      </xs:complexType>
      <xs:complexType name="SPKIDataType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SPKISexp" type="xs:base64Binary" />
          <xs:any minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="X509DataType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="X509CRL" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="1" name="X509Certificate" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="1" name="X509IssuerSerial" type="tns:X509IssuerSerialType" />
            <xs:element minOccurs="0" maxOccurs="1" name="X509SKI" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="1" name="X509SubjectName" type="xs:string" />
            <xs:any minOccurs="0" maxOccurs="1" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="X509IssuerSerialType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="X509IssuerName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="X509SerialNumber" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObjectType" mixed="true">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" />
        <xs:attribute name="MimeType" type="xs:string" />
        <xs:attribute name="Encoding" type="xs:anyURI" />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="INfseService_Versao_InputMessage">
    <wsdl:part name="parameters" element="tns:Versao" />
  </wsdl:message>
  <wsdl:message name="INfseService_Versao_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersaoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_RecepcionarLoteRps_InputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRps" />
  </wsdl:message>
  <wsdl:message name="INfseService_RecepcionarLoteRps_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarNfse_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarNfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarNfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarNfse_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarNfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarLoteRps_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRps" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarLoteRps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseRps_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseRps" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseRps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseRpsResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseServicoPrestado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestado" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseServicoPrestado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestadoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseFaixa_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseFaixa" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseFaixa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseFaixaResponse" />
  </wsdl:message>
  <wsdl:portType name="INfseService">
    <wsdl:operation name="Versao">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/Versao" message="tns:INfseService_Versao_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/VersaoResponse" message="tns:INfseService_Versao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/RecepcionarLoteRps" message="tns:INfseService_RecepcionarLoteRps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/RecepcionarLoteRpsResponse" message="tns:INfseService_RecepcionarLoteRps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarNfse" message="tns:INfseService_GerarNfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarNfseResponse" message="tns:INfseService_GerarNfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarNfse" message="tns:INfseService_CancelarNfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarNfseResponse" message="tns:INfseService_CancelarNfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarLoteRps" message="tns:INfseService_ConsultarLoteRps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarLoteRpsResponse" message="tns:INfseService_ConsultarLoteRps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseRps">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseRps" message="tns:INfseService_ConsultarNfseRps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseRpsResponse" message="tns:INfseService_ConsultarNfseRps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseServicoPrestado" message="tns:INfseService_ConsultarNfseServicoPrestado_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseServicoPrestadoResponse" message="tns:INfseService_ConsultarNfseServicoPrestado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseFaixa">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseFaixa" message="tns:INfseService_ConsultarNfseFaixa_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseFaixaResponse" message="tns:INfseService_ConsultarNfseFaixa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INfseService" type="tns:INfseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Versao">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/Versao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/RecepcionarLoteRps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarNfse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarNfse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarLoteRps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseRps">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseRps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseServicoPrestado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseFaixa">
      <soap:operation soapAction="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseFaixa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfseService">
    <wsdl:port name="BasicHttpBinding_INfseService" binding="tns:BasicHttpBinding_INfseService">
      <soap:address location="http://wsblumenau.simplissweb.com.br/nfseservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>