WSDL/Producao/PBoituvaSP-recepcionarloterpssincrono.wsdl

<?xml version = "1.0" encoding = "utf-8"?>
<definitions name="RecepcionarLoteRpsSincrono" targetNamespace="Abrasf2" xmlns:wsdlns="Abrasf2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Abrasf2">
	<types>
		<schema targetNamespace="Abrasf2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="RecepcionarLoteRpsSincrono.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Entrada" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="RecepcionarLoteRpsSincrono.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Resposta" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="RecepcionarLoteRpsSincrono.ExecuteSoapIn">
		<part name="parameters" element="tns:RecepcionarLoteRpsSincrono.Execute" />
	</message>
	<message name="RecepcionarLoteRpsSincrono.ExecuteSoapOut">
		<part name="parameters" element="tns:RecepcionarLoteRpsSincrono.ExecuteResponse" />
	</message>
	<portType name="RecepcionarLoteRpsSincronoSoapPort">
		<operation name="Execute">
			<input message="wsdlns:RecepcionarLoteRpsSincrono.ExecuteSoapIn" />
			<output message="wsdlns:RecepcionarLoteRpsSincrono.ExecuteSoapOut" />
		</operation>
	</portType>
	<binding name="RecepcionarLoteRpsSincronoSoapBinding" type="wsdlns:RecepcionarLoteRpsSincronoSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Execute">
			<soap:operation soapAction="Abrasf2action/ARECEPCIONARLOTERPSSINCRONO.Execute" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="RecepcionarLoteRpsSincrono">
		<port name="RecepcionarLoteRpsSincronoSoapPort" binding="wsdlns:RecepcionarLoteRpsSincronoSoapBinding">
			<soap:address location="https://boituva.4rtec.com.br/abrasf/arecepcionarloterpssincrono.aspx" />
		</port>
	</service>
</definitions>
