WSDL/Producao/PCaboDeSantoAgostinhoPE-CancelarNfse-TINUS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns2="http://www.w3.org/2000/09/xmldsig#" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.tinus.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.tinus.com.br">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.tinus.com.br">
            <s:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
            <s:element name="CancelarNfse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="Arg" type="s0:CancelarNfseEnvio"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="CancelarNfseEnvio">
                <s:sequence>
                    <s:element name="Pedido" type="s0:tcPedidoCancelamento"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcPedidoCancelamento">
                <s:sequence>
                    <s:element name="InfPedidoCancelamento" type="s0:tcInfPedidoCancelamento"/>
                    <s:element minOccurs="0" ref="ns2:Signature"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcInfPedidoCancelamento">
                <s:sequence>
                    <s:element name="IdentificacaoNfse" type="s0:tcIdentificacaoNfse"/>
                    <s:element name="CodigoCancelamento" type="s0:tsCodigoCancelamentoNfse"/>
                </s:sequence>
                <s:attribute name="id" type="s0:tsIdTag"/>
            </s:complexType>
            <s:complexType name="tcIdentificacaoNfse">
                <s:sequence>
                    <s:element name="Numero" type="s0:tsNumeroNfse"/>
                    <s:element name="Cnpj" type="s0:tsCnpj"/>
                    <s:element minOccurs="0" name="InscricaoMunicipal" type="s0:tsInscricaoMunicipal"/>
                    <s:element name="CodigoMunicipio" type="s0:tsCodigoMunicipioIbge"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsNumeroNfse">
                <s:restriction base="s:nonNegativeInteger">
                    <s:minInclusive value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCnpj">
                <s:restriction base="s:string">
                    <s:maxLength value="14"/>
                    <s:minLength value="14"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsInscricaoMunicipal">
                <s:restriction base="s:string">
                    <s:maxLength value="15"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCodigoMunicipioIbge">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCodigoCancelamentoNfse">
                <s:restriction base="s:string">
                    <s:maxLength value="4"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsIdTag">
                <s:restriction base="s:string">
                    <s:maxLength value="255"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="SignatureType">
                <s:sequence>
                    <s:element ref="s0:SignedInfo"/>
                    <s:element ref="s0:SignatureValue"/>
                    <s:element minOccurs="0" ref="s0:KeyInfo"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:Object"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
            </s:complexType>
            <s:element name="SignedInfo" type="s0:SignedInfoType"/>
            <s:element name="SignatureValue" type="s0:SignatureValueType"/>
            <s:element name="KeyInfo" type="s0:KeyInfoType"/>
            <s:element name="Object" nillable="true" type="s0:ObjectType"/>
            <s:complexType name="SignedInfoType">
                <s:sequence>
                    <s:element ref="s0:CanonicalizationMethod"/>
                    <s:element ref="s0:SignatureMethod"/>
                    <s:element maxOccurs="unbounded" ref="s0:Reference"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
            </s:complexType>
            <s:element name="CanonicalizationMethod" type="s0:CanonicalizationMethodType"/>
            <s:element name="SignatureMethod" type="s0:SignatureMethodType"/>
            <s:element name="Reference" type="s0:ReferenceType"/>
            <s:complexType name="CanonicalizationMethodType">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="Algorithm" type="s:string" use="required"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:complexType mixed="true" name="SignatureMethodType">
                <s:sequence>
                    <s:element minOccurs="0" name="HMACOutputLength" type="s0:HMACOutputLengthType"/>
                </s:sequence>
                <s:attribute name="Algorithm" type="s:string" use="required"/>
            </s:complexType>
            <s:simpleType name="HMACOutputLengthType">
                <s:restriction base="s:long"/>
            </s:simpleType>
            <s:complexType name="ArrayOfReferenceTypeReferenceType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ReferenceType" nillable="true" type="s0:ReferenceType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ReferenceType">
                <s:sequence>
                    <s:element minOccurs="0" ref="s0:Transforms"/>
                    <s:element ref="s0:DigestMethod"/>
                    <s:element ref="s0:DigestValue"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
                <s:attribute name="URI" type="s:string"/>
                <s:attribute name="Type" type="s:string"/>
            </s:complexType>
            <s:element name="Transforms" type="s0:TransformsType"/>
            <s:element name="DigestMethod" type="s0:DigestMethodType"/>
            <s:element name="DigestValue" type="s0:DigestValueType"/>
            <s:complexType name="TransformsType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" ref="s0:Transform"/>
                </s:sequence>
            </s:complexType>
            <s:element name="Transform" type="s0:TransformType"/>
            <s:complexType name="ArrayOfTransformTypeTransformType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="TransformType" nillable="true" type="s0:TransformType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType mixed="true" name="TransformType">
                <s:sequence>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="XPath" nillable="true" type="s:string"/>
                </s:sequence>
                <s:attribute name="Algorithm" type="s:string" use="required"/>
            </s:complexType>
            <s:complexType name="ArrayOfXPathItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="XPathItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="DigestMethodType">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="Algorithm" type="s:string" use="required"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:simpleType name="DigestValueType">
                <s:restriction base="s:base64Binary"/>
            </s:simpleType>
            <s:complexType name="SignatureValueType">
                <s:simpleContent>
                    <s:extension base="s:base64Binary">
                        <s:attribute name="Id" type="s:string"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:complexType mixed="true" name="KeyInfoType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:KeyName"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:KeyValue"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:RetrievalMethod"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:X509Data"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:PGPData"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:SPKIData"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:MgmtData"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
            </s:complexType>
            <s:element name="KeyName" nillable="true" type="s:string"/>
            <s:element name="KeyValue" nillable="true" type="s0:KeyValueType"/>
            <s:element name="RetrievalMethod" nillable="true" type="s0:RetrievalMethodType"/>
            <s:element name="X509Data" nillable="true" type="s0:X509DataType"/>
            <s:element name="PGPData" nillable="true" type="s0:PGPDataType"/>
            <s:element name="SPKIData" nillable="true" type="s0:SPKIDataType"/>
            <s:element name="MgmtData" nillable="true" type="s:string"/>
            <s:complexType name="ArrayOfKeyNameItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="KeyNameItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfKeyValueTypeKeyValueType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="KeyValueType" nillable="true" type="s0:KeyValueType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType mixed="true" name="KeyValueType">
                <s:sequence>
                    <s:element minOccurs="0" ref="s0:DSAKeyValue"/>
                    <s:element minOccurs="0" ref="s0:RSAKeyValue"/>
                    <s:any minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:element name="DSAKeyValue" type="s0:DSAKeyValueType"/>
            <s:element name="RSAKeyValue" type="s0:RSAKeyValueType"/>
            <s:complexType name="DSAKeyValueType">
                <s:sequence>
                    <s:element name="P" type="s0:CryptoBinary"/>
                    <s:element name="Q" type="s0:CryptoBinary"/>
                    <s:element minOccurs="0" name="G" type="s0:CryptoBinary"/>
                    <s:element name="Y" type="s0:CryptoBinary"/>
                    <s:element minOccurs="0" name="J" type="s0:CryptoBinary"/>
                    <s:element name="Seed" type="s0:CryptoBinary"/>
                    <s:element name="PgenCounter" type="s0:CryptoBinary"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="CryptoBinary">
                <s:restriction base="s:base64Binary"/>
            </s:simpleType>
            <s:complexType name="RSAKeyValueType">
                <s:sequence>
                    <s:element name="Modulus" type="s0:CryptoBinary"/>
                    <s:element name="Exponent" type="s0:CryptoBinary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfRetrievalMethodTypeRetrievalMethodType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="RetrievalMethodType" nillable="true" type="s0:RetrievalMethodType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="RetrievalMethodType">
                <s:sequence>
                    <s:element minOccurs="0" ref="s0:Transforms"/>
                </s:sequence>
                <s:attribute name="URI" type="s:string"/>
                <s:attribute name="Type" type="s:string"/>
            </s:complexType>
            <s:complexType name="ArrayOfX509DataTypeX509DataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509DataType" nillable="true" type="s0:X509DataType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="X509DataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509IssuerSerial" nillable="true" type="s0:X509IssuerSerialType"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SKI" nillable="true" type="s:base64Binary"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SubjectName" nillable="true" type="s:string"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509Certificate" nillable="true" type="s:base64Binary"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509CRL" nillable="true" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509IssuerSerialTypeX509IssuerSerialType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509IssuerSerialType" nillable="true" type="s0:X509IssuerSerialType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="X509IssuerSerialType">
                <s:sequence>
                    <s:element name="X509IssuerName" type="s:string"/>
                    <s:element name="X509SerialNumber" type="s:long"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509SKIItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SKIItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509SubjectNameItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SubjectNameItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509CertificateItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509CertificateItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509CRLItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509CRLItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfPGPDataTypePGPDataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="PGPDataType" nillable="true" type="s0:PGPDataType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PGPDataType">
                <s:sequence>
                    <s:element minOccurs="0" name="PGPKeyID" type="s:base64Binary"/>
                    <s:element minOccurs="0" name="PGPKeyPacket" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                    <s:element minOccurs="0" name="PGPKeyPacket" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfSPKIDataTypeSPKIDataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="SPKIDataType" nillable="true" type="s0:SPKIDataType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="SPKIDataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" name="SPKISexp" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfSPKISexpItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="SPKISexpItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfMgmtDataItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="MgmtDataItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfObjectTypeObjectType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ObjectType" nillable="true" type="s0:ObjectType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ObjectType">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="Id" type="s:string"/>
                        <s:attribute name="MimeType" type="s:string"/>
                        <s:attribute name="Encoding" type="s:string"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:element name="CancelarNfseResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="CancelarNfseResult" type="s0:CancelarNfseResposta"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="CancelarNfseResposta">
                <s:sequence>
                    <s:element minOccurs="0" name="Cancelamento" type="s0:tcCancelamentoNfse"/>
                    <s:element minOccurs="0" ref="s0:ListaMensagemRetorno"/>
                </s:sequence>
            </s:complexType>
            <s:element name="ListaMensagemRetorno" type="s0:ArrayOfMensagemRetornotcMensagemRetorno"/>
            <s:complexType name="tcCancelamentoNfse">
                <s:sequence>
                    <s:element name="Confirmacao" type="s0:tcConfirmacaoCancelamento"/>
                    <s:element ref="ns2:Signature"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcConfirmacaoCancelamento">
                <s:sequence>
                    <s:element name="Pedido" type="s0:tcPedidoCancelamento"/>
                    <s:element name="DataHoraCancelamento" type="s:dateTime"/>
                </s:sequence>
                <s:attribute name="id" type="s0:tsIdTag"/>
            </s:complexType>
            <s:complexType name="ArrayOfMensagemRetornotcMensagemRetorno">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="MensagemRetorno" nillable="true" type="s0:tcMensagemRetorno"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcMensagemRetorno">
                <s:sequence>
                    <s:element name="Codigo" type="s0:tsCodigoMensagemAlerta"/>
                    <s:element name="Mensagem" type="s0:tsDescricaoMensagemAlerta"/>
                    <s:element minOccurs="0" name="Correcao" type="s0:tsDescricaoMensagemAlerta"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsCodigoMensagemAlerta">
                <s:restriction base="s:string">
                    <s:maxLength value="4"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsDescricaoMensagemAlerta">
                <s:restriction base="s:string">
                    <s:maxLength value="200"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="Test">
                <s:complexType>
                    <s:sequence/>
                </s:complexType>
            </s:element>
            <s:element name="TestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="TestResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#">
            <s:import namespace="http://www.tinus.com.br"/>
            <s:element name="Signature" type="s0:SignatureType"/>
        </s:schema>
    </types>
    <message name="CancelarNfseSoapIn">
        <part name="parameters" element="s0:CancelarNfse"/>
    </message>
    <message name="CancelarNfseSoapOut">
        <part name="parameters" element="s0:CancelarNfseResponse"/>
    </message>
    <message name="TestSoapIn">
        <part name="parameters" element="s0:Test"/>
    </message>
    <message name="TestSoapOut">
        <part name="parameters" element="s0:TestResponse"/>
    </message>
    <portType name="CancelarNfseSoap">
        <operation name="CancelarNfse">
            <input message="s0:CancelarNfseSoapIn"/>
            <output message="s0:CancelarNfseSoapOut"/>
        </operation>
        <operation name="Test">
            <input message="s0:TestSoapIn"/>
            <output message="s0:TestSoapOut"/>
        </operation>
    </portType>
    <binding name="CancelarNfseSoap" type="s0:CancelarNfseSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CancelarNfse">
            <soap:operation soapAction="http://www.tinus.com.br/WSNFSE.CancelarNfse.CancelarNfse" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Test">
            <soap:operation soapAction="http://www.tinus.com.br/WSNFSE.CancelarNfse.Test" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CancelarNfse">
        <port name="CancelarNfseSoap" binding="s0:CancelarNfseSoap">
            <soap:address location="https://www.tinus.com.br:443/csp/cabo/WSNFSE.CancelarNfse.cls"/>
        </port>
    </service>
</definitions>