WSDL/Producao/PCaboFrioRJ_SuperNova.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IuWebServiceIssDigitalservice" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <message name="RecepcionarLoteRps0Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="RecepcionarLoteRps0Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="RecepcionarLoteRpsSincrono1Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="RecepcionarLoteRpsSincrono1Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GerarNfse2Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="GerarNfse2Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="CancelarNfse3Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="CancelarNfse3Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SubstituirNfse4Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="SubstituirNfse4Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ConsultarLoteRps5Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="ConsultarLoteRps5Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ConsultarNfsePorRps6Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="ConsultarNfsePorRps6Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ConsultarNfseServicoPrestado7Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="ConsultarNfseServicoPrestado7Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ConsultarNfseServicoTomado8Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="ConsultarNfseServicoTomado8Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ConsultarNfseFaixa9Request">
    <part name="Value" type="xs:string"/>
  </message>
  <message name="ConsultarNfseFaixa9Response">
    <part name="return" type="xs:string"/>
  </message>
  <portType name="IuWebServiceIssDigital">
    <operation name="RecepcionarLoteRps">
      <input message="tns:RecepcionarLoteRps0Request"/>
      <output message="tns:RecepcionarLoteRps0Response"/>
    </operation>
    <operation name="RecepcionarLoteRpsSincrono">
      <input message="tns:RecepcionarLoteRpsSincrono1Request"/>
      <output message="tns:RecepcionarLoteRpsSincrono1Response"/>
    </operation>
    <operation name="GerarNfse">
      <input message="tns:GerarNfse2Request"/>
      <output message="tns:GerarNfse2Response"/>
    </operation>
    <operation name="CancelarNfse">
      <input message="tns:CancelarNfse3Request"/>
      <output message="tns:CancelarNfse3Response"/>
    </operation>
    <operation name="SubstituirNfse">
      <input message="tns:SubstituirNfse4Request"/>
      <output message="tns:SubstituirNfse4Response"/>
    </operation>
    <operation name="ConsultarLoteRps">
      <input message="tns:ConsultarLoteRps5Request"/>
      <output message="tns:ConsultarLoteRps5Response"/>
    </operation>
    <operation name="ConsultarNfsePorRps">
      <input message="tns:ConsultarNfsePorRps6Request"/>
      <output message="tns:ConsultarNfsePorRps6Response"/>
    </operation>
    <operation name="ConsultarNfseServicoPrestado">
      <input message="tns:ConsultarNfseServicoPrestado7Request"/>
      <output message="tns:ConsultarNfseServicoPrestado7Response"/>
    </operation>
    <operation name="ConsultarNfseServicoTomado">
      <input message="tns:ConsultarNfseServicoTomado8Request"/>
      <output message="tns:ConsultarNfseServicoTomado8Response"/>
    </operation>
    <operation name="ConsultarNfseFaixa">
      <input message="tns:ConsultarNfseFaixa9Request"/>
      <output message="tns:ConsultarNfseFaixa9Response"/>
    </operation>
  </portType>
  <binding name="IuWebServiceIssDigitalbinding" type="tns:IuWebServiceIssDigital">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RecepcionarLoteRps">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#RecepcionarLoteRps" style="rpc"/>
      <input message="tns:RecepcionarLoteRps0Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:RecepcionarLoteRps0Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="RecepcionarLoteRpsSincrono">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#RecepcionarLoteRpsSincrono" style="rpc"/>
      <input message="tns:RecepcionarLoteRpsSincrono1Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:RecepcionarLoteRpsSincrono1Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="GerarNfse">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#GerarNfse" style="rpc"/>
      <input message="tns:GerarNfse2Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:GerarNfse2Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="CancelarNfse">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#CancelarNfse" style="rpc"/>
      <input message="tns:CancelarNfse3Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:CancelarNfse3Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="SubstituirNfse">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#SubstituirNfse" style="rpc"/>
      <input message="tns:SubstituirNfse4Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:SubstituirNfse4Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="ConsultarLoteRps">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#ConsultarLoteRps" style="rpc"/>
      <input message="tns:ConsultarLoteRps5Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:ConsultarLoteRps5Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#ConsultarNfsePorRps" style="rpc"/>
      <input message="tns:ConsultarNfsePorRps6Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:ConsultarNfsePorRps6Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#ConsultarNfseServicoPrestado" style="rpc"/>
      <input message="tns:ConsultarNfseServicoPrestado7Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:ConsultarNfseServicoPrestado7Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#ConsultarNfseServicoTomado" style="rpc"/>
      <input message="tns:ConsultarNfseServicoTomado8Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:ConsultarNfseServicoTomado8Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
    <operation name="ConsultarNfseFaixa">
      <soap:operation soapAction="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital#ConsultarNfseFaixa" style="rpc"/>
      <input message="tns:ConsultarNfseFaixa9Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </input>
      <output message="tns:ConsultarNfseFaixa9Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uWebServiceIssDigitalIntf-IuWebServiceIssDigital"/>
      </output>
    </operation>
  </binding>
  <service name="IuWebServiceIssDigitalservice">
    <port name="IuWebServiceIssDigitalPort" binding="tns:IuWebServiceIssDigitalbinding">
      <soap:address location="http://138.204.67.170:17001/nfe/snissdigitalsvc.dll/soap/IuWebServiceIssDigital"/>
    </port>
  </service>
</definitions>

