WSDL/Producao/PCacadorSC-PUBLICA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.nfse.integracao.ws.publica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.nfse.integracao.ws.publica/" name="ServicesService">
<types />
<message name="RecepcionarLoteRps">
<part name="XML" type="xsd:string" />
</message>
<message name="RecepcionarLoteRpsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="GerarNfse">
<part name="XML" type="xsd:string" />
</message>
<message name="GerarNfseResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarSituacaoLoteRps">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarSituacaoLoteRpsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarNfsePorRps">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarNfsePorRpsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarLoteRps">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarLoteRpsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarNfseFaixa">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarNfseFaixaResponse">
<part name="return" type="xsd:string" />
</message>
<message name="CancelarNfse">
<part name="XML" type="xsd:string" />
</message>
<message name="CancelarNfseResponse">
<part name="return" type="xsd:string" />
</message>
<message name="SubstituirNfse">
<part name="XML" type="xsd:string" />
</message>
<message name="SubstituirNfseResponse">
<part name="return" type="xsd:string" />
</message>
<message name="RecepcionarLoteDir">
<part name="XML" type="xsd:string" />
</message>
<message name="RecepcionarLoteDirResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarSituacaoLoteDir">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarSituacaoLoteDirResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarLoteDir">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarLoteDirResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarDirFaixa">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarDirFaixaResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarDirEnvio">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarDirEnvioResponse">
<part name="return" type="xsd:string" />
</message>
<message name="CancelarDirEnvio">
<part name="XML" type="xsd:string" />
</message>
<message name="CancelarDirEnvioResponse">
<part name="return" type="xsd:string" />
</message>
<message name="CartaCorrecaoNfseEnvio">
<part name="XML" type="xsd:string" />
</message>
<message name="CartaCorrecaoNfseEnvioResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ConsultarNfseRecebida">
<part name="XML" type="xsd:string" />
</message>
<message name="ConsultarNfseRecebidaResponse">
<part name="return" type="xsd:string" />
</message>
<portType name="Services">
<operation name="RecepcionarLoteRps">
<input message="tns:RecepcionarLoteRps" />
<output message="tns:RecepcionarLoteRpsResponse" />
</operation>
<operation name="GerarNfse">
<input message="tns:GerarNfse" />
<output message="tns:GerarNfseResponse" />
</operation>
<operation name="ConsultarSituacaoLoteRps">
<input message="tns:ConsultarSituacaoLoteRps" />
<output message="tns:ConsultarSituacaoLoteRpsResponse" />
</operation>
<operation name="ConsultarNfsePorRps">
<input message="tns:ConsultarNfsePorRps" />
<output message="tns:ConsultarNfsePorRpsResponse" />
</operation>
<operation name="ConsultarLoteRps">
<input message="tns:ConsultarLoteRps" />
<output message="tns:ConsultarLoteRpsResponse" />
</operation>
<operation name="ConsultarNfseFaixa">
<input message="tns:ConsultarNfseFaixa" />
<output message="tns:ConsultarNfseFaixaResponse" />
</operation>
<operation name="CancelarNfse">
<input message="tns:CancelarNfse" />
<output message="tns:CancelarNfseResponse" />
</operation>
<operation name="SubstituirNfse">
<input message="tns:SubstituirNfse" />
<output message="tns:SubstituirNfseResponse" />
</operation>
<operation name="RecepcionarLoteDir">
<input message="tns:RecepcionarLoteDir" />
<output message="tns:RecepcionarLoteDirResponse" />
</operation>
<operation name="ConsultarSituacaoLoteDir">
<input message="tns:ConsultarSituacaoLoteDir" />
<output message="tns:ConsultarSituacaoLoteDirResponse" />
</operation>
<operation name="ConsultarLoteDir">
<input message="tns:ConsultarLoteDir" />
<output message="tns:ConsultarLoteDirResponse" />
</operation>
<operation name="ConsultarDirFaixa">
<input message="tns:ConsultarDirFaixa" />
<output message="tns:ConsultarDirFaixaResponse" />
</operation>
<operation name="ConsultarDirEnvio">
<input message="tns:ConsultarDirEnvio" />
<output message="tns:ConsultarDirEnvioResponse" />
</operation>
<operation name="CancelarDirEnvio">
<input message="tns:CancelarDirEnvio" />
<output message="tns:CancelarDirEnvioResponse" />
</operation>
<operation name="CartaCorrecaoNfseEnvio">
<input message="tns:CartaCorrecaoNfseEnvio" />
<output message="tns:CartaCorrecaoNfseEnvioResponse" />
</operation>
<operation name="ConsultarNfseRecebida">
<input message="tns:ConsultarNfseRecebida" />
<output message="tns:ConsultarNfseRecebidaResponse" />
</operation>
</portType>
<binding name="ServicesPortBinding" type="tns:Services">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="RecepcionarLoteRps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="GerarNfse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarSituacaoLoteRps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarNfsePorRps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarLoteRps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarNfseFaixa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="CancelarNfse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="SubstituirNfse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="RecepcionarLoteDir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarSituacaoLoteDir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarLoteDir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarDirFaixa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarDirEnvio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="CancelarDirEnvio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="CartaCorrecaoNfseEnvio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
<operation name="ConsultarNfseRecebida">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/" />
</output>
</operation>
</binding>
<service name="ServicesService">
<port name="ServicesPort" binding="tns:ServicesPortBinding">
<soap:address location="http://nfse1.publica.inf.br:80/cacador_nfse_integracao/Services" />
</port>
</service>
</definitions>