WSDL/Producao/PCamboriuSC-SIMPLE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org" name="NFSePrefeituraCamboriu" targetNamespace="http://tempuri.org">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <xs:complexType name="Nota">
        <xs:sequence>
          <xs:element name="sRetorno" type="xs:string"/>
          <xs:element name="sContribuinte" type="xs:string"/>
          <xs:element name="iRecibo" type="xs:int"/>
          <xs:element name="dDataRecibo" type="xs:date"/>
          <xs:element name="iNota" type="xs:int"/>
          <xs:element name="sSerie" type="xs:string"/>
          <xs:element name="dDataEmissao" type="xs:date"/>
          <xs:element name="sCodigoVerificador" type="xs:string"/>
          <xs:element name="sSituacao" type="xs:string"/>
          <xs:element name="sSt" type="xs:string"/>
          <xs:element name="sTributacao" type="xs:string"/>
          <xs:element name="nValorTotal" type="xs:decimal"/>
          <xs:element name="nValorIss" type="xs:decimal"/>
          <xs:element name="nValorBaseCalculo" type="xs:decimal"/>
          <xs:element name="tTomador" type="tns:Tomador"/>
          <xs:element name="iLinhas" type="xs:int"/>
          <xs:element name="nIrAliquota" type="xs:decimal"/>
          <xs:element name="nIrValor" type="xs:decimal"/>
          <xs:element name="nPisPasep" type="xs:decimal"/>
          <xs:element name="nCofins" type="xs:decimal"/>
          <xs:element name="nInss" type="xs:decimal"/>
          <xs:element name="nCsll" type="xs:decimal"/>
          <xs:element name="tItens" type="tns:ArrayOfItens"/>
          <xs:element name="sObservacao1" type="xs:string"/>
          <xs:element name="sObservacao2" type="xs:string"/>
          <xs:element name="sObservacao3" type="xs:string"/>
          <xs:element name="sObservacao4" type="xs:string"/>
          <xs:element name="sObservacao5" type="xs:string"/>
          <xs:element name="sObservacao6" type="xs:string"/>
          <xs:element name="sObservacao7" type="xs:string"/>
          <xs:element name="sObservacao8" type="xs:string"/>
          <xs:element name="sObservacao9" type="xs:string"/>
          <xs:element name="sObservacao10" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Tomador">
        <xs:sequence>
          <xs:element name="sCPFTomador" type="xs:string"/>
          <xs:element name="sNomeTomador" type="xs:string"/>
          <xs:element name="sCidadeTomador" type="xs:string"/>
          <xs:element name="sEnderecoTomador" type="xs:string"/>
          <xs:element name="sEmailTomador" type="xs:string"/>
          <xs:element name="sUfTomador" type="xs:string"/>
          <xs:element name="sTipoTomador" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Itens">
        <xs:sequence>
          <xs:element name="iSequencia" type="xs:int"/>
          <xs:element name="iServico" type="xs:int"/>
          <xs:element name="sCNAE" type="xs:string"/>
          <xs:element name="nValorServico" type="xs:decimal"/>
          <xs:element name="sDescricao" type="xs:string"/>
          <xs:element name="nAliquota" type="xs:decimal"/>
          <xs:element name="nValorIss" type="xs:decimal"/>
          <xs:element name="nValorTotal" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelamentoNota">
        <xs:sequence>
          <xs:element name="sRetornoCanc" type="xs:string"/>
          <xs:element name="sContribuinteCanc" type="xs:string"/>
          <xs:element name="iNotaCanc" type="xs:int"/>
          <xs:element name="sSerieCanc" type="xs:string"/>
          <xs:element name="dDataCancelamento" type="xs:date"/>
          <xs:element name="sMotivoCanc" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfItens">
        <xs:sequence>
          <xs:element name="Itens" type="tns:Itens" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfNota">
        <xs:sequence>
          <xs:element name="Nota" type="tns:Nota" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfCancelamentoNota">
        <xs:sequence>
          <xs:element name="CancelamentoNota" type="tns:CancelamentoNota" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ConsultaNota">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iCMC" type="xs:int"/>
            <xs:element name="sLogin" type="xs:string"/>
            <xs:element name="sSenha" type="xs:string"/>
            <xs:element name="iNota" type="xs:int"/>
            <xs:element name="sCPFCNPJ" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultaNotaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConsultaNotaResult" type="tns:ArrayOfNota"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultaNotaporRPS">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iCMC" type="xs:int"/>
            <xs:element name="sLogin" type="xs:string"/>
            <xs:element name="sSenha" type="xs:string"/>
            <xs:element name="iRPS" type="xs:int"/>
            <xs:element name="sCPFCNPJ" type="xs:string"/>
            <xs:element name="dDataRecibo" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultaNotaporRPSResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ConsultaNotaporRPSResult" type="tns:ArrayOfNota"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListarNotas">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iCMC" type="xs:int"/>
            <xs:element name="sLogin" type="xs:string"/>
            <xs:element name="sSenha" type="xs:string"/>
            <xs:element name="dDataInicial" type="xs:date"/>
            <xs:element name="dDataFinal" type="xs:date"/>
            <xs:element name="sCPFCNPJ" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListarNotasResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ListarNotasResult" type="tns:ArrayOfNota"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CancelarNota">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tCancelamentoNota" type="tns:ArrayOfCancelamentoNota"/>
            <xs:element name="iCMC" type="xs:int"/>
            <xs:element name="sLogin" type="xs:string"/>
            <xs:element name="sSenha" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CancelarNotaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CancelarNotaResult" type="tns:ArrayOfCancelamentoNota"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LeRPSeGravaNota">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tNota" type="tns:ArrayOfNota"/>
            <xs:element name="iCMC" type="xs:int"/>
            <xs:element name="sLogin" type="xs:string"/>
            <xs:element name="sSenha" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LeRPSeGravaNotaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LeRPSeGravaNotaResult" type="tns:ArrayOfNota"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="ConsultaNotaSoapRequest">
    <part name="parameters" element="tns:ConsultaNota"/>
  </message>
  <message name="ConsultaNotaSoapResponse">
    <part name="parameters" element="tns:ConsultaNotaResponse"/>
  </message>
  <message name="ConsultaNotaporRPSSoapRequest">
    <part name="parameters" element="tns:ConsultaNotaporRPS"/>
  </message>
  <message name="ConsultaNotaporRPSSoapResponse">
    <part name="parameters" element="tns:ConsultaNotaporRPSResponse"/>
  </message>
  <message name="ListarNotasSoapRequest">
    <part name="parameters" element="tns:ListarNotas"/>
  </message>
  <message name="ListarNotasSoapResponse">
    <part name="parameters" element="tns:ListarNotasResponse"/>
  </message>
  <message name="CancelarNotaSoapRequest">
    <part name="parameters" element="tns:CancelarNota"/>
  </message>
  <message name="CancelarNotaSoapResponse">
    <part name="parameters" element="tns:CancelarNotaResponse"/>
  </message>
  <message name="LeRPSeGravaNotaSoapRequest">
    <part name="parameters" element="tns:LeRPSeGravaNota"/>
  </message>
  <message name="LeRPSeGravaNotaSoapResponse">
    <part name="parameters" element="tns:LeRPSeGravaNotaResponse"/>
  </message>
  <portType name="NFSePrefeituraCamboriuSoapType">
    <operation name="ConsultaNota">
      <documentation>Consultar Nota </documentation>
      <input message="tns:ConsultaNotaSoapRequest"/>
      <output message="tns:ConsultaNotaSoapResponse"/>
    </operation>
    <operation name="ConsultaNotaporRPS">
      <documentation>Consultar Nota por RPS</documentation>
      <input message="tns:ConsultaNotaporRPSSoapRequest"/>
      <output message="tns:ConsultaNotaporRPSSoapResponse"/>
    </operation>
    <operation name="ListarNotas">
      <documentation>Listar Notas </documentation>
      <input message="tns:ListarNotasSoapRequest"/>
      <output message="tns:ListarNotasSoapResponse"/>
    </operation>
    <operation name="CancelarNota">
      <documentation>Cancelar Nota </documentation>
      <input message="tns:CancelarNotaSoapRequest"/>
      <output message="tns:CancelarNotaSoapResponse"/>
    </operation>
    <operation name="LeRPSeGravaNota">
      <documentation>Recepção e Processamento de Lote de RPS</documentation>
      <input message="tns:LeRPSeGravaNotaSoapRequest"/>
      <output message="tns:LeRPSeGravaNotaSoapResponse"/>
    </operation>
  </portType>
  <binding name="NFSePrefeituraCamboriuSoapBinding" type="tns:NFSePrefeituraCamboriuSoapType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ConsultaNota">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaNotaporRPS">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ListarNotas">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelarNota">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LeRPSeGravaNota">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NFSePrefeituraCamboriu">
    <documentation>Prefeitura de Camboriu Web Service - Documentação</documentation>
    <port name="NFSePrefeituraCamboriuSoap" binding="tns:NFSePrefeituraCamboriuSoapBinding">
      <soap:address location="http://simple.camboriu.sc.gov.br/LISIPMC/NFSePrefeituraCamboriu.wso"/>
    </port>
  </service>
</definitions>
