WSDL/Producao/PCariacicaES_SMARAPD_203.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nfse.abrasf.org.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://nfse.abrasf.org.br" name="Abrasf23">
<types>
<xsd:schema>
<xsd:import namespace="http://nfse.abrasf.org.br" schemaLocation="http://servicos.cariacica.es.gov.br:8080/tbw/services/Abrasf23?xsd=1" />
</xsd:schema>
</types>
<message name="consultarLoteRps">
<part name="parameters" element="tns:consultarLoteRps" />
</message>
<message name="consultarLoteRpsResponse">
<part name="parameters" element="tns:consultarLoteRpsResponse" />
</message>
<message name="cancelarNfse">
<part name="parameters" element="tns:cancelarNfse" />
</message>
<message name="cancelarNfseResponse">
<part name="parameters" element="tns:cancelarNfseResponse" />
</message>
<message name="substituirNfse">
<part name="parameters" element="tns:substituirNfse" />
</message>
<message name="substituirNfseResponse">
<part name="parameters" element="tns:substituirNfseResponse" />
</message>
<message name="gerarNfse">
<part name="parameters" element="tns:gerarNfse" />
</message>
<message name="gerarNfseResponse">
<part name="parameters" element="tns:gerarNfseResponse" />
</message>
<message name="consultarNfseServicoPrestado">
<part name="parameters" element="tns:consultarNfseServicoPrestado" />
</message>
<message name="consultarNfseServicoPrestadoResponse">
<part name="parameters" element="tns:consultarNfseServicoPrestadoResponse" />
</message>
<message name="consultarNfseServicoTomado">
<part name="parameters" element="tns:consultarNfseServicoTomado" />
</message>
<message name="consultarNfseServicoTomadoResponse">
<part name="parameters" element="tns:consultarNfseServicoTomadoResponse" />
</message>
<message name="consultarNfsePorFaixa">
<part name="parameters" element="tns:consultarNfsePorFaixa" />
</message>
<message name="consultarNfsePorFaixaResponse">
<part name="parameters" element="tns:consultarNfsePorFaixaResponse" />
</message>
<message name="consultarNfsePorRps">
<part name="parameters" element="tns:consultarNfsePorRps" />
</message>
<message name="consultarNfsePorRpsResponse">
<part name="parameters" element="tns:consultarNfsePorRpsResponse" />
</message>
<message name="recepcionarLoteRpsSincrono">
<part name="parameters" element="tns:recepcionarLoteRpsSincrono" />
</message>
<message name="recepcionarLoteRpsSincronoResponse">
<part name="parameters" element="tns:recepcionarLoteRpsSincronoResponse" />
</message>
<message name="recepcionarLoteRps">
<part name="parameters" element="tns:recepcionarLoteRps" />
</message>
<message name="recepcionarLoteRpsResponse">
<part name="parameters" element="tns:recepcionarLoteRpsResponse" />
</message>
<portType name="Abrasf23">
<operation name="consultarLoteRps">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarLoteRpsRequest" message="tns:consultarLoteRps" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarLoteRpsResponse" message="tns:consultarLoteRpsResponse" />
</operation>
<operation name="cancelarNfse">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/cancelarNfseRequest" message="tns:cancelarNfse" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/cancelarNfseResponse" message="tns:cancelarNfseResponse" />
</operation>
<operation name="substituirNfse">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/substituirNfseRequest" message="tns:substituirNfse" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/substituirNfseResponse" message="tns:substituirNfseResponse" />
</operation>
<operation name="gerarNfse">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/gerarNfseRequest" message="tns:gerarNfse" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/gerarNfseResponse" message="tns:gerarNfseResponse" />
</operation>
<operation name="consultarNfseServicoPrestado">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfseServicoPrestadoRequest" message="tns:consultarNfseServicoPrestado" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfseServicoPrestadoResponse" message="tns:consultarNfseServicoPrestadoResponse" />
</operation>
<operation name="consultarNfseServicoTomado">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfseServicoTomadoRequest" message="tns:consultarNfseServicoTomado" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfseServicoTomadoResponse" message="tns:consultarNfseServicoTomadoResponse" />
</operation>
<operation name="consultarNfsePorFaixa">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfsePorFaixaRequest" message="tns:consultarNfsePorFaixa" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfsePorFaixaResponse" message="tns:consultarNfsePorFaixaResponse" />
</operation>
<operation name="consultarNfsePorRps">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfsePorRpsRequest" message="tns:consultarNfsePorRps" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/consultarNfsePorRpsResponse" message="tns:consultarNfsePorRpsResponse" />
</operation>
<operation name="recepcionarLoteRpsSincrono">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/recepcionarLoteRpsSincronoRequest" message="tns:recepcionarLoteRpsSincrono" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/recepcionarLoteRpsSincronoResponse" message="tns:recepcionarLoteRpsSincronoResponse" />
</operation>
<operation name="recepcionarLoteRps">
<input wsam:Action="http://nfse.abrasf.org.br/Abrasf23/recepcionarLoteRpsRequest" message="tns:recepcionarLoteRps" />
<output wsam:Action="http://nfse.abrasf.org.br/Abrasf23/recepcionarLoteRpsResponse" message="tns:recepcionarLoteRpsResponse" />
</operation>
</portType>
<binding name="nfseSOAPBinding" type="tns:Abrasf23">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="consultarLoteRps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelarNfse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="substituirNfse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="gerarNfse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarNfseServicoPrestado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarNfseServicoTomado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarNfsePorFaixa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarNfsePorRps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="recepcionarLoteRpsSincrono">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="recepcionarLoteRps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Abrasf23">
<port name="nfseSOAP" binding="tns:nfseSOAPBinding">
<soap:address location="http://servicos.cariacica.es.gov.br:8080/tbw/services/Abrasf23" />
</port>
</service>
</definitions>