WSDL/Producao/PEstanciaVelhaRS-GetLivroFiscalXML.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mGetLivroFiscalXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mGetLivroFiscalXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mGetLivroFiscalXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mGetLivroFiscalXMLSoapIn">
    <wsdl:part name="parameters" element="tns:mGetLivroFiscalXML" />
  </wsdl:message>
  <wsdl:message name="mGetLivroFiscalXMLSoapOut">
    <wsdl:part name="parameters" element="tns:mGetLivroFiscalXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="GetLivroFiscalXMLSoap">
    <wsdl:operation name="mGetLivroFiscalXML">
      <wsdl:input message="tns:mGetLivroFiscalXMLSoapIn" />
      <wsdl:output message="tns:mGetLivroFiscalXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetLivroFiscalXMLSoap" type="tns:GetLivroFiscalXMLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mGetLivroFiscalXML">
      <soap:operation soapAction="http://tempuri.org/mGetLivroFiscalXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetLivroFiscalXMLSoap12" type="tns:GetLivroFiscalXMLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mGetLivroFiscalXML">
      <soap12:operation soapAction="http://tempuri.org/mGetLivroFiscalXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetLivroFiscalXML">
    <wsdl:port name="GetLivroFiscalXMLSoap" binding="tns:GetLivroFiscalXMLSoap">
      <soap:address location="http://estanciavelha.nfse-tecnos.com.br:9088/GetLivroFiscalXML.asmx" />
    </wsdl:port>
    <wsdl:port name="GetLivroFiscalXMLSoap12" binding="tns:GetLivroFiscalXMLSoap12">
      <soap12:address location="http://estanciavelha.nfse-tecnos.com.br:9088/GetLivroFiscalXML.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>