WSDL/Producao/PEstanciaVelhaRS-EnvioLivroFiscal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mEnvioLivroFiscal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mEnvioLivroFiscalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mEnvioLivroFiscalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mEnvioLivroFiscalSoapIn">
    <wsdl:part name="parameters" element="tns:mEnvioLivroFiscal" />
  </wsdl:message>
  <wsdl:message name="mEnvioLivroFiscalSoapOut">
    <wsdl:part name="parameters" element="tns:mEnvioLivroFiscalResponse" />
  </wsdl:message>
  <wsdl:portType name="EnvioLivroFiscalSoap">
    <wsdl:operation name="mEnvioLivroFiscal">
      <wsdl:input message="tns:mEnvioLivroFiscalSoapIn" />
      <wsdl:output message="tns:mEnvioLivroFiscalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnvioLivroFiscalSoap" type="tns:EnvioLivroFiscalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mEnvioLivroFiscal">
      <soap:operation soapAction="http://tempuri.org/mEnvioLivroFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnvioLivroFiscalSoap12" type="tns:EnvioLivroFiscalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mEnvioLivroFiscal">
      <soap12:operation soapAction="http://tempuri.org/mEnvioLivroFiscal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnvioLivroFiscal">
    <wsdl:port name="EnvioLivroFiscalSoap" binding="tns:EnvioLivroFiscalSoap">
      <soap:address location="http://estanciavelha.nfse-tecnos.com.br:9092/EnvioLivroFiscal.asmx" />
    </wsdl:port>
    <wsdl:port name="EnvioLivroFiscalSoap12" binding="tns:EnvioLivroFiscalSoap12">
      <soap12:address location="http://estanciavelha.nfse-tecnos.com.br:9092/EnvioLivroFiscal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>