WSDL/Producao/PEstacaoRS-SYSTEMPRO.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://NFSe.wsservices.systempro.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://NFSe.wsservices.systempro.com.br/" name="NfseService">
<types>
<xsd:schema>
<xsd:import namespace="http://NFSe.wsservices.systempro.com.br/" schemaLocation="https://sistema.pmestacao.com.br:8182/NfseService/NfseService?xsd=1"/>
</xsd:schema>
</types>
<message name="GerarNfse">
<part name="parameters" element="tns:GerarNfse"/>
</message>
<message name="GerarNfseResponse">
<part name="parameters" element="tns:GerarNfseResponse"/>
</message>
<message name="CancelarNfse">
<part name="parameters" element="tns:CancelarNfse"/>
</message>
<message name="CancelarNfseResponse">
<part name="parameters" element="tns:CancelarNfseResponse"/>
</message>
<message name="SubstituirNfse">
<part name="parameters" element="tns:SubstituirNfse"/>
</message>
<message name="SubstituirNfseResponse">
<part name="parameters" element="tns:SubstituirNfseResponse"/>
</message>
<message name="ConsultarNfseFaixa">
<part name="parameters" element="tns:ConsultarNfseFaixa"/>
</message>
<message name="ConsultarNfseFaixaResponse">
<part name="parameters" element="tns:ConsultarNfseFaixaResponse"/>
</message>
<message name="EnviarLoteRpsSincrono">
<part name="parameters" element="tns:EnviarLoteRpsSincrono"/>
</message>
<message name="EnviarLoteRpsSincronoResponse">
<part name="parameters" element="tns:EnviarLoteRpsSincronoResponse"/>
</message>
<portType name="NfseService">
<operation name="GerarNfse">
<input wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/GerarNfseRequest" message="tns:GerarNfse"/>
<output wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/GerarNfseResponse" message="tns:GerarNfseResponse"/>
</operation>
<operation name="CancelarNfse">
<input wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/CancelarNfseRequest" message="tns:CancelarNfse"/>
<output wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/CancelarNfseResponse" message="tns:CancelarNfseResponse"/>
</operation>
<operation name="SubstituirNfse">
<input wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/SubstituirNfseRequest" message="tns:SubstituirNfse"/>
<output wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/SubstituirNfseResponse" message="tns:SubstituirNfseResponse"/>
</operation>
<operation name="ConsultarNfseFaixa">
<input wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/ConsultarNfseFaixaRequest" message="tns:ConsultarNfseFaixa"/>
<output wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/ConsultarNfseFaixaResponse" message="tns:ConsultarNfseFaixaResponse"/>
</operation>
<operation name="EnviarLoteRpsSincrono">
<input wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/EnviarLoteRpsSincronoRequest" message="tns:EnviarLoteRpsSincrono"/>
<output wsam:Action="http://NFSe.wsservices.systempro.com.br/NfseService/EnviarLoteRpsSincronoResponse" message="tns:EnviarLoteRpsSincronoResponse"/>
</operation>
</portType>
<binding name="NfseServicePortBinding" type="tns:NfseService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GerarNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CancelarNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SubstituirNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarNfseFaixa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EnviarLoteRpsSincrono">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NfseService">
<port name="NfseServicePort" binding="tns:NfseServicePortBinding">
<soap:address location="https://sistema.pmestacao.com.br:8182/NfseService/NfseService"/>
</port>
</service>
</definitions>