WSDL/Producao/PItapevaSP-PRODATA-NotapdfWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="notapdf" targetNamespace="http://services.notapdf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ws="http://services.notapdf" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.notapdf">
      <xsd:complexType name="input">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="notapdfCabecMsg" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="notapdfDadosMsg" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="output">
        <xsd:sequence>
          <xsd:element name="outputXML" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ConsultarNotapdfRequest" type="ws:input"/>
      <xsd:element name="ConsultarNotapdfResponse" type="ws:output"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarNotapdfRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNotapdfRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNotapdfResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNotapdfResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="notapdf">
    <wsdl:operation name="ConsultarNotapdf">
      <wsdl:input message="ws:ConsultarNotapdfRequest">
    </wsdl:input>
      <wsdl:output message="ws:ConsultarNotapdfResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="notapdfSOAP" type="ws:notapdf">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarNotapdf">
      <soap:operation soapAction="http://services.notapdf/ConsultarNotapdf"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotapdfWSService">
    <wsdl:port name="notapdfSOAP" binding="ws:notapdfSOAP">
      <soap:address location="https://itapeva.prodataweb.inf.br/prodataws/services/NotapdfWSService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
