WSDL/Producao/PItapetiningaSP-consultarnfseporrps.wsdl

<?xml version = "1.0" encoding = "utf-8"?>
<definitions name="ConsultarNfsePorRps" targetNamespace="Abrasf2" xmlns:wsdlns="Abrasf2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Abrasf2">
	<types>
		<schema targetNamespace="Abrasf2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="ConsultarNfsePorRps.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Entrada" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="ConsultarNfsePorRps.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Resposta" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="ConsultarNfsePorRps.ExecuteSoapIn">
		<part name="parameters" element="tns:ConsultarNfsePorRps.Execute" />
	</message>
	<message name="ConsultarNfsePorRps.ExecuteSoapOut">
		<part name="parameters" element="tns:ConsultarNfsePorRps.ExecuteResponse" />
	</message>
	<portType name="ConsultarNfsePorRpsSoapPort">
		<operation name="Execute">
			<input message="wsdlns:ConsultarNfsePorRps.ExecuteSoapIn" />
			<output message="wsdlns:ConsultarNfsePorRps.ExecuteSoapOut" />
		</operation>
	</portType>
	<binding name="ConsultarNfsePorRpsSoapBinding" type="wsdlns:ConsultarNfsePorRpsSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Execute">
			<soap:operation soapAction="Abrasf2action/ACONSULTARNFSEPORRPS.Execute" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ConsultarNfsePorRps">
		<port name="ConsultarNfsePorRpsSoapPort" binding="wsdlns:ConsultarNfsePorRpsSoapBinding">
			<soap:address location="http://itapetininga.sistemas4r.com.br/abrasf/aconsultarnfseporrps.aspx" />
		</port>
	</service>
</definitions>
