WSDL/Producao/PItaporangaSP-FIORILLI.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="IssWebWS" targetNamespace="http://ws.issweb.fiorilli.com.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.issweb.fiorilli.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" version="1.0" xmlns:tns="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="CanonicalizationMethod" type="tns:CanonicalizationMethodType"/>
<xs:element name="DSAKeyValue" type="tns:DSAKeyValueType"/>
<xs:element name="DigestMethod" type="tns:DigestMethodType"/>
<xs:element name="DigestValue" type="xs:base64Binary"/>
<xs:element name="KeyInfo" type="tns:KeyInfoType"/>
<xs:element name="KeyName" type="xs:string"/>
<xs:element name="KeyValue" type="tns:KeyValueType"/>
<xs:element name="Manifest" type="tns:ManifestType"/>
<xs:element name="MgmtData" type="xs:string"/>
<xs:element name="Object" type="tns:ObjectType"/>
<xs:element name="PGPData" type="tns:PGPDataType"/>
<xs:element name="RSAKeyValue" type="tns:RSAKeyValueType"/>
<xs:element name="Reference" type="tns:ReferenceType"/>
<xs:element name="RetrievalMethod" type="tns:RetrievalMethodType"/>
<xs:element name="SPKIData" type="tns:SPKIDataType"/>
<xs:element name="Signature" type="tns:SignatureType"/>
<xs:element name="SignatureMethod" type="tns:SignatureMethodType"/>
<xs:element name="SignatureProperties" type="tns:SignaturePropertiesType"/>
<xs:element name="SignatureProperty" type="tns:SignaturePropertyType"/>
<xs:element name="SignatureValue" type="tns:SignatureValueType"/>
<xs:element name="SignedInfo" type="tns:SignedInfoType"/>
<xs:element name="Transform" type="tns:TransformType"/>
<xs:element name="Transforms" type="tns:TransformsType"/>
<xs:element name="X509Data" type="tns:X509DataType"/>
<xs:complexType name="SignatureType">
    <xs:sequence>
      <xs:element name="SignedInfo" type="tns:SignedInfoType"/>
      <xs:element name="SignatureValue" type="tns:SignatureValueType"/>
      <xs:element minOccurs="0" name="KeyInfo" type="tns:KeyInfoType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Object" type="tns:ObjectType"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID"/>
  </xs:complexType>
<xs:complexType name="SignedInfoType">
    <xs:sequence>
      <xs:element name="CanonicalizationMethod" type="tns:CanonicalizationMethodType"/>
      <xs:element name="SignatureMethod" type="tns:SignatureMethodType"/>
      <xs:element maxOccurs="unbounded" name="Reference" type="tns:ReferenceType"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID"/>
  </xs:complexType>
<xs:complexType mixed="true" name="CanonicalizationMethodType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
  </xs:complexType>
<xs:complexType mixed="true" name="ObjectType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID"/>
    <xs:attribute name="MimeType" type="xs:string"/>
    <xs:attribute name="Encoding" type="xs:anyURI"/>
  </xs:complexType>
<xs:complexType name="X509IssuerSerialType">
    <xs:sequence>
      <xs:element name="X509IssuerName" type="xs:string"/>
      <xs:element name="X509SerialNumber" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="X509DataType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="X509IssuerSerial" type="tns:X509IssuerSerialType"/>
        <xs:element name="X509CRL" type="xs:base64Binary"/>
        <xs:element name="X509SKI" type="xs:base64Binary"/>
        <xs:element name="X509Certificate" type="xs:base64Binary"/>
        <xs:element name="X509SubjectName" type="xs:string"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ReferenceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Transforms" type="tns:TransformsType"/>
      <xs:element name="DigestMethod" type="tns:DigestMethodType"/>
      <xs:element name="DigestValue" type="xs:base64Binary"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID"/>
    <xs:attribute name="URI" type="xs:anyURI"/>
    <xs:attribute name="Type" type="xs:anyURI"/>
  </xs:complexType>
<xs:complexType name="TransformsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Transform" type="tns:TransformType"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType mixed="true" name="TransformType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="XPath" type="xs:string"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
  </xs:complexType>
<xs:complexType mixed="true" name="DigestMethodType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
  </xs:complexType>
<xs:complexType mixed="true" name="KeyValueType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="tns:RSAKeyValue"/>
        <xs:element ref="tns:DSAKeyValue"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="DSAKeyValueType">
    <xs:sequence>
      <xs:element minOccurs="0" name="P" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="Q" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="G" type="xs:base64Binary"/>
      <xs:element name="Y" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="J" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="Seed" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="PgenCounter" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType mixed="true" name="KeyInfoType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="tns:KeyValue"/>
        <xs:element ref="tns:MgmtData"/>
        <xs:element ref="tns:SPKIData"/>
        <xs:element ref="tns:RetrievalMethod"/>
        <xs:element ref="tns:X509Data"/>
        <xs:element ref="tns:KeyName"/>
        <xs:element ref="tns:PGPData"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID"/>
  </xs:complexType>
<xs:complexType name="RSAKeyValueType">
    <xs:sequence>
      <xs:element name="Modulus" type="xs:base64Binary"/>
      <xs:element name="Exponent" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ManifestType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Reference" type="tns:ReferenceType"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID"/>
  </xs:complexType>
<xs:complexType name="SPKIDataType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="SPKISexp" type="xs:base64Binary"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="PGPDataType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="PGPKeyID" type="xs:base64Binary"/>
        <xs:element name="PGPKeyPacket" type="xs:base64Binary"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
<xs:complexType mixed="true" name="SignatureMethodType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="HMACOutputLength" type="xs:integer"/>
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
  </xs:complexType>
<xs:complexType name="RetrievalMethodType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Transforms" type="tns:TransformsType"/>
    </xs:sequence>
    <xs:attribute name="URI" type="xs:anyURI"/>
    <xs:attribute name="Type" type="xs:anyURI"/>
  </xs:complexType>
<xs:complexType name="SignatureValueType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="Id" type="xs:ID"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
<xs:complexType name="SignaturePropertiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SignatureProperty" type="tns:SignaturePropertyType"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID"/>
  </xs:complexType>
<xs:complexType mixed="true" name="SignaturePropertyType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="Target" type="xs:anyURI" use="required"/>
    <xs:attribute name="Id" type="xs:ID"/>
  </xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://www.abrasf.org.br/nfse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
  <xs:element name="CancelarNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pedido" type="tns:tcPedidoCancelamento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarNfseResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetCancelamento" type="tns:tcRetCancelamento"/>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompNfse" type="tns:tcCompNfse"/>
  <xs:element name="ConsultarLoteRpsEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element name="Protocolo" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLoteRpsResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Situacao" type="xs:byte"/>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" ref="tns:ListaMensagemAlertaRetorno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetornoLote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseFaixaEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element name="Faixa">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NumeroNfseInicial" type="xs:integer"/>
              <xs:element minOccurs="0" name="NumeroNfseFinal" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Pagina" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseFaixaResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ProximaPagina" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseRpsEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdentificacaoRps" type="tns:tcIdentificacaoRps"/>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseRpsResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompNfse" type="tns:tcCompNfse"/>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseServicoPrestadoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element minOccurs="0" name="NumeroNfse" type="xs:integer"/>
        <xs:element minOccurs="0" name="PeriodoEmissao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PeriodoCompetencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Tomador" type="tns:tcIdentificacaoTomador"/>
        <xs:element minOccurs="0" name="Intermediario" type="tns:tcIdentificacaoIntermediario"/>
        <xs:element name="Pagina" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseServicoPrestadoResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ProximaPagina" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseServicoTomadoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Consulente" type="tns:tcIdentificacaoConsulente"/>
        <xs:element minOccurs="0" name="NumeroNfse" type="xs:integer"/>
        <xs:element minOccurs="0" name="PeriodoEmissao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PeriodoCompetencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataInicial" type="xs:date"/>
              <xs:element name="DataFinal" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Prestador" type="tns:tcIdentificacaoPrestador"/>
        <xs:element minOccurs="0" name="Tomador" type="tns:tcIdentificacaoTomador"/>
        <xs:element minOccurs="0" name="Intermediario" type="tns:tcIdentificacaoIntermediario"/>
        <xs:element name="Pagina" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseServicoTomadoResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" name="ProximaPagina" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarLoteRpsEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LoteRps" type="tns:tcLoteRps"/>
        <xs:element minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarLoteRpsResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroLote" type="xs:integer"/>
        <xs:element minOccurs="0" name="DataRecebimento" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="Protocolo" type="xs:string"/>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarLoteRpsSincronoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LoteRps" type="tns:tcLoteRps"/>
        <xs:element minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarLoteRpsSincronoResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroLote" type="xs:integer"/>
        <xs:element minOccurs="0" name="DataRecebimento" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="Protocolo" type="xs:string"/>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" ref="tns:ListaMensagemAlertaRetorno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetornoLote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rps" type="tns:tcDeclaracaoPrestacaoServico"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarNfseResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompNfse" type="tns:tcCompNfse"/>
              <xs:element minOccurs="0" ref="tns:ListaMensagemAlertaRetorno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaMensagemAlertaRetorno">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaMensagemRetorno">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaMensagemRetornoLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetornoLote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstituirNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SubstituicaoNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pedido" type="tns:tcPedidoCancelamento"/>
              <xs:element name="Rps" type="tns:tcDeclaracaoPrestacaoServico"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Signature" type="ns1:SignatureType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstituirNfseResposta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetSubstituicao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NfseSubstituida">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompNfse" type="tns:tcCompNfse"/>
                    <xs:element minOccurs="0" ref="tns:ListaMensagemAlertaRetorno"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NfseSubstituidora">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompNfse" type="tns:tcCompNfse"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:ListaMensagemRetorno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cabecalho">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="versaoDados" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="versao" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tcIdentificacaoConsulente">
    <xs:sequence>
      <xs:element name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCpfCnpj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cpf" type="xs:string"/>
      <xs:element minOccurs="0" name="Cnpj" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoPrestador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoTomador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoIntermediario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCompNfse">
    <xs:sequence>
      <xs:element name="Nfse" type="tns:tcNfse"/>
      <xs:element minOccurs="0" name="NfseCancelamento" type="tns:tcCancelamentoNfse"/>
      <xs:element minOccurs="0" name="NfseSubstituicao" type="tns:tcSubstituicaoNfse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcNfse">
    <xs:sequence>
      <xs:element name="InfNfse" type="tns:tcInfNfse"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="tcInfNfse">
    <xs:sequence>
      <xs:element name="Numero" type="xs:integer"/>
      <xs:element name="CodigoVerificacao" type="xs:string"/>
      <xs:element name="DataEmissao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="NfseSubstituida" type="xs:integer"/>
      <xs:element minOccurs="0" name="OutrasInformacoes" type="xs:string"/>
      <xs:element name="ValoresNfse" type="tns:tcValoresNfse"/>
      <xs:element minOccurs="0" name="ValorCredito" type="xs:decimal"/>
      <xs:element name="PrestadorServico" type="tns:tcDadosPrestador"/>
      <xs:element name="OrgaoGerador" type="tns:tcIdentificacaoOrgaoGerador"/>
      <xs:element name="DeclaracaoPrestacaoServico" type="tns:tcDeclaracaoPrestacaoServico"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="tcValoresNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCalculo" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorIss" type="xs:decimal"/>
      <xs:element name="ValorLiquidoNfse" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosPrestador">
    <xs:sequence>
      <xs:element name="IdentificacaoPrestador" type="tns:tcIdentificacaoPrestador"/>
      <xs:element name="RazaoSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="NomeFantasia" type="xs:string"/>
      <xs:element name="Endereco" type="tns:tcEndereco"/>
      <xs:element minOccurs="0" name="Contato" type="tns:tcContato"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endereco" type="xs:string"/>
      <xs:element minOccurs="0" name="Numero" type="xs:string"/>
      <xs:element minOccurs="0" name="Complemento" type="xs:string"/>
      <xs:element minOccurs="0" name="Bairro" type="xs:string"/>
      <xs:element minOccurs="0" name="CodigoMunicipio" type="xs:int"/>
      <xs:element minOccurs="0" name="Uf" type="xs:string"/>
      <xs:element minOccurs="0" name="CodigoPais" type="xs:string"/>
      <xs:element minOccurs="0" name="Cep" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcContato">
    <xs:sequence>
      <xs:element minOccurs="0" name="Telefone" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoOrgaoGerador">
    <xs:sequence>
      <xs:element name="CodigoMunicipio" type="xs:int"/>
      <xs:element name="Uf" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDeclaracaoPrestacaoServico">
    <xs:sequence>
      <xs:element name="InfDeclaracaoPrestacaoServico" type="tns:tcInfDeclaracaoPrestacaoServico"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfDeclaracaoPrestacaoServico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rps" type="tns:tcInfRps"/>
      <xs:element name="Competencia" type="xs:date"/>
      <xs:element name="Servico" type="tns:tcDadosServico"/>
      <xs:element name="Prestador" type="tns:tcIdentificacaoPrestador"/>
      <xs:element minOccurs="0" name="Tomador" type="tns:tcDadosTomador"/>
      <xs:element minOccurs="0" name="Intermediario" type="tns:tcDadosIntermediario"/>
      <xs:element minOccurs="0" name="ConstrucaoCivil" type="tns:tcDadosConstrucaoCivil"/>
      <xs:element minOccurs="0" name="RegimeEspecialTributacao" type="xs:byte"/>
      <xs:element name="OptanteSimplesNacional" type="xs:byte"/>
      <xs:element name="IncentivoFiscal" type="xs:byte"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="tcInfRps">
    <xs:sequence>
      <xs:element name="IdentificacaoRps" type="tns:tcIdentificacaoRps"/>
      <xs:element name="DataEmissao" type="xs:date"/>
      <xs:element name="Status" type="xs:byte"/>
      <xs:element minOccurs="0" name="RpsSubstituido" type="tns:tcIdentificacaoRps"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoRps">
    <xs:sequence>
      <xs:element name="Numero" type="xs:integer"/>
      <xs:element name="Serie" type="xs:string"/>
      <xs:element name="Tipo" type="xs:byte"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosServico">
    <xs:sequence>
      <xs:element name="Valores" type="tns:tcValoresDeclaracaoServico"/>
      <xs:element name="IssRetido" type="xs:byte"/>
      <xs:element minOccurs="0" name="ResponsavelRetencao" type="xs:byte"/>
      <xs:element name="ItemListaServico" type="xs:string"/>
      <xs:element minOccurs="0" name="CodigoCnae" type="xs:int"/>
      <xs:element minOccurs="0" name="CodigoTributacaoMunicipio" type="xs:string"/>
      <xs:element name="Discriminacao" type="xs:string"/>
      <xs:element name="CodigoMunicipio" type="xs:int"/>
      <xs:element minOccurs="0" name="CodigoPais" type="xs:string"/>
      <xs:element name="ExigibilidadeISS" type="xs:byte"/>
      <xs:element minOccurs="0" name="MunicipioIncidencia" type="xs:int"/>
      <xs:element minOccurs="0" name="NumeroProcesso" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcValoresDeclaracaoServico">
    <xs:sequence>
      <xs:element name="ValorServicos" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorDeducoes" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorPis" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorCofins" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorInss" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorIr" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorCsll" type="xs:decimal"/>
      <xs:element minOccurs="0" name="OutrasRetencoes" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ValorIss" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Aliquota" type="xs:decimal"/>
      <xs:element minOccurs="0" name="DescontoIncondicionado" type="xs:decimal"/>
      <xs:element minOccurs="0" name="DescontoCondicionado" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosTomador">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdentificacaoTomador" type="tns:tcIdentificacaoTomador"/>
      <xs:element minOccurs="0" name="RazaoSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="Endereco" type="tns:tcEndereco"/>
      <xs:element minOccurs="0" name="Contato" type="tns:tcContato"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosIntermediario">
    <xs:sequence>
      <xs:element name="IdentificacaoIntermediario" type="tns:tcIdentificacaoIntermediario"/>
      <xs:element name="RazaoSocial" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosConstrucaoCivil">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoObra" type="xs:string"/>
      <xs:element name="Art" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCancelamentoNfse">
    <xs:sequence>
      <xs:element name="Confirmacao" type="tns:tcConfirmacaoCancelamento"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="tcConfirmacaoCancelamento">
    <xs:sequence>
      <xs:element name="Pedido" type="tns:tcPedidoCancelamento"/>
      <xs:element name="DataHora" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="tcPedidoCancelamento">
    <xs:sequence>
      <xs:element name="InfPedidoCancelamento" type="tns:tcInfPedidoCancelamento"/>
      <xs:element minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfPedidoCancelamento">
    <xs:sequence>
      <xs:element name="IdentificacaoNfse" type="tns:tcIdentificacaoNfse"/>
      <xs:element minOccurs="0" name="CodigoCancelamento" type="xs:byte"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoNfse">
    <xs:sequence>
      <xs:element name="Numero" type="xs:integer"/>
      <xs:element name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
      <xs:element name="CodigoMunicipio" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcSubstituicaoNfse">
    <xs:sequence>
      <xs:element name="SubstituicaoNfse" type="tns:tcInfSubstituicaoNfse"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Signature"/>
    </xs:sequence>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="tcInfSubstituicaoNfse">
    <xs:sequence>
      <xs:element name="NfseSubstituidora" type="xs:integer"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="tcMensagemRetorno">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:string"/>
      <xs:element name="Mensagem" type="xs:string"/>
      <xs:element minOccurs="0" name="Correcao" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcLoteRps">
    <xs:sequence>
      <xs:element name="NumeroLote" type="xs:integer"/>
      <xs:element name="CpfCnpj" type="tns:tcCpfCnpj"/>
      <xs:element minOccurs="0" name="InscricaoMunicipal" type="xs:string"/>
      <xs:element name="QuantidadeRps" type="xs:int"/>
      <xs:element name="ListaRps">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Rps" type="tns:tcDeclaracaoPrestacaoServico"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="tcRetCancelamento">
    <xs:sequence>
      <xs:element name="NfseCancelamento" type="tns:tcCancelamentoNfse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcMensagemRetornoLote">
    <xs:sequence>
      <xs:element name="IdentificacaoRps" type="tns:tcIdentificacaoRps"/>
      <xs:element name="Codigo" type="xs:string"/>
      <xs:element name="Mensagem" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.issweb.fiorilli.com.br/" xmlns:ns1="http://www.abrasf.org.br/nfse.xsd" xmlns:ns2="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://ws.issweb.fiorilli.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.abrasf.org.br/nfse.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
  <xs:element name="cancelarNfse" type="tns:cancelarNfse"/>
  <xs:element name="cancelarNfseResponse" type="tns:cancelarNfseResponse"/>
  <xs:element name="consultarLoteRps" type="tns:consultarLoteRps"/>
  <xs:element name="consultarLoteRpsResponse" type="tns:consultarLoteRpsResponse"/>
  <xs:element name="consultarNfsePorFaixa" type="tns:consultarNfsePorFaixa"/>
  <xs:element name="consultarNfsePorFaixaResponse" type="tns:consultarNfsePorFaixaResponse"/>
  <xs:element name="consultarNfsePorRps" type="tns:consultarNfsePorRps"/>
  <xs:element name="consultarNfsePorRpsResponse" type="tns:consultarNfsePorRpsResponse"/>
  <xs:element name="consultarNfseServicoPrestado" type="tns:consultarNfseServicoPrestado"/>
  <xs:element name="consultarNfseServicoPrestadoResponse" type="tns:consultarNfseServicoPrestadoResponse"/>
  <xs:element name="consultarNfseServicoTomado" type="tns:consultarNfseServicoTomado"/>
  <xs:element name="consultarNfseServicoTomadoResponse" type="tns:consultarNfseServicoTomadoResponse"/>
  <xs:element name="gerarNfse" type="tns:gerarNfse"/>
  <xs:element name="gerarNfseResponse" type="tns:gerarNfseResponse"/>
  <xs:element name="recepcionarLoteRps" type="tns:recepcionarLoteRps"/>
  <xs:element name="recepcionarLoteRpsResponse" type="tns:recepcionarLoteRpsResponse"/>
  <xs:element name="recepcionarLoteRpsSincrono" type="tns:recepcionarLoteRpsSincrono"/>
  <xs:element name="recepcionarLoteRpsSincronoResponse" type="tns:recepcionarLoteRpsSincronoResponse"/>
  <xs:element name="substituirNfse" type="tns:substituirNfse"/>
  <xs:element name="substituirNfseResponse" type="tns:substituirNfseResponse"/>
  <xs:complexType name="consultarNfseServicoTomado">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseServicoTomadoEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNfseServicoTomadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseServicoTomadoResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNfsePorRps">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseRpsEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNfsePorRpsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseRpsResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recepcionarLoteRps">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:EnviarLoteRpsEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recepcionarLoteRpsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:EnviarLoteRpsResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNfseServicoPrestado">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseServicoPrestadoEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNfseServicoPrestadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseServicoPrestadoResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gerarNfse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:GerarNfseEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gerarNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:GerarNfseResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarNfse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:CancelarNfseEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:CancelarNfseResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="substituirNfse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:SubstituirNfseEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="substituirNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:SubstituirNfseResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarLoteRps">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarLoteRpsEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarLoteRpsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarLoteRpsResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recepcionarLoteRpsSincrono">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:EnviarLoteRpsSincronoEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recepcionarLoteRpsSincronoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:EnviarLoteRpsSincronoResposta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNfsePorFaixa">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseFaixaEnvio"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNfsePorFaixaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:ConsultarNfseFaixaResposta"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="recepcionarLoteRpsSincrono">
    <wsdl:part element="tns:recepcionarLoteRpsSincrono" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfseServicoPrestadoResponse">
    <wsdl:part element="tns:consultarNfseServicoPrestadoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gerarNfse">
    <wsdl:part element="tns:gerarNfse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gerarNfseResponse">
    <wsdl:part element="tns:gerarNfseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfseServicoTomado">
    <wsdl:part element="tns:consultarNfseServicoTomado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recepcionarLoteRpsSincronoResponse">
    <wsdl:part element="tns:recepcionarLoteRpsSincronoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarNfse">
    <wsdl:part element="tns:cancelarNfse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recepcionarLoteRpsResponse">
    <wsdl:part element="tns:recepcionarLoteRpsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarNfseResponse">
    <wsdl:part element="tns:cancelarNfseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recepcionarLoteRps">
    <wsdl:part element="tns:recepcionarLoteRps" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfseServicoPrestado">
    <wsdl:part element="tns:consultarNfseServicoPrestado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarLoteRps">
    <wsdl:part element="tns:consultarLoteRps" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfsePorRpsResponse">
    <wsdl:part element="tns:consultarNfsePorRpsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfsePorFaixaResponse">
    <wsdl:part element="tns:consultarNfsePorFaixaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfseServicoTomadoResponse">
    <wsdl:part element="tns:consultarNfseServicoTomadoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfsePorFaixa">
    <wsdl:part element="tns:consultarNfsePorFaixa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNfsePorRps">
    <wsdl:part element="tns:consultarNfsePorRps" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substituirNfseResponse">
    <wsdl:part element="tns:substituirNfseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substituirNfse">
    <wsdl:part element="tns:substituirNfse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarLoteRpsResponse">
    <wsdl:part element="tns:consultarLoteRpsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IssWebWS">
    <wsdl:operation name="consultarNfseServicoTomado">
      <wsdl:input message="tns:consultarNfseServicoTomado" name="consultarNfseServicoTomado">
    </wsdl:input>
      <wsdl:output message="tns:consultarNfseServicoTomadoResponse" name="consultarNfseServicoTomadoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarNfsePorRps">
      <wsdl:input message="tns:consultarNfsePorRps" name="consultarNfsePorRps">
    </wsdl:input>
      <wsdl:output message="tns:consultarNfsePorRpsResponse" name="consultarNfsePorRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionarLoteRps">
      <wsdl:input message="tns:recepcionarLoteRps" name="recepcionarLoteRps">
    </wsdl:input>
      <wsdl:output message="tns:recepcionarLoteRpsResponse" name="recepcionarLoteRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarNfseServicoPrestado">
      <wsdl:input message="tns:consultarNfseServicoPrestado" name="consultarNfseServicoPrestado">
    </wsdl:input>
      <wsdl:output message="tns:consultarNfseServicoPrestadoResponse" name="consultarNfseServicoPrestadoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gerarNfse">
      <wsdl:input message="tns:gerarNfse" name="gerarNfse">
    </wsdl:input>
      <wsdl:output message="tns:gerarNfseResponse" name="gerarNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarNfse">
      <wsdl:input message="tns:cancelarNfse" name="cancelarNfse">
    </wsdl:input>
      <wsdl:output message="tns:cancelarNfseResponse" name="cancelarNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substituirNfse">
      <wsdl:input message="tns:substituirNfse" name="substituirNfse">
    </wsdl:input>
      <wsdl:output message="tns:substituirNfseResponse" name="substituirNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarLoteRps">
      <wsdl:input message="tns:consultarLoteRps" name="consultarLoteRps">
    </wsdl:input>
      <wsdl:output message="tns:consultarLoteRpsResponse" name="consultarLoteRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionarLoteRpsSincrono">
      <wsdl:input message="tns:recepcionarLoteRpsSincrono" name="recepcionarLoteRpsSincrono">
    </wsdl:input>
      <wsdl:output message="tns:recepcionarLoteRpsSincronoResponse" name="recepcionarLoteRpsSincronoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarNfsePorFaixa">
      <wsdl:input message="tns:consultarNfsePorFaixa" name="consultarNfsePorFaixa">
    </wsdl:input>
      <wsdl:output message="tns:consultarNfsePorFaixaResponse" name="consultarNfsePorFaixaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IssWebWSSoapBinding" type="tns:IssWebWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarNfseServicoTomado">
      <soap:operation soapAction="consultarNfseServicoTomado" style="document"/>
      <wsdl:input name="consultarNfseServicoTomado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarNfseServicoTomadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarNfsePorRps">
      <soap:operation soapAction="consultarNfsePorRps" style="document"/>
      <wsdl:input name="consultarNfsePorRps">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarNfsePorRpsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionarLoteRps">
      <soap:operation soapAction="recepcionarLoteRps" style="document"/>
      <wsdl:input name="recepcionarLoteRps">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recepcionarLoteRpsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarNfseServicoPrestado">
      <soap:operation soapAction="consultarNfseServicoPrestado" style="document"/>
      <wsdl:input name="consultarNfseServicoPrestado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarNfseServicoPrestadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gerarNfse">
      <soap:operation soapAction="gerarNfse" style="document"/>
      <wsdl:input name="gerarNfse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="gerarNfseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarNfse">
      <soap:operation soapAction="cancelarNfse" style="document"/>
      <wsdl:input name="cancelarNfse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarNfseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substituirNfse">
      <soap:operation soapAction="substituirNfse" style="document"/>
      <wsdl:input name="substituirNfse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="substituirNfseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarLoteRps">
      <soap:operation soapAction="consultarLoteRps" style="document"/>
      <wsdl:input name="consultarLoteRps">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarLoteRpsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionarLoteRpsSincrono">
      <soap:operation soapAction="recepcionarLoteRpsSincrono" style="document"/>
      <wsdl:input name="recepcionarLoteRpsSincrono">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recepcionarLoteRpsSincronoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarNfsePorFaixa">
      <soap:operation soapAction="consultarNfsePorFaixa" style="document"/>
      <wsdl:input name="consultarNfsePorFaixa">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarNfsePorFaixaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IssWebWS">
    <wsdl:port binding="tns:IssWebWSSoapBinding" name="IssWebWSPort">
      <soap:address location="http://201.69.64.34:8080/IssWeb-ejb/IssWebWS/IssWebWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>