WSDL/Producao/PItumbiaraGO-Prodata.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="nfse" targetNamespace="http://services.nfse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ws="http://services.nfse">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.nfse">
		<xsd:complexType name="input">
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="nfseCabecMsg" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="1" name="nfseDadosMsg" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="output">
			<xsd:sequence>
				<xsd:element name="outputXML" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:element name="CancelarNfseRequest" type="ws:input"/>
		<xsd:element name="CancelarNfseResponse" type="ws:output"/>
		<xsd:element name="ConsultarLoteRpsRequest" type="ws:input"/>
		<xsd:element name="ConsultarLoteRpsResponse" type="ws:output"/>
		<xsd:element name="ConsultarNfseServicoPrestadoRequest" type="ws:input"/>
		<xsd:element name="ConsultarNfseServicoPrestadoResponse" type="ws:output"/>
		<xsd:element name="ConsultarNfseServicoTomadoRequest" type="ws:input"/>
		<xsd:element name="ConsultarNfseServicoTomadoResponse" type="ws:output"/>
		<xsd:element name="ConsultarNfsePorFaixaRequest" type="ws:input"/>
		<xsd:element name="ConsultarNfsePorFaixaResponse" type="ws:output"/>
		<xsd:element name="ConsultarNfsePorRpsRequest" type="ws:input"/>
		<xsd:element name="ConsultarNfsePorRpsResponse" type="ws:output"/>
		<xsd:element name="RecepcionarLoteRpsRequest" type="ws:input"/>
		<xsd:element name="RecepcionarLoteRpsResponse" type="ws:output"/>
		<xsd:element name="GerarNfseRequest" type="ws:input"/>
		<xsd:element name="GerarNfseResponse" type="ws:output"/>
		<xsd:element name="SubstituirNfseRequest" type="ws:input"/>
		<xsd:element name="SubstituirNfseResponse" type="ws:output"/>
		<xsd:element name="RecepcionarLoteRpsSincronoRequest" type="ws:input"/>
		<xsd:element name="RecepcionarLoteRpsSincronoResponse" type="ws:output"/>
		<xsd:element name="GetDuamsRequest" type="ws:input"/>
		<xsd:element name="GetDuamsResponse" type="ws:output"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarNfsePorFaixaRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorFaixaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoPrestadoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoRequest">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsSincronoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsResponse">
    <wsdl:part name="parameters" element="ws:ConsultarLoteRpsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoTomadoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsRequest">
    <wsdl:part name="parameters" element="ws:ConsultarLoteRpsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoPrestadoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoResponse">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsSincronoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixaResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorFaixaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsResponse">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoTomadoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubstituirNfseResponse">
    <wsdl:part name="parameters" element="ws:SubstituirNfseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GerarNfseRequest">
    <wsdl:part name="parameters" element="ws:GerarNfseRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorRpsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelarNfseRequest">
    <wsdl:part name="parameters" element="ws:CancelarNfseRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubstituirNfseRequest">
    <wsdl:part name="parameters" element="ws:SubstituirNfseRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelarNfseResponse">
    <wsdl:part name="parameters" element="ws:CancelarNfseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDuamsResponse">
    <wsdl:part name="parameters" element="ws:GetDuamsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorRpsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDuamsRequest">
    <wsdl:part name="parameters" element="ws:GetDuamsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsRequest">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GerarNfseResponse">
    <wsdl:part name="parameters" element="ws:GerarNfseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="nfse">
    <wsdl:operation name="CancelarNfse">
      <wsdl:input message="ws:CancelarNfseRequest">
    </wsdl:input>
      <wsdl:output message="ws:CancelarNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input message="ws:ConsultarLoteRpsRequest">
    </wsdl:input>
      <wsdl:output message="ws:ConsultarLoteRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input message="ws:ConsultarNfseServicoPrestadoRequest">
    </wsdl:input>
      <wsdl:output message="ws:ConsultarNfseServicoPrestadoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <wsdl:input message="ws:ConsultarNfseServicoTomadoRequest">
    </wsdl:input>
      <wsdl:output message="ws:ConsultarNfseServicoTomadoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <wsdl:input message="ws:ConsultarNfsePorFaixaRequest">
    </wsdl:input>
      <wsdl:output message="ws:ConsultarNfsePorFaixaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <wsdl:input message="ws:ConsultarNfsePorRpsRequest">
    </wsdl:input>
      <wsdl:output message="ws:ConsultarNfsePorRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input message="ws:RecepcionarLoteRpsRequest">
    </wsdl:input>
      <wsdl:output message="ws:RecepcionarLoteRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input message="ws:GerarNfseRequest">
    </wsdl:input>
      <wsdl:output message="ws:GerarNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <wsdl:input message="ws:SubstituirNfseRequest">
    </wsdl:input>
      <wsdl:output message="ws:SubstituirNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <wsdl:input message="ws:RecepcionarLoteRpsSincronoRequest">
    </wsdl:input>
      <wsdl:output message="ws:RecepcionarLoteRpsSincronoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuams">
      <wsdl:input message="ws:GetDuamsRequest">
    </wsdl:input>
      <wsdl:output message="ws:GetDuamsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="nfseSOAP" type="ws:nfse">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://services.nfse/CancelarNfse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://services.nfse/ConsultarLoteRps"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="http://services.nfse/ConsultarNfseServicoPrestado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="http://services.nfse/ConsultarNfseServicoTomado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap:operation soapAction="http://services.nfse/ConsultarNfsePorFaixa"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="http://services.nfse/ConsultarNfsePorRps"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://services.nfse/RecepcionarLoteRps"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="http://services.nfse/GerarNfse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap:operation soapAction="http://services.nfse/SubstituirNfse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap:operation soapAction="http://services.nfse/RecepcionarLoteRpsSincrono"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuams">
      <soap:operation soapAction="http://services.nfse/GetDuams"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfseWSService">
    <wsdl:port name="nfseSOAP" binding="ws:nfseSOAP">
      <soap:address location="http://187.72.239.186:8083/prodataws/services/NfseWSService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
