WSDL/Producao/PJoinvilleSC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://nfemws.joinville.sc.gov.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="https://nfemws.joinville.sc.gov.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://nfemws.joinville.sc.gov.br">
      <s:element name="EnviarLoteRpsEnvio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoteRps">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Signature">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarLoteRpsEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarLoteRpsResposta" nillable="true" type="tns:EnviarLoteRpsResposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EnviarLoteRpsResposta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumeroLote" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataRecebimento" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Protocolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno" type="tns:ArrayOfMensagemRetorno" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMensagemRetorno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" nillable="true" type="tns:MensagemRetorno" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MensagemRetorno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correcao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarNfseEnvio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pedido">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarNfseEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelarNfseResposta" nillable="true" type="tns:CancelarNfseResposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CancelarNfseResposta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RetCancelamento" type="tns:RetCancelamento" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListaMensagemRetorno" type="tns:MensagemRetorno" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RetCancelamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NfseCancelamento" type="tns:NfseCancelamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NfseCancelamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Confirmacao" type="tns:ConfirmacaoCancelamento" />
          <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConfirmacaoCancelamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:PedidoCancelamento" />
          <s:element minOccurs="1" maxOccurs="1" name="DataHora" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PedidoCancelamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfPedidoCancelamento" type="tns:InfPedidoCancelamento" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfPedidoCancelamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfse" type="tns:IdentificacaoNfse" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoCancelamento" type="s:int" />
        </s:sequence>
        <s:attribute name="Id" type="s:string" />
      </s:complexType>
      <s:complexType name="IdentificacaoNfse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:CpfCnpj" />
          <s:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CpfCnpj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarLoteRpsEnvio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:Prestador" />
            <s:element minOccurs="0" maxOccurs="1" name="Protocolo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Prestador">
        <s:complexContent mixed="false">
          <s:extension base="tns:IdentificacaoPessoaEmpresa" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IdentificacaoPessoaEmpresa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:CpfCnpj" />
          <s:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarLoteRpsEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsultarLoteRpsResposta" nillable="true" type="tns:ConsultarLoteRpsResposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultarLoteRpsResposta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Situacao" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno" type="tns:ArrayOfMensagemRetorno" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetornoLote" type="tns:ArrayOfMensagemRetornoLote" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaNfse" type="tns:ListaNfse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMensagemRetornoLote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetornoLote" nillable="true" type="tns:MensagemRetornoLote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MensagemRetornoLote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:IdentificacaoRps" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentificacaoRps">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Serie" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListaNfse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:CompNfseTc" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListaMensagemAlertaRetorno" type="tns:MensagemRetorno" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompNfseTc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nfse" type="tns:Nfse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Nfse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfNfse" type="tns:InfNfse" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfNfse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroRps" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoVerificacao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NfseSubstituida" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OutrasInformacoes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValoresNfse" type="tns:ValoresNfse" />
          <s:element minOccurs="0" maxOccurs="1" name="DescricaoCodigoTributacaoMunicípio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorCredito" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PrestadorServico" type="tns:DadosPrestador" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgaoGerador" type="tns:IdentificacaoOrgaoGerador" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclaracaoPrestacaoServico" type="tns:DeclaracaoPrestacaoServico" />
        </s:sequence>
        <s:attribute name="Id" type="s:string" />
      </s:complexType>
      <s:complexType name="ValoresNfse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ValorIss" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Aliquota" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorLiquidoNfse" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BaseCalculo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaIr" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaInss" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaPis" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaCofins" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaCsll" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorIr" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorInss" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorPis" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorCofins" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorCsll" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosPrestador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:Endereco" />
          <s:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:Contato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Endereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentificacaoOrgaoGerador">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Uf" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeclaracaoPrestacaoServico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfDeclaracaoPrestacaoServico" type="tns:InfDeclaracaoPrestacaoServico" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfDeclaracaoPrestacaoServico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:InfRps" />
          <s:element minOccurs="1" maxOccurs="1" name="Competencia" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:Servico" />
          <s:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:IdentificacaoPessoaEmpresa" />
          <s:element minOccurs="0" maxOccurs="1" name="TomadorServico" type="tns:TomadorWs" />
          <s:element minOccurs="0" maxOccurs="1" name="Intermediario" type="tns:DadosIntermediario" />
          <s:element minOccurs="0" maxOccurs="1" name="ConstrucaoCivil" type="tns:DadosConstrucaoCivil" />
          <s:element minOccurs="0" maxOccurs="1" name="RegimeEspecialTributacao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OptanteSimplesNacional" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IncentivoFiscal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Evento" type="tns:DadosEvento" />
          <s:element minOccurs="0" maxOccurs="1" name="InformacoesComplementares" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Deducao" type="tns:DadosDeducao" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCei" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:string" />
      </s:complexType>
      <s:complexType name="InfRps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:IdentificacaoRps" />
          <s:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RpsSubstituido" type="tns:IdentificacaoRps" />
        </s:sequence>
        <s:attribute name="Id" type="s:string" />
      </s:complexType>
      <s:complexType name="Servico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:Valores" />
          <s:element minOccurs="1" maxOccurs="1" name="IssRetido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponsavelRetencao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemListaServico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCnae" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Discriminacao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExigibilidadeISS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdentifNaoExigibilidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MunicipioIncidencia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroProcesso" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Valores">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ValorServicos" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorDeducoes" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorPis" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorCofins" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorInss" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorIr" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorCsll" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaPis" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaCofins" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaInss" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaIr" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AliquotaCsll" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValTotTributos" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorIss" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Aliquota" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DescontoIncondicionado" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DescontoCondicionado" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TomadorWs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoTomador" type="tns:IdentificacaoTomador" />
          <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NifTomador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:Endereco" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoExterior" type="tns:EnderecoExterior" />
          <s:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:Contato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentificacaoTomador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:CpfCnpj" />
          <s:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EnderecoExterior">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoCompletoExterior" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosIntermediario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoIntermediario" type="tns:IdentificacaoPessoaEmpresa" />
          <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMunicipio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosConstrucaoCivil">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoObra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Art" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescricaoEvento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosDeducao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeducao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescricaoDeducao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoDocumentoDeducao" type="tns:IdentificacaoDocumentoDeducao" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosFornecedor" type="tns:DadosFornecedor" />
          <s:element minOccurs="1" maxOccurs="1" name="DateEmissao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorDedutivel" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorUtilizadoDeducao" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentificacaoDocumentoDeducao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutroDocumentoDeducao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosFornecedor" />
      <s:element name="ConsultarNfseRpsEnvio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdentificacaoRps" nillable="true" type="tns:IdentificacaoRps" />
            <s:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:Prestador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfseRpsEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsultarNfseRpsResposta" nillable="true" type="tns:ConsultarNfseRpsResposta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultarNfseRpsResposta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:CompNfseTc" />
          <s:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno" type="tns:ArrayOfMensagemRetorno" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarLoteRpsEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsEnvio" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteRpsEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarNfseEnvio" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarNfseEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsEnvio" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseRpsEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarNfseRpsEnvio" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseRpsEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarNfseRpsEnvioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicosSoap">
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.2.1 Recepção de Lote de RPS
Esse serviço será executado, pelo o método RecepcionarLoteRps, passando a
mensagem XML como parâmetro com a estrutura definida na tabela que segue.
</wsdl:documentation>
      <wsdl:input name="EnviarLoteRpsEnvio" message="tns:EnviarLoteRpsEnvioSoapIn" />
      <wsdl:output name="EnviarLoteRpsEnvio" message="tns:EnviarLoteRpsEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.2.4 Cancelamento NFS-e
Esse serviço será executado através da chamada ao método CancelarNfse, passando a
mensagem XML como parâmetro com a estrutura definida na tabela que segue.</wsdl:documentation>
      <wsdl:input name="CancelarNfseEnvio" message="tns:CancelarNfseEnvioSoapIn" />
      <wsdl:output name="CancelarNfseEnvio" message="tns:CancelarNfseEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.2.6 Consulta de Lote de RPS
Esse serviço será executado pelo método ConsultarLoteRps, passando a mensagem
XML como parâmetro com a estrutura definida na tabela que segue.</wsdl:documentation>
      <wsdl:input name="ConsultarLoteRpsEnvio" message="tns:ConsultarLoteRpsEnvioSoapIn" />
      <wsdl:output name="ConsultarLoteRpsEnvio" message="tns:ConsultarLoteRpsEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.2.7 Consulta de NFS-e por RPS
Esse serviço será executado pelo método ConsultarNfsePorRps, passando a
mensagem XML como parâmetro com a estrutura definida na tabela que segue.
</wsdl:documentation>
      <wsdl:input name="ConsultarNfseRpsEnvio" message="tns:ConsultarNfseRpsEnvioSoapIn" />
      <wsdl:output name="ConsultarNfseRpsEnvio" message="tns:ConsultarNfseRpsEnvioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicosSoap" type="tns:ServicosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="https://nfemws.joinville.sc.gov.br/EnviarLoteRpsEnvio" style="document" />
      <wsdl:input name="EnviarLoteRpsEnvio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnviarLoteRpsEnvio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="https://nfemws.joinville.sc.gov.br/CancelarNfseEnvio" style="document" />
      <wsdl:input name="CancelarNfseEnvio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarNfseEnvio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="https://nfemws.joinville.sc.gov.br/ConsultarLoteRpsEnvio" style="document" />
      <wsdl:input name="ConsultarLoteRpsEnvio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarLoteRpsEnvio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="https://nfemws.joinville.sc.gov.br/ConsultarNfseRpsEnvio" style="document" />
      <wsdl:input name="ConsultarNfseRpsEnvio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseRpsEnvio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicosSoap12" type="tns:ServicosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionarLoteRps">
      <soap12:operation soapAction="https://nfemws.joinville.sc.gov.br/EnviarLoteRpsEnvio" style="document" />
      <wsdl:input name="EnviarLoteRpsEnvio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnviarLoteRpsEnvio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap12:operation soapAction="https://nfemws.joinville.sc.gov.br/CancelarNfseEnvio" style="document" />
      <wsdl:input name="CancelarNfseEnvio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarNfseEnvio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap12:operation soapAction="https://nfemws.joinville.sc.gov.br/ConsultarLoteRpsEnvio" style="document" />
      <wsdl:input name="ConsultarLoteRpsEnvio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarLoteRpsEnvio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap12:operation soapAction="https://nfemws.joinville.sc.gov.br/ConsultarNfseRpsEnvio" style="document" />
      <wsdl:input name="ConsultarNfseRpsEnvio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseRpsEnvio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicos">
    <wsdl:port name="ServicosSoap" binding="tns:ServicosSoap">
      <soap:address location="https://nfemws.joinville.sc.gov.br/NotaFiscal/Servicos.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicosSoap12" binding="tns:ServicosSoap12">
      <soap12:address location="https://nfemws.joinville.sc.gov.br/NotaFiscal/Servicos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>