WSDL/Producao/PMairipora-ISSWEB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarLoteNotaFiscal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpjcpfprestador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlNotas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarLoteNotaFiscalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarLoteNotaFiscalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarLoteNotaFiscalDeTeste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpjcpfprestador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlNotas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarLoteNotaFiscalDeTesteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarLoteNotaFiscalDeTesteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNotaFiscal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpjcpfprestador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlNotas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNotaFiscalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarNotaFiscalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarNotaFiscalEletronica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpjcpfprestador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlNotas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarNotaFiscalEletronicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarNotaFiscalEletronicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarLoteNotaFiscalSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarLoteNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteNotaFiscalSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarLoteNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteNotaFiscalDeTesteSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarLoteNotaFiscalDeTeste" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteNotaFiscalDeTesteSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarLoteNotaFiscalDeTesteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNotaFiscalSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="ConsultarNotaFiscalSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaFiscalEletronicaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarNotaFiscalEletronica" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaFiscalEletronicaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarNotaFiscalEletronicaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsISSEletronicoSoap">
    <wsdl:operation name="EnviarLoteNotaFiscal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enviar Lote de Notas Fiscais (máximo lote de 20 Notas por vez)</wsdl:documentation>
      <wsdl:input message="tns:EnviarLoteNotaFiscalSoapIn" />
      <wsdl:output message="tns:EnviarLoteNotaFiscalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteNotaFiscalDeTeste">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enviar Lote de Notas Fiscais (máximo lote de 20 Notas por vez) para Teste de Desenvolvimento</wsdl:documentation>
      <wsdl:input message="tns:EnviarLoteNotaFiscalDeTesteSoapIn" />
      <wsdl:output message="tns:EnviarLoteNotaFiscalDeTesteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotaFiscal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de Notas Fiscais por Número, Referência ou Lote</wsdl:documentation>
      <wsdl:input message="tns:ConsultarNotaFiscalSoapIn" />
      <wsdl:output message="tns:ConsultarNotaFiscalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscalEletronica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelamento de Notas Fiscais Eletronicas</wsdl:documentation>
      <wsdl:input message="tns:CancelarNotaFiscalEletronicaSoapIn" />
      <wsdl:output message="tns:CancelarNotaFiscalEletronicaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsISSEletronicoSoap" type="tns:wsISSEletronicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarLoteNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/EnviarLoteNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteNotaFiscalDeTeste">
      <soap:operation soapAction="http://tempuri.org/EnviarLoteNotaFiscalDeTeste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/ConsultarNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscalEletronica">
      <soap:operation soapAction="http://tempuri.org/CancelarNotaFiscalEletronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsISSEletronicoSoap12" type="tns:wsISSEletronicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarLoteNotaFiscal">
      <soap12:operation soapAction="http://tempuri.org/EnviarLoteNotaFiscal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteNotaFiscalDeTeste">
      <soap12:operation soapAction="http://tempuri.org/EnviarLoteNotaFiscalDeTeste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotaFiscal">
      <soap12:operation soapAction="http://tempuri.org/ConsultarNotaFiscal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscalEletronica">
      <soap12:operation soapAction="http://tempuri.org/CancelarNotaFiscalEletronica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsISSEletronico">
    <wsdl:port name="wsISSEletronicoSoap" binding="tns:wsISSEletronicoSoap">
      <soap:address location="http://186.201.198.98/issweb/webservices/wsisseletronico.asmx" />
    </wsdl:port>
    <wsdl:port name="wsISSEletronicoSoap12" binding="tns:wsISSEletronicoSoap12">
      <soap12:address location="http://186.201.198.98/issweb/webservices/wsisseletronico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>