WSDL/Producao/PNovaLimaMG-gerarnfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="A24_GerarNfse" targetNamespace="http://www.e-nfs.com.br" xmlns:wsdlns="http://www.e-nfs.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.e-nfs.com.br">
	<types>
		<schema targetNamespace="http://www.e-nfs.com.br" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="A24_GerarNfse.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Nfsecabecmsg" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nfsedadosmsg" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="A24_GerarNfse.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Outputxml" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="A24_GerarNfse.ExecuteSoapIn">
		<part name="parameters" element="tns:A24_GerarNfse.Execute"/>
	</message>
	<message name="A24_GerarNfse.ExecuteSoapOut">
		<part name="parameters" element="tns:A24_GerarNfse.ExecuteResponse"/>
	</message>
	<portType name="A24_GerarNfseSoapPort">
		<operation name="Execute">
			<input message="wsdlns:A24_GerarNfse.ExecuteSoapIn"/>
			<output message="wsdlns:A24_GerarNfse.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="A24_GerarNfseSoapBinding" type="wsdlns:A24_GerarNfseSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="http://www.e-nfs.com.braction/AA24_GERARNFSE.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="A24_GerarNfse">
		<port name="A24_GerarNfseSoapPort" binding="wsdlns:A24_GerarNfseSoapBinding">
			<soap:address location="https://enfs-hom.abaco.com.br/novalima/servlet/aa24_gerarnfse"/>
		</port>
	</service>
</definitions>
