WSDL/Producao/PPaulistaPE-RecepcionarLoteRps-TINUS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns2="http://www.w3.org/2000/09/xmldsig#" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.tinus.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.tinus.com.br">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.tinus.com.br">
            <s:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
            <s:element name="RecepcionarLoteRps">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="Arg" type="s0:EnviarLoteRpsEnvio"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="EnviarLoteRpsEnvio">
                <s:sequence>
                    <s:element name="LoteRps" type="s0:tcLoteRps"/>
                    <s:element minOccurs="0" ref="ns2:Signature"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcLoteRps">
                <s:sequence>
                    <s:element name="NumeroLote" type="s0:tsNumeroLote"/>
                    <s:element name="Cnpj" type="s0:tsCnpj"/>
                    <s:element name="InscricaoMunicipal" type="s0:tsInscricaoMunicipal"/>
                    <s:element name="QuantidadeRps" type="s0:tsQuantidadeRps"/>
                    <s:element name="ListaRps" type="s0:ArrayOfRpstcRps"/>
                </s:sequence>
                <s:attribute name="id" type="s0:tsIdTag"/>
            </s:complexType>
            <s:simpleType name="tsNumeroLote">
                <s:restriction base="s:nonNegativeInteger">
                    <s:minInclusive value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCnpj">
                <s:restriction base="s:string">
                    <s:maxLength value="14"/>
                    <s:minLength value="14"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsInscricaoMunicipal">
                <s:restriction base="s:string">
                    <s:maxLength value="15"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsQuantidadeRps">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfRpstcRps">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Rps" nillable="true" type="s0:tcRps"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcRps">
                <s:sequence>
                    <s:element name="InfRps" type="s0:tcInfRps"/>
                    <s:element minOccurs="0" ref="ns2:Signature"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcInfRps">
                <s:sequence>
                    <s:element name="IdentificacaoRps" type="s0:tcIdentificacaoRps"/>
                    <s:element name="DataEmissao" type="s:dateTime"/>
                    <s:element name="NaturezaOperacao" type="s0:tsNaturezaOperacao"/>
                    <s:element minOccurs="0" name="RegimeEspecialTributacao" type="s0:tsRegimeEspecialTributacao"/>
                    <s:element name="OptanteSimplesNacional" type="s0:tsSimNao"/>
                    <s:element name="IncentivadorCultural" type="s0:tsSimNao"/>
                    <s:element name="Status" type="s0:tsStatusRps"/>
                    <s:element minOccurs="0" name="RpsSubstituido" type="s0:tcIdentificacaoRps"/>
                    <s:element name="Servico" type="s0:tcDadosServico"/>
                    <s:element name="Prestador" type="s0:tcIdentificacaoPrestador"/>
                    <s:element minOccurs="0" name="Tomador" type="s0:tcDadosTomador"/>
                    <s:element minOccurs="0" name="IntermediarioServico" type="s0:tcIdentificacaoIntermediarioServico"/>
                    <s:element minOccurs="0" name="ConstrucaoCivil" type="s0:tcDadosConstrucaoCivil"/>
                </s:sequence>
                <s:attribute name="id" type="s0:tsIdTag"/>
            </s:complexType>
            <s:complexType name="tcIdentificacaoRps">
                <s:sequence>
                    <s:element name="Numero" type="s0:tsNumeroRps"/>
                    <s:element name="Serie" type="s0:tsSerieRps"/>
                    <s:element name="Tipo" type="s0:tsTipoRps"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsNumeroRps">
                <s:restriction base="s:nonNegativeInteger">
                    <s:minInclusive value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsSerieRps">
                <s:restriction base="s:string">
                    <s:maxLength value="5"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsTipoRps">
                <s:restriction base="s:byte">
                    <s:pattern value="1|2|3"/>
                    <s:maxInclusive value="127"/>
                    <s:minInclusive value="-128"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsNaturezaOperacao">
                <s:restriction base="s:byte">
                    <s:pattern value="1|2|3|4|5|6"/>
                    <s:maxInclusive value="127"/>
                    <s:minInclusive value="-128"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsRegimeEspecialTributacao">
                <s:restriction base="s:byte">
                    <s:pattern value="1|2|3|4|5|6"/>
                    <s:maxInclusive value="127"/>
                    <s:minInclusive value="-128"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsSimNao">
                <s:restriction base="s:byte">
                    <s:pattern value="1|2"/>
                    <s:maxInclusive value="127"/>
                    <s:minInclusive value="-128"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsStatusRps">
                <s:restriction base="s:byte">
                    <s:pattern value="1|2"/>
                    <s:maxInclusive value="127"/>
                    <s:minInclusive value="-128"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="tcDadosServico">
                <s:sequence>
                    <s:element name="Valores" type="s0:tcValores"/>
                    <s:element name="ItemListaServico" type="s0:tsItemListaServico"/>
                    <s:element minOccurs="0" name="CodigoCnae" type="s0:tsCodigoCnae"/>
                    <s:element minOccurs="0" name="CodigoTributacaoMunicipio" type="s0:tsCodigoTributacao"/>
                    <s:element name="Discriminacao" type="s0:tsDiscriminacao"/>
                    <s:element name="CodigoMunicipio" type="s0:tsCodigoMunicipioIbge"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcValores">
                <s:sequence>
                    <s:element name="ValorServicos" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="ValorDeducoes" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="ValorPis" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="ValorCofins" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="ValorInss" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="ValorIr" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="ValorCsll" type="s0:tsValor"/>
                    <s:element name="IssRetido" type="s0:tsSimNao"/>
                    <s:element minOccurs="0" name="ValorIss" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="ValorIssRetido" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="OutrasRetencoes" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="BaseCalculo" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="Aliquota" type="s0:tsAliquota"/>
                    <s:element minOccurs="0" name="ValorLiquidoNfse" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="DescontoIncondicionado" type="s0:tsValor"/>
                    <s:element minOccurs="0" name="DescontoCondicionado" type="s0:tsValor"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsValor">
                <s:restriction base="s:decimal"/>
            </s:simpleType>
            <s:simpleType name="tsAliquota">
                <s:restriction base="s:decimal"/>
            </s:simpleType>
            <s:simpleType name="tsItemListaServico">
                <s:restriction base="s:string">
                    <s:maxLength value="5"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCodigoCnae">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCodigoTributacao">
                <s:restriction base="s:string">
                    <s:maxLength value="20"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsDiscriminacao">
                <s:restriction base="s:string">
                    <s:maxLength value="2000"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCodigoMunicipioIbge">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="tcIdentificacaoPrestador">
                <s:sequence>
                    <s:element name="Cnpj" type="s0:tsCnpj"/>
                    <s:element minOccurs="0" name="InscricaoMunicipal" type="s0:tsInscricaoMunicipal"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcDadosTomador">
                <s:sequence>
                    <s:element minOccurs="0" name="IdentificacaoTomador" type="s0:tcIdentificacaoTomador"/>
                    <s:element minOccurs="0" name="RazaoSocial" type="s0:tsRazaoSocial"/>
                    <s:element minOccurs="0" name="Endereco" type="s0:tcEndereco"/>
                    <s:element minOccurs="0" name="Contato" type="s0:tcContato"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcIdentificacaoTomador">
                <s:sequence>
                    <s:element minOccurs="0" name="CpfCnpj" type="s0:tcCpfCnpj"/>
                    <s:element minOccurs="0" name="InscricaoMunicipal" type="s0:tsInscricaoMunicipal"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcCpfCnpj">
                <s:sequence>
                    <s:element minOccurs="0" name="Cpf" type="s0:tsCpf"/>
                    <s:element minOccurs="0" name="Cnpj" type="s0:tsCnpj"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsCpf">
                <s:restriction base="s:string">
                    <s:maxLength value="11"/>
                    <s:minLength value="11"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsRazaoSocial">
                <s:restriction base="s:string">
                    <s:maxLength value="115"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="tcEndereco">
                <s:sequence>
                    <s:element minOccurs="0" name="Endereco" type="s0:tsEndereco"/>
                    <s:element minOccurs="0" name="Numero" type="s0:tsNumeroEndereco"/>
                    <s:element minOccurs="0" name="Complemento" type="s0:tsComplementoEndereco"/>
                    <s:element minOccurs="0" name="Bairro" type="s0:tsBairro"/>
                    <s:element minOccurs="0" name="CodigoMunicipio" type="s0:tsCodigoMunicipioIbge"/>
                    <s:element minOccurs="0" name="Uf" type="s0:tsUf"/>
                    <s:element minOccurs="0" name="Cep" type="s0:tsCep"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsEndereco">
                <s:restriction base="s:string">
                    <s:maxLength value="125"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsNumeroEndereco">
                <s:restriction base="s:string">
                    <s:maxLength value="10"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsComplementoEndereco">
                <s:restriction base="s:string">
                    <s:maxLength value="60"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsBairro">
                <s:restriction base="s:string">
                    <s:maxLength value="60"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsUf">
                <s:restriction base="s:string">
                    <s:maxLength value="2"/>
                    <s:minLength value="2"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsCep">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="tcContato">
                <s:sequence>
                    <s:element minOccurs="0" name="Telefone" type="s0:tsTelefone"/>
                    <s:element minOccurs="0" name="Email" type="s0:tsEmail"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsTelefone">
                <s:restriction base="s:string">
                    <s:maxLength value="11"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsEmail">
                <s:restriction base="s:string">
                    <s:maxLength value="80"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="tcIdentificacaoIntermediarioServico">
                <s:sequence>
                    <s:element name="RazaoSocial" type="s0:tsRazaoSocial"/>
                    <s:element name="CpfCnpj" type="s0:tcCpfCnpj"/>
                    <s:element minOccurs="0" name="InscricaoMunicipal" type="s0:tsInscricaoMunicipal"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcDadosConstrucaoCivil">
                <s:sequence>
                    <s:element name="CodigoObra" type="s0:tsCodigoObra"/>
                    <s:element name="Art" type="s0:tsArt"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsCodigoObra">
                <s:restriction base="s:string">
                    <s:maxLength value="15"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsArt">
                <s:restriction base="s:string">
                    <s:maxLength value="15"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsIdTag">
                <s:restriction base="s:string">
                    <s:maxLength value="255"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="SignatureType">
                <s:sequence>
                    <s:element ref="s0:SignedInfo"/>
                    <s:element ref="s0:SignatureValue"/>
                    <s:element minOccurs="0" ref="s0:KeyInfo"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:Object"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
            </s:complexType>
            <s:element name="SignedInfo" type="s0:SignedInfoType"/>
            <s:element name="SignatureValue" type="s0:SignatureValueType"/>
            <s:element name="KeyInfo" type="s0:KeyInfoType"/>
            <s:element name="Object" nillable="true" type="s0:ObjectType"/>
            <s:complexType name="SignedInfoType">
                <s:sequence>
                    <s:element ref="s0:CanonicalizationMethod"/>
                    <s:element ref="s0:SignatureMethod"/>
                    <s:element maxOccurs="unbounded" ref="s0:Reference"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
            </s:complexType>
            <s:element name="CanonicalizationMethod" type="s0:CanonicalizationMethodType"/>
            <s:element name="SignatureMethod" type="s0:SignatureMethodType"/>
            <s:element name="Reference" type="s0:ReferenceType"/>
            <s:complexType name="CanonicalizationMethodType">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="Algorithm" type="s:string" use="required"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:complexType mixed="true" name="SignatureMethodType">
                <s:sequence>
                    <s:element minOccurs="0" name="HMACOutputLength" type="s0:HMACOutputLengthType"/>
                </s:sequence>
                <s:attribute name="Algorithm" type="s:string" use="required"/>
            </s:complexType>
            <s:simpleType name="HMACOutputLengthType">
                <s:restriction base="s:long"/>
            </s:simpleType>
            <s:complexType name="ArrayOfReferenceTypeReferenceType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ReferenceType" nillable="true" type="s0:ReferenceType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ReferenceType">
                <s:sequence>
                    <s:element minOccurs="0" ref="s0:Transforms"/>
                    <s:element ref="s0:DigestMethod"/>
                    <s:element ref="s0:DigestValue"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
                <s:attribute name="URI" type="s:string"/>
                <s:attribute name="Type" type="s:string"/>
            </s:complexType>
            <s:element name="Transforms" type="s0:TransformsType"/>
            <s:element name="DigestMethod" type="s0:DigestMethodType"/>
            <s:element name="DigestValue" type="s0:DigestValueType"/>
            <s:complexType name="TransformsType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" ref="s0:Transform"/>
                </s:sequence>
            </s:complexType>
            <s:element name="Transform" type="s0:TransformType"/>
            <s:complexType name="ArrayOfTransformTypeTransformType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="TransformType" nillable="true" type="s0:TransformType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType mixed="true" name="TransformType">
                <s:sequence>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="XPath" nillable="true" type="s:string"/>
                </s:sequence>
                <s:attribute name="Algorithm" type="s:string" use="required"/>
            </s:complexType>
            <s:complexType name="ArrayOfXPathItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="XPathItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="DigestMethodType">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="Algorithm" type="s:string" use="required"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:simpleType name="DigestValueType">
                <s:restriction base="s:base64Binary"/>
            </s:simpleType>
            <s:complexType name="SignatureValueType">
                <s:simpleContent>
                    <s:extension base="s:base64Binary">
                        <s:attribute name="Id" type="s:string"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:complexType mixed="true" name="KeyInfoType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:KeyName"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:KeyValue"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:RetrievalMethod"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:X509Data"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:PGPData"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:SPKIData"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" ref="s0:MgmtData"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
                <s:attribute name="Id" type="s:string"/>
            </s:complexType>
            <s:element name="KeyName" nillable="true" type="s:string"/>
            <s:element name="KeyValue" nillable="true" type="s0:KeyValueType"/>
            <s:element name="RetrievalMethod" nillable="true" type="s0:RetrievalMethodType"/>
            <s:element name="X509Data" nillable="true" type="s0:X509DataType"/>
            <s:element name="PGPData" nillable="true" type="s0:PGPDataType"/>
            <s:element name="SPKIData" nillable="true" type="s0:SPKIDataType"/>
            <s:element name="MgmtData" nillable="true" type="s:string"/>
            <s:complexType name="ArrayOfKeyNameItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="KeyNameItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfKeyValueTypeKeyValueType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="KeyValueType" nillable="true" type="s0:KeyValueType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType mixed="true" name="KeyValueType">
                <s:sequence>
                    <s:element minOccurs="0" ref="s0:DSAKeyValue"/>
                    <s:element minOccurs="0" ref="s0:RSAKeyValue"/>
                    <s:any minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:element name="DSAKeyValue" type="s0:DSAKeyValueType"/>
            <s:element name="RSAKeyValue" type="s0:RSAKeyValueType"/>
            <s:complexType name="DSAKeyValueType">
                <s:sequence>
                    <s:element name="P" type="s0:CryptoBinary"/>
                    <s:element name="Q" type="s0:CryptoBinary"/>
                    <s:element minOccurs="0" name="G" type="s0:CryptoBinary"/>
                    <s:element name="Y" type="s0:CryptoBinary"/>
                    <s:element minOccurs="0" name="J" type="s0:CryptoBinary"/>
                    <s:element name="Seed" type="s0:CryptoBinary"/>
                    <s:element name="PgenCounter" type="s0:CryptoBinary"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="CryptoBinary">
                <s:restriction base="s:base64Binary"/>
            </s:simpleType>
            <s:complexType name="RSAKeyValueType">
                <s:sequence>
                    <s:element name="Modulus" type="s0:CryptoBinary"/>
                    <s:element name="Exponent" type="s0:CryptoBinary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfRetrievalMethodTypeRetrievalMethodType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="RetrievalMethodType" nillable="true" type="s0:RetrievalMethodType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="RetrievalMethodType">
                <s:sequence>
                    <s:element minOccurs="0" ref="s0:Transforms"/>
                </s:sequence>
                <s:attribute name="URI" type="s:string"/>
                <s:attribute name="Type" type="s:string"/>
            </s:complexType>
            <s:complexType name="ArrayOfX509DataTypeX509DataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509DataType" nillable="true" type="s0:X509DataType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="X509DataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509IssuerSerial" nillable="true" type="s0:X509IssuerSerialType"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SKI" nillable="true" type="s:base64Binary"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SubjectName" nillable="true" type="s:string"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509Certificate" nillable="true" type="s:base64Binary"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509CRL" nillable="true" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509IssuerSerialTypeX509IssuerSerialType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509IssuerSerialType" nillable="true" type="s0:X509IssuerSerialType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="X509IssuerSerialType">
                <s:sequence>
                    <s:element name="X509IssuerName" type="s:string"/>
                    <s:element name="X509SerialNumber" type="s:long"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509SKIItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SKIItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509SubjectNameItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509SubjectNameItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509CertificateItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509CertificateItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfX509CRLItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="X509CRLItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfPGPDataTypePGPDataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="PGPDataType" nillable="true" type="s0:PGPDataType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PGPDataType">
                <s:sequence>
                    <s:element minOccurs="0" name="PGPKeyID" type="s:base64Binary"/>
                    <s:element minOccurs="0" name="PGPKeyPacket" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                    <s:element minOccurs="0" name="PGPKeyPacket" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfSPKIDataTypeSPKIDataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="SPKIDataType" nillable="true" type="s0:SPKIDataType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="SPKIDataType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" name="SPKISexp" type="s:base64Binary"/>
                    <s:any maxOccurs="unbounded" minOccurs="0"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfSPKISexpItemBase64Binary">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="SPKISexpItem" nillable="true" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfMgmtDataItemString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="MgmtDataItem" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfObjectTypeObjectType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ObjectType" nillable="true" type="s0:ObjectType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ObjectType">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="Id" type="s:string"/>
                        <s:attribute name="MimeType" type="s:string"/>
                        <s:attribute name="Encoding" type="s:string"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:element name="RecepcionarLoteRpsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="RecepcionarLoteRpsResult" type="s0:EnviarLoteRpsResposta"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="EnviarLoteRpsResposta">
                <s:sequence>
                    <s:element minOccurs="0" name="NumeroLote" type="s0:tsNumeroLote"/>
                    <s:element minOccurs="0" name="DataRecebimento" type="s:dateTime"/>
                    <s:element minOccurs="0" name="Protocolo" type="s0:tsNumeroProtocolo"/>
                    <s:element minOccurs="0" ref="s0:ListaMensagemRetorno"/>
                </s:sequence>
            </s:complexType>
            <s:element name="ListaMensagemRetorno" type="s0:ArrayOfMensagemRetornotcMensagemRetorno"/>
            <s:simpleType name="tsNumeroProtocolo">
                <s:restriction base="s:string">
                    <s:maxLength value="50"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfMensagemRetornotcMensagemRetorno">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="MensagemRetorno" nillable="true" type="s0:tcMensagemRetorno"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="tcMensagemRetorno">
                <s:sequence>
                    <s:element name="Codigo" type="s0:tsCodigoMensagemAlerta"/>
                    <s:element name="Mensagem" type="s0:tsDescricaoMensagemAlerta"/>
                    <s:element minOccurs="0" name="Correcao" type="s0:tsDescricaoMensagemAlerta"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="tsCodigoMensagemAlerta">
                <s:restriction base="s:string">
                    <s:maxLength value="4"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="tsDescricaoMensagemAlerta">
                <s:restriction base="s:string">
                    <s:maxLength value="200"/>
                    <s:minLength value="1"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="Test">
                <s:complexType>
                    <s:sequence/>
                </s:complexType>
            </s:element>
            <s:element name="TestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="TestResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#">
            <s:import namespace="http://www.tinus.com.br"/>
            <s:element name="Signature" type="s0:SignatureType"/>
        </s:schema>
    </types>
    <message name="RecepcionarLoteRpsSoapIn">
        <part name="parameters" element="s0:RecepcionarLoteRps"/>
    </message>
    <message name="RecepcionarLoteRpsSoapOut">
        <part name="parameters" element="s0:RecepcionarLoteRpsResponse"/>
    </message>
    <message name="TestSoapIn">
        <part name="parameters" element="s0:Test"/>
    </message>
    <message name="TestSoapOut">
        <part name="parameters" element="s0:TestResponse"/>
    </message>
    <portType name="RecepcionarLoteRpsSoap">
        <operation name="RecepcionarLoteRps">
            <input message="s0:RecepcionarLoteRpsSoapIn"/>
            <output message="s0:RecepcionarLoteRpsSoapOut"/>
        </operation>
        <operation name="Test">
            <input message="s0:TestSoapIn"/>
            <output message="s0:TestSoapOut"/>
        </operation>
    </portType>
    <binding name="RecepcionarLoteRpsSoap" type="s0:RecepcionarLoteRpsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="RecepcionarLoteRps">
            <soap:operation soapAction="http://www.tinus.com.br/WSNFSE.RecepcionarLoteRps.RecepcionarLoteRps" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Test">
            <soap:operation soapAction="http://www.tinus.com.br/WSNFSE.RecepcionarLoteRps.Test" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RecepcionarLoteRps">
        <port name="RecepcionarLoteRpsSoap" binding="s0:RecepcionarLoteRpsSoap">
            <soap:address location="http://www.tinus.com.br/csp/paulista/WSNFSE.RecepcionarLoteRps.cls"/>
        </port>
    </service>
</definitions>