WSDL/Producao/PPiumaES-EL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://des36.el.com.br:8080/el-issonline/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="RpsServiceService" targetNamespace="http://des36.el.com.br:8080/el-issonline/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://es-piuma-pm-nfs.cloud.el.com.br:80/RpsService?xsd=1" namespace="http://des36.el.com.br:8080/el-issonline/" />
    </xsd:schema>
  </types>
  <message name="requisitarAidf">
    <part name="parameters" element="tns:requisitarAidf" />
  </message>
  <message name="requisitarAidfResponse">
    <part name="parameters" element="tns:requisitarAidfResponse" />
  </message>
  <message name="fecharConexao">
    <part name="parameters" element="tns:fecharConexao" />
  </message>
  <message name="fecharConexaoResponse">
    <part name="parameters" element="tns:fecharConexaoResponse" />
  </message>
  <message name="validarAidf">
    <part name="parameters" element="tns:validarAidf" />
  </message>
  <message name="validarAidfResponse">
    <part name="parameters" element="tns:validarAidfResponse" />
  </message>
  <message name="verificarEmpresa">
    <part name="parameters" element="tns:verificarEmpresa" />
  </message>
  <message name="verificarEmpresaResponse">
    <part name="parameters" element="tns:verificarEmpresaResponse" />
  </message>
  <message name="verificarContribuinte">
    <part name="parameters" element="tns:verificarContribuinte" />
  </message>
  <message name="verificarContribuinteResponse">
    <part name="parameters" element="tns:verificarContribuinteResponse" />
  </message>
  <message name="autenticarContribuinte">
    <part name="parameters" element="tns:autenticarContribuinte" />
  </message>
  <message name="autenticarContribuinteResponse">
    <part name="parameters" element="tns:autenticarContribuinteResponse" />
  </message>
  <message name="finalizarSessao">
    <part name="parameters" element="tns:finalizarSessao" />
  </message>
  <message name="finalizarSessaoResponse">
    <part name="parameters" element="tns:finalizarSessaoResponse" />
  </message>
  <message name="ConsultarCnae">
    <part name="parameters" element="tns:ConsultarCnae" />
  </message>
  <message name="ConsultarCnaeResponse">
    <part name="parameters" element="tns:ConsultarCnaeResponse" />
  </message>
  <message name="ListarServicosMunicipais">
    <part name="parameters" element="tns:ListarServicosMunicipais" />
  </message>
  <message name="ListarServicosMunicipaisResponse">
    <part name="parameters" element="tns:ListarServicosMunicipaisResponse" />
  </message>
  <message name="ConsultarNfseRpsEnvio">
    <part name="parameters" element="tns:ConsultarNfseRpsEnvio" />
  </message>
  <message name="ConsultarNfseRpsEnvioResponse">
    <part name="parameters" element="tns:ConsultarNfseRpsEnvioResponse" />
  </message>
  <message name="ConsultarNfseEnvio">
    <part name="parameters" element="tns:ConsultarNfseEnvio" />
  </message>
  <message name="ConsultarNfseEnvioResponse">
    <part name="parameters" element="tns:ConsultarNfseEnvioResponse" />
  </message>
  <message name="ConsultarLoteRpsEnvio">
    <part name="parameters" element="tns:ConsultarLoteRpsEnvio" />
  </message>
  <message name="ConsultarLoteRpsEnvioResponse">
    <part name="parameters" element="tns:ConsultarLoteRpsEnvioResponse" />
  </message>
  <message name="CancelarNfseEnvio">
    <part name="parameters" element="tns:CancelarNfseEnvio" />
  </message>
  <message name="CancelarNfseEnvioResponse">
    <part name="parameters" element="tns:CancelarNfseEnvioResponse" />
  </message>
  <message name="CancelarNfseMotivoEnvio">
    <part name="parameters" element="tns:CancelarNfseMotivoEnvio" />
  </message>
  <message name="CancelarNfseMotivoEnvioResponse">
    <part name="parameters" element="tns:CancelarNfseMotivoEnvioResponse" />
  </message>
  <message name="EnviarLoteRpsEnvio">
    <part name="parameters" element="tns:EnviarLoteRpsEnvio" />
  </message>
  <message name="EnviarLoteRpsEnvioResponse">
    <part name="parameters" element="tns:EnviarLoteRpsEnvioResponse" />
  </message>
  <message name="ConsultarUltimoLote">
    <part name="parameters" element="tns:ConsultarUltimoLote" />
  </message>
  <message name="ConsultarUltimoLoteResponse">
    <part name="parameters" element="tns:ConsultarUltimoLoteResponse" />
  </message>
  <message name="ConsultarUltimaRps">
    <part name="parameters" element="tns:ConsultarUltimaRps" />
  </message>
  <message name="ConsultarUltimaRpsResponse">
    <part name="parameters" element="tns:ConsultarUltimaRpsResponse" />
  </message>
  <message name="ValidarLoteRps">
    <part name="parameters" element="tns:ValidarLoteRps" />
  </message>
  <message name="ValidarLoteRpsResponse">
    <part name="parameters" element="tns:ValidarLoteRpsResponse" />
  </message>
  <message name="ListarServicosMunicipaisPrestador">
    <part name="parameters" element="tns:ListarServicosMunicipaisPrestador" />
  </message>
  <message name="ListarServicosMunicipaisPrestadorResponse">
    <part name="parameters" element="tns:ListarServicosMunicipaisPrestadorResponse" />
  </message>
  <message name="ListarServicos116Municipal">
    <part name="parameters" element="tns:ListarServicos116Municipal" />
  </message>
  <message name="ListarServicos116MunicipalResponse">
    <part name="parameters" element="tns:ListarServicos116MunicipalResponse" />
  </message>
  <message name="ConsultarSituacaoLoteRpsEnvio">
    <part name="parameters" element="tns:ConsultarSituacaoLoteRpsEnvio" />
  </message>
  <message name="ConsultarSituacaoLoteRpsEnvioResponse">
    <part name="parameters" element="tns:ConsultarSituacaoLoteRpsEnvioResponse" />
  </message>
  <portType name="RpsService">
    <operation name="requisitarAidf">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/requisitarAidfRequest" message="tns:requisitarAidf" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/requisitarAidfResponse" message="tns:requisitarAidfResponse" />
    </operation>
    <operation name="fecharConexao">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/fecharConexaoRequest" message="tns:fecharConexao" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/fecharConexaoResponse" message="tns:fecharConexaoResponse" />
    </operation>
    <operation name="validarAidf">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/validarAidfRequest" message="tns:validarAidf" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/validarAidfResponse" message="tns:validarAidfResponse" />
    </operation>
    <operation name="verificarEmpresa">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarEmpresaRequest" message="tns:verificarEmpresa" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarEmpresaResponse" message="tns:verificarEmpresaResponse" />
    </operation>
    <operation name="verificarContribuinte">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarContribuinteRequest" message="tns:verificarContribuinte" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarContribuinteResponse" message="tns:verificarContribuinteResponse" />
    </operation>
    <operation name="autenticarContribuinte">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/autenticarContribuinteRequest" message="tns:autenticarContribuinte" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/autenticarContribuinteResponse" message="tns:autenticarContribuinteResponse" />
    </operation>
    <operation name="finalizarSessao">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/finalizarSessaoRequest" message="tns:finalizarSessao" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/finalizarSessaoResponse" message="tns:finalizarSessaoResponse" />
    </operation>
    <operation name="ConsultarCnae">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarCnaeRequest" message="tns:ConsultarCnae" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarCnaeResponse" message="tns:ConsultarCnaeResponse" />
    </operation>
    <operation name="ListarServicosMunicipais">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisRequest" message="tns:ListarServicosMunicipais" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisResponse" message="tns:ListarServicosMunicipaisResponse" />
    </operation>
    <operation name="ConsultarNfseRpsEnvio">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseRpsEnvioRequest" message="tns:ConsultarNfseRpsEnvio" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseRpsEnvioResponse" message="tns:ConsultarNfseRpsEnvioResponse" />
    </operation>
    <operation name="ConsultarNfseEnvio">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseEnvioRequest" message="tns:ConsultarNfseEnvio" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseEnvioResponse" message="tns:ConsultarNfseEnvioResponse" />
    </operation>
    <operation name="ConsultarLoteRpsEnvio">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarLoteRpsEnvioRequest" message="tns:ConsultarLoteRpsEnvio" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarLoteRpsEnvioResponse" message="tns:ConsultarLoteRpsEnvioResponse" />
    </operation>
    <operation name="CancelarNfseEnvio">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseEnvioRequest" message="tns:CancelarNfseEnvio" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseEnvioResponse" message="tns:CancelarNfseEnvioResponse" />
    </operation>
    <operation name="CancelarNfseMotivoEnvio">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseMotivoEnvioRequest" message="tns:CancelarNfseMotivoEnvio" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseMotivoEnvioResponse" message="tns:CancelarNfseMotivoEnvioResponse" />
    </operation>
    <operation name="EnviarLoteRpsEnvio">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/EnviarLoteRpsEnvioRequest" message="tns:EnviarLoteRpsEnvio" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/EnviarLoteRpsEnvioResponse" message="tns:EnviarLoteRpsEnvioResponse" />
    </operation>
    <operation name="ConsultarUltimoLote">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimoLoteRequest" message="tns:ConsultarUltimoLote" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimoLoteResponse" message="tns:ConsultarUltimoLoteResponse" />
    </operation>
    <operation name="ConsultarUltimaRps">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimaRpsRequest" message="tns:ConsultarUltimaRps" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimaRpsResponse" message="tns:ConsultarUltimaRpsResponse" />
    </operation>
    <operation name="ValidarLoteRps">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ValidarLoteRpsRequest" message="tns:ValidarLoteRps" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ValidarLoteRpsResponse" message="tns:ValidarLoteRpsResponse" />
    </operation>
    <operation name="ListarServicosMunicipaisPrestador">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisPrestadorRequest" message="tns:ListarServicosMunicipaisPrestador" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisPrestadorResponse" message="tns:ListarServicosMunicipaisPrestadorResponse" />
    </operation>
    <operation name="ListarServicos116Municipal">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicos116MunicipalRequest" message="tns:ListarServicos116Municipal" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicos116MunicipalResponse" message="tns:ListarServicos116MunicipalResponse" />
    </operation>
    <operation name="ConsultarSituacaoLoteRpsEnvio">
      <input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarSituacaoLoteRpsEnvioRequest" message="tns:ConsultarSituacaoLoteRpsEnvio" />
      <output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarSituacaoLoteRpsEnvioResponse" message="tns:ConsultarSituacaoLoteRpsEnvioResponse" />
    </operation>
  </portType>
  <binding name="RpsServicePortBinding" type="tns:RpsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="requisitarAidf">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fecharConexao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validarAidf">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarContribuinte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="autenticarContribuinte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="finalizarSessao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarCnae">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarServicosMunicipais">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarNfseRpsEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarNfseEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarLoteRpsEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CancelarNfseEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CancelarNfseMotivoEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnviarLoteRpsEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarUltimoLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarUltimaRps">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidarLoteRps">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarServicosMunicipaisPrestador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarServicos116Municipal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarSituacaoLoteRpsEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RpsServiceService">
    <port name="RpsServicePort" binding="tns:RpsServicePortBinding">
      <soap:address location="http://es-piuma-pm-nfs.cloud.el.com.br:80/RpsService" />
    </port>
  </service>
</definitions>