WSDL/Producao/PSalvadorDoSulRS-EnvioLoteRPSSincrono.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mEnvioLoteRPSSincrono">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mEnvioLoteRPSSincronoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mEnvioLoteRPSSincronoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mEnvioLoteRPSSincronoSoapIn">
    <wsdl:part name="parameters" element="tns:mEnvioLoteRPSSincrono" />
  </wsdl:message>
  <wsdl:message name="mEnvioLoteRPSSincronoSoapOut">
    <wsdl:part name="parameters" element="tns:mEnvioLoteRPSSincronoResponse" />
  </wsdl:message>
  <wsdl:portType name="EnvioLoteRPSSincronoSoap">
    <wsdl:operation name="mEnvioLoteRPSSincrono">
      <wsdl:input message="tns:mEnvioLoteRPSSincronoSoapIn" />
      <wsdl:output message="tns:mEnvioLoteRPSSincronoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnvioLoteRPSSincronoSoap" type="tns:EnvioLoteRPSSincronoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mEnvioLoteRPSSincrono">
      <soap:operation soapAction="http://tempuri.org/mEnvioLoteRPSSincrono" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnvioLoteRPSSincronoSoap12" type="tns:EnvioLoteRPSSincronoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mEnvioLoteRPSSincrono">
      <soap12:operation soapAction="http://tempuri.org/mEnvioLoteRPSSincrono" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnvioLoteRPSSincrono">
    <wsdl:port name="EnvioLoteRPSSincronoSoap" binding="tns:EnvioLoteRPSSincronoSoap">
      <soap:address location="http://salvadordosul.nfse-tecnos.com.br:9091/EnvioLoteRPSSincrono.asmx" />
    </wsdl:port>
    <wsdl:port name="EnvioLoteRPSSincronoSoap12" binding="tns:EnvioLoteRPSSincronoSoap12">
      <soap12:address location="http://salvadordosul.nfse-tecnos.com.br:9091/EnvioLoteRPSSincrono.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>