WSDL/Producao/PSaoJoseDaLapaMG-GovDigital.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nfse.abrasf.org.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://nfse.abrasf.org.br" name="NfseServiceImplSjlService">
<types>
<xsd:schema>
<xsd:import namespace="http://nfse.abrasf.org.br" schemaLocation="https://ws.govdigital.com.br:443/ws/sjl?xsd=1"/>
</xsd:schema>
</types>
<message name="CancelarNfse">
<part name="parameters" element="tns:CancelarNfseRequest"/>
</message>
<message name="CancelarNfseResponse">
<part name="parameters" element="tns:CancelarNfseResponse"/>
</message>
<message name="ConsultarLoteRps">
<part name="parameters" element="tns:ConsultarLoteRpsRequest"/>
</message>
<message name="ConsultarLoteRpsResponse">
<part name="parameters" element="tns:ConsultarLoteRpsResponse"/>
</message>
<message name="ConsultarNfseServicoPrestado">
<part name="parameters" element="tns:ConsultarNfseServicoPrestadoRequest"/>
</message>
<message name="ConsultarNfseServicoPrestadoResponse">
<part name="parameters" element="tns:ConsultarNfseServicoPrestadoResponse"/>
</message>
<message name="ConsultarNfseServicoTomado">
<part name="parameters" element="tns:ConsultarNfseServicoTomadoRequest"/>
</message>
<message name="ConsultarNfseServicoTomadoResponse">
<part name="parameters" element="tns:ConsultarNfseServicoTomadoResponse"/>
</message>
<message name="ConsultarNfsePorFaixa">
<part name="parameters" element="tns:ConsultarNfsePorFaixaRequest"/>
</message>
<message name="ConsultarNfsePorFaixaResponse">
<part name="parameters" element="tns:ConsultarNfsePorFaixaResponse"/>
</message>
<message name="ConsultarNfsePorRps">
<part name="parameters" element="tns:ConsultarNfsePorRpsRequest"/>
</message>
<message name="ConsultarNfsePorRpsResponse">
<part name="parameters" element="tns:ConsultarNfsePorRpsResponse"/>
</message>
<message name="RecepcionarLoteRps">
<part name="parameters" element="tns:RecepcionarLoteRpsRequest"/>
</message>
<message name="RecepcionarLoteRpsResponse">
<part name="parameters" element="tns:RecepcionarLoteRpsResponse"/>
</message>
<message name="GerarNfse">
<part name="parameters" element="tns:GerarNfseRequest"/>
</message>
<message name="GerarNfseResponse">
<part name="parameters" element="tns:GerarNfseResponse"/>
</message>
<message name="SubstituirNfse">
<part name="parameters" element="tns:SubstituirNfseRequest"/>
</message>
<message name="SubstituirNfseResponse">
<part name="parameters" element="tns:SubstituirNfseResponse"/>
</message>
<message name="RecepcionarLoteRpsSincrono">
<part name="parameters" element="tns:RecepcionarLoteRpsSincronoRequest"/>
</message>
<message name="RecepcionarLoteRpsSincronoResponse">
<part name="parameters" element="tns:RecepcionarLoteRpsSincronoResponse"/>
</message>
<portType name="nfse">
<operation name="CancelarNfse">
<input wsam:Action="http://nfse.abrasf.org.br/CancelarNfse" message="tns:CancelarNfse"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/CancelarNfseResponse" message="tns:CancelarNfseResponse"/>
</operation>
<operation name="ConsultarLoteRps">
<input wsam:Action="http://nfse.abrasf.org.br/ConsultarLoteRps" message="tns:ConsultarLoteRps"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/ConsultarLoteRpsResponse" message="tns:ConsultarLoteRpsResponse"/>
</operation>
<operation name="ConsultarNfseServicoPrestado">
<input wsam:Action="http://nfse.abrasf.org.br/ConsultarNfseServicoPrestado" message="tns:ConsultarNfseServicoPrestado"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/ConsultarNfseServicoPrestadoResponse" message="tns:ConsultarNfseServicoPrestadoResponse"/>
</operation>
<operation name="ConsultarNfseServicoTomado">
<input wsam:Action="http://nfse.abrasf.org.br/ConsultarNfseServicoTomado" message="tns:ConsultarNfseServicoTomado"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/ConsultarNfseServicoTomadoResponse" message="tns:ConsultarNfseServicoTomadoResponse"/>
</operation>
<operation name="ConsultarNfsePorFaixa">
<input wsam:Action="http://nfse.abrasf.org.br/ConsultarNfsePorFaixa" message="tns:ConsultarNfsePorFaixa"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/ConsultarNfsePorFaixaResponse" message="tns:ConsultarNfsePorFaixaResponse"/>
</operation>
<operation name="ConsultarNfsePorRps">
<input wsam:Action="http://nfse.abrasf.org.br/ConsultarNfsePorRps" message="tns:ConsultarNfsePorRps"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/ConsultarNfsePorRpsResponse" message="tns:ConsultarNfsePorRpsResponse"/>
</operation>
<operation name="RecepcionarLoteRps">
<input wsam:Action="http://nfse.abrasf.org.br/RecepcionarLoteRps" message="tns:RecepcionarLoteRps"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/RecepcionarLoteRpsResponse" message="tns:RecepcionarLoteRpsResponse"/>
</operation>
<operation name="GerarNfse">
<input wsam:Action="http://nfse.abrasf.org.br/GerarNfse" message="tns:GerarNfse"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/GerarNfseResponse" message="tns:GerarNfseResponse"/>
</operation>
<operation name="SubstituirNfse">
<input wsam:Action="http://nfse.abrasf.org.br/SubstituirNfse" message="tns:SubstituirNfse"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/SubstituirNfseResponse" message="tns:SubstituirNfseResponse"/>
</operation>
<operation name="RecepcionarLoteRpsSincrono">
<input wsam:Action="http://nfse.abrasf.org.br/RecepcionarLoteRpsSincrono" message="tns:RecepcionarLoteRpsSincrono"/>
<output wsam:Action="http://nfse.abrasf.org.br/nfse/RecepcionarLoteRpsSincronoResponse" message="tns:RecepcionarLoteRpsSincronoResponse"/>
</operation>
</portType>
<binding name="nfseSjlPortBinding" type="tns:nfse">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CancelarNfse">
<soap:operation soapAction="http://nfse.abrasf.org.br/CancelarNfse"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarLoteRps">
<soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarLoteRps"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarNfseServicoPrestado">
<soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoPrestado"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarNfseServicoTomado">
<soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoTomado"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarNfsePorFaixa">
<soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorFaixa"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarNfsePorRps">
<soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorRps"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecepcionarLoteRps">
<soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRps"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GerarNfse">
<soap:operation soapAction="http://nfse.abrasf.org.br/GerarNfse"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SubstituirNfse">
<soap:operation soapAction="http://nfse.abrasf.org.br/SubstituirNfse"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecepcionarLoteRpsSincrono">
<soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRpsSincrono"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NfseServiceImplSjlService">
<port name="nfseSjlPort" binding="tns:nfseSjlPortBinding">
<soap:address location="https://ws.govdigital.com.br:443/ws/sjl"/>
</port>
</service>
</definitions>