WSDL/Producao/PSaoPedroSP-PRONIN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="NFSeIntegracao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://200.159.89.202:8091/NFSe.Portal.Integracao/Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://200.159.89.202:8091/NFSe.Portal.Integracao/Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarSituacaoLoteRps">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoLoteRps" />
  </wsdl:message>
  <wsdl:message name="ConsultarSituacaoLoteRps_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarSituacaoLoteRpsResponse">
    <wsdl:part name="parameters" element="tns:ConsultarSituacaoLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarSituacaoLoteRpsResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRps">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorRps" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRps_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsResponse">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRps">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRps" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRps_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsResponse">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfse">
    <wsdl:part name="parameters" element="tns:ConsultarNfse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseResponse">
    <wsdl:part name="parameters" element="tns:ConsultarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestado">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestado" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestado_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoResponse">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomado">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoTomado" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomado_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoResponse">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoTomadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixa">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorFaixa" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixa_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixaResponse">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorFaixaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixaResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarCartaCorrecao">
    <wsdl:part name="parameters" element="tns:ConsultarCartaCorrecao" />
  </wsdl:message>
  <wsdl:message name="ConsultarCartaCorrecao_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="ConsultarCartaCorrecaoResponse">
    <wsdl:part name="parameters" element="tns:ConsultarCartaCorrecaoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCartaCorrecaoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRps">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRps" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRps_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsResponse">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteRpsSincrono">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsSincrono" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteRpsSincrono_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteRpsSincronoResponse">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsSincronoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteRpsSincronoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="GerarNfse">
    <wsdl:part name="parameters" element="tns:GerarNfse" />
  </wsdl:message>
  <wsdl:message name="GerarNfse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="GerarNfseResponse">
    <wsdl:part name="parameters" element="tns:GerarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="GerarNfseResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="CancelarNfse">
    <wsdl:part name="parameters" element="tns:CancelarNfse" />
  </wsdl:message>
  <wsdl:message name="CancelarNfse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseResponse">
    <wsdl:part name="parameters" element="tns:CancelarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfse">
    <wsdl:part name="parameters" element="tns:SubstituirNfse" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfseResponse">
    <wsdl:part name="parameters" element="tns:SubstituirNfseResponse" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfseResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="GerarCartaCorrecao">
    <wsdl:part name="parameters" element="tns:GerarCartaCorrecao" />
  </wsdl:message>
  <wsdl:message name="GerarCartaCorrecao_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="GerarCartaCorrecaoResponse">
    <wsdl:part name="parameters" element="tns:GerarCartaCorrecaoResponse" />
  </wsdl:message>
  <wsdl:message name="GerarCartaCorrecaoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="CancelarCartaCorrecao">
    <wsdl:part name="parameters" element="tns:CancelarCartaCorrecao" />
  </wsdl:message>
  <wsdl:message name="CancelarCartaCorrecao_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="CancelarCartaCorrecaoResponse">
    <wsdl:part name="parameters" element="tns:CancelarCartaCorrecaoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarCartaCorrecaoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="GerarManifestacao">
    <wsdl:part name="parameters" element="tns:GerarManifestacao" />
  </wsdl:message>
  <wsdl:message name="GerarManifestacao_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="GerarManifestacaoResponse">
    <wsdl:part name="parameters" element="tns:GerarManifestacaoResponse" />
  </wsdl:message>
  <wsdl:message name="GerarManifestacaoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteDeclaracao">
    <wsdl:part name="parameters" element="tns:EnviarLoteDeclaracao" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteDeclaracao_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteDeclaracaoResponse">
    <wsdl:part name="parameters" element="tns:EnviarLoteDeclaracaoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarLoteDeclaracaoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="EntregarDeclaracao">
    <wsdl:part name="parameters" element="tns:EntregarDeclaracao" />
  </wsdl:message>
  <wsdl:message name="EntregarDeclaracao_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="EntregarDeclaracaoResponse">
    <wsdl:part name="parameters" element="tns:EntregarDeclaracaoResponse" />
  </wsdl:message>
  <wsdl:message name="EntregarDeclaracaoResponse_Headers">
    <wsdl:part name="cabecalho" element="tns:cabecalho" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ConsultarNFSeDEISS_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNFSeDEISS" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ConsultarNFSeDEISS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNFSeDEISSResponse" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ObterNotasDEISS_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterNotasDEISS" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ObterNotasDEISS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterNotasDEISSResponse" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ConsultarNotasFaltantesNFSeDEISS_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNotasFaltantesNFSeDEISS" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ConsultarNotasFaltantesNFSeDEISS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNotasFaltantesNFSeDEISSResponse" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ConsultarTodasNotasPorPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodasNotasPorPeriodo" />
  </wsdl:message>
  <wsdl:message name="INFSeIntegracaoDEISS_ConsultarTodasNotasPorPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodasNotasPorPeriodoResponse" />
  </wsdl:message>
  <wsdl:portType name="INFSEConsultas">
    <wsdl:operation name="ConsultarSituacaoLoteRps">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarSituacaoLoteRps" name="ConsultarSituacaoLoteRps" message="tns:ConsultarSituacaoLoteRps" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarSituacaoLoteRpsResponse" name="ConsultarSituacaoLoteRpsResponse" message="tns:ConsultarSituacaoLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfsePorRps" name="ConsultarNfsePorRps" message="tns:ConsultarNfsePorRps" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfsePorRpsResponse" name="ConsultarNfsePorRpsResponse" message="tns:ConsultarNfsePorRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarLoteRps" name="ConsultarLoteRps" message="tns:ConsultarLoteRps" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarLoteRpsResponse" name="ConsultarLoteRpsResponse" message="tns:ConsultarLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfse">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfse" name="ConsultarNfse" message="tns:ConsultarNfse" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfseResponse" name="ConsultarNfseResponse" message="tns:ConsultarNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfseServicoPrestado" name="ConsultarNfseServicoPrestado" message="tns:ConsultarNfseServicoPrestado" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfseServicoPrestadoResponse" name="ConsultarNfseServicoPrestadoResponse" message="tns:ConsultarNfseServicoPrestadoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfseServicoTomado" name="ConsultarNfseServicoTomado" message="tns:ConsultarNfseServicoTomado" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfseServicoTomadoResponse" name="ConsultarNfseServicoTomadoResponse" message="tns:ConsultarNfseServicoTomadoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfsePorFaixa" name="ConsultarNfsePorFaixa" message="tns:ConsultarNfsePorFaixa" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarNfsePorFaixaResponse" name="ConsultarNfsePorFaixaResponse" message="tns:ConsultarNfsePorFaixaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCartaCorrecao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarCartaCorrecao" name="ConsultarCartaCorrecao" message="tns:ConsultarCartaCorrecao" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEConsultas/ConsultarCartaCorrecaoResponse" name="ConsultarCartaCorrecaoResponse" message="tns:ConsultarCartaCorrecaoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="INFSEGeracao">
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/RecepcionarLoteRps" name="RecepcionarLoteRps" message="tns:RecepcionarLoteRps" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/RecepcionarLoteRpsResponse" name="RecepcionarLoteRpsResponse" message="tns:RecepcionarLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteRpsSincrono">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/EnviarLoteRpsSincrono" name="EnviarLoteRpsSincrono" message="tns:EnviarLoteRpsSincrono" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/EnviarLoteRpsSincronoResponse" name="EnviarLoteRpsSincronoResponse" message="tns:EnviarLoteRpsSincronoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/GerarNfse" name="GerarNfse" message="tns:GerarNfse" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/GerarNfseResponse" name="GerarNfseResponse" message="tns:GerarNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/CancelarNfse" name="CancelarNfse" message="tns:CancelarNfse" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/CancelarNfseResponse" name="CancelarNfseResponse" message="tns:CancelarNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/SubstituirNfse" name="SubstituirNfse" message="tns:SubstituirNfse" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/SubstituirNfseResponse" name="SubstituirNfseResponse" message="tns:SubstituirNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="GerarCartaCorrecao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/GerarCartaCorrecao" name="GerarCartaCorrecao" message="tns:GerarCartaCorrecao" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/GerarCartaCorrecaoResponse" name="GerarCartaCorrecaoResponse" message="tns:GerarCartaCorrecaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCartaCorrecao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/CancelarCartaCorrecao" name="CancelarCartaCorrecao" message="tns:CancelarCartaCorrecao" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/CancelarCartaCorrecaoResponse" name="CancelarCartaCorrecaoResponse" message="tns:CancelarCartaCorrecaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GerarManifestacao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/GerarManifestacao" name="GerarManifestacao" message="tns:GerarManifestacao" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/GerarManifestacaoResponse" name="GerarManifestacaoResponse" message="tns:GerarManifestacaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteDeclaracao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/EnviarLoteDeclaracao" name="EnviarLoteDeclaracao" message="tns:EnviarLoteDeclaracao" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/EnviarLoteDeclaracaoResponse" name="EnviarLoteDeclaracaoResponse" message="tns:EnviarLoteDeclaracaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="EntregarDeclaracao">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSEGeracao/EntregarDeclaracao" name="EntregarDeclaracao" message="tns:EntregarDeclaracao" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSEGeracao/EntregarDeclaracaoResponse" name="EntregarDeclaracaoResponse" message="tns:EntregarDeclaracaoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="INFSeIntegracaoDEISS">
    <wsdl:operation name="ConsultarNFSeDEISS">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarNFSeDEISS" message="tns:INFSeIntegracaoDEISS_ConsultarNFSeDEISS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarNFSeDEISSResponse" message="tns:INFSeIntegracaoDEISS_ConsultarNFSeDEISS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterNotasDEISS">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ObterNotasDEISS" message="tns:INFSeIntegracaoDEISS_ObterNotasDEISS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ObterNotasDEISSResponse" message="tns:INFSeIntegracaoDEISS_ObterNotasDEISS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotasFaltantesNFSeDEISS">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarNotasFaltantesNFSeDEISS" message="tns:INFSeIntegracaoDEISS_ConsultarNotasFaltantesNFSeDEISS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarNotasFaltantesNFSeDEISSResponse" message="tns:INFSeIntegracaoDEISS_ConsultarNotasFaltantesNFSeDEISS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodasNotasPorPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarTodasNotasPorPeriodo" message="tns:INFSeIntegracaoDEISS_ConsultarTodasNotasPorPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarTodasNotasPorPeriodoResponse" message="tns:INFSeIntegracaoDEISS_ConsultarTodasNotasPorPeriodo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INFSEConsultas" type="tns:INFSEConsultas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarSituacaoLoteRps">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarSituacaoLoteRps" style="document" />
      <wsdl:input name="ConsultarSituacaoLoteRps">
        <soap:header message="tns:ConsultarSituacaoLoteRps_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarSituacaoLoteRpsResponse">
        <soap:header message="tns:ConsultarSituacaoLoteRpsResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarNfsePorRps" style="document" />
      <wsdl:input name="ConsultarNfsePorRps">
        <soap:header message="tns:ConsultarNfsePorRps_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorRpsResponse">
        <soap:header message="tns:ConsultarNfsePorRpsResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarLoteRps" style="document" />
      <wsdl:input name="ConsultarLoteRps">
        <soap:header message="tns:ConsultarLoteRps_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarLoteRpsResponse">
        <soap:header message="tns:ConsultarLoteRpsResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfse">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarNfse" style="document" />
      <wsdl:input name="ConsultarNfse">
        <soap:header message="tns:ConsultarNfse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseResponse">
        <soap:header message="tns:ConsultarNfseResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarNfseServicoPrestado" style="document" />
      <wsdl:input name="ConsultarNfseServicoPrestado">
        <soap:header message="tns:ConsultarNfseServicoPrestado_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoPrestadoResponse">
        <soap:header message="tns:ConsultarNfseServicoPrestadoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarNfseServicoTomado" style="document" />
      <wsdl:input name="ConsultarNfseServicoTomado">
        <soap:header message="tns:ConsultarNfseServicoTomado_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoTomadoResponse">
        <soap:header message="tns:ConsultarNfseServicoTomadoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarNfsePorFaixa" style="document" />
      <wsdl:input name="ConsultarNfsePorFaixa">
        <soap:header message="tns:ConsultarNfsePorFaixa_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorFaixaResponse">
        <soap:header message="tns:ConsultarNfsePorFaixaResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCartaCorrecao">
      <soap:operation soapAction="http://tempuri.org/INFSEConsultas/ConsultarCartaCorrecao" style="document" />
      <wsdl:input name="ConsultarCartaCorrecao">
        <soap:header message="tns:ConsultarCartaCorrecao_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarCartaCorrecaoResponse">
        <soap:header message="tns:ConsultarCartaCorrecaoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_INFSEGeracao" type="tns:INFSEGeracao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/RecepcionarLoteRps" style="document" />
      <wsdl:input name="RecepcionarLoteRps">
        <soap:header message="tns:RecepcionarLoteRps_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsResponse">
        <soap:header message="tns:RecepcionarLoteRpsResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteRpsSincrono">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/EnviarLoteRpsSincrono" style="document" />
      <wsdl:input name="EnviarLoteRpsSincrono">
        <soap:header message="tns:EnviarLoteRpsSincrono_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnviarLoteRpsSincronoResponse">
        <soap:header message="tns:EnviarLoteRpsSincronoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/GerarNfse" style="document" />
      <wsdl:input name="GerarNfse">
        <soap:header message="tns:GerarNfse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GerarNfseResponse">
        <soap:header message="tns:GerarNfseResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/CancelarNfse" style="document" />
      <wsdl:input name="CancelarNfse">
        <soap:header message="tns:CancelarNfse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarNfseResponse">
        <soap:header message="tns:CancelarNfseResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/SubstituirNfse" style="document" />
      <wsdl:input name="SubstituirNfse">
        <soap:header message="tns:SubstituirNfse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubstituirNfseResponse">
        <soap:header message="tns:SubstituirNfseResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarCartaCorrecao">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/GerarCartaCorrecao" style="document" />
      <wsdl:input name="GerarCartaCorrecao">
        <soap:header message="tns:GerarCartaCorrecao_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GerarCartaCorrecaoResponse">
        <soap:header message="tns:GerarCartaCorrecaoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCartaCorrecao">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/CancelarCartaCorrecao" style="document" />
      <wsdl:input name="CancelarCartaCorrecao">
        <soap:header message="tns:CancelarCartaCorrecao_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarCartaCorrecaoResponse">
        <soap:header message="tns:CancelarCartaCorrecaoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarManifestacao">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/GerarManifestacao" style="document" />
      <wsdl:input name="GerarManifestacao">
        <soap:header message="tns:GerarManifestacao_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GerarManifestacaoResponse">
        <soap:header message="tns:GerarManifestacaoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteDeclaracao">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/EnviarLoteDeclaracao" style="document" />
      <wsdl:input name="EnviarLoteDeclaracao">
        <soap:header message="tns:EnviarLoteDeclaracao_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnviarLoteDeclaracaoResponse">
        <soap:header message="tns:EnviarLoteDeclaracaoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntregarDeclaracao">
      <soap:operation soapAction="http://tempuri.org/INFSEGeracao/EntregarDeclaracao" style="document" />
      <wsdl:input name="EntregarDeclaracao">
        <soap:header message="tns:EntregarDeclaracao_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EntregarDeclaracaoResponse">
        <soap:header message="tns:EntregarDeclaracaoResponse_Headers" part="cabecalho" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_INFSeIntegracaoDEISS" type="tns:INFSeIntegracaoDEISS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarNFSeDEISS">
      <soap:operation soapAction="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarNFSeDEISS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterNotasDEISS">
      <soap:operation soapAction="http://tempuri.org/INFSeIntegracaoDEISS/ObterNotasDEISS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotasFaltantesNFSeDEISS">
      <soap:operation soapAction="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarNotasFaltantesNFSeDEISS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodasNotasPorPeriodo">
      <soap:operation soapAction="http://tempuri.org/INFSeIntegracaoDEISS/ConsultarTodasNotasPorPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFSeIntegracao">
    <wsdl:port name="BasicHttpBinding_INFSEConsultas" binding="tns:BasicHttpBinding_INFSEConsultas">
      <soap:address location="http://200.159.89.202:8091/NFSe.Portal.Integracao/Services.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_INFSEGeracao" binding="tns:BasicHttpBinding_INFSEGeracao">
      <soap:address location="http://200.159.89.202:8091/NFSe.Portal.Integracao/Services.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_INFSeIntegracaoDEISS" binding="tns:BasicHttpBinding_INFSeIntegracaoDEISS">
      <soap:address location="http://200.159.89.202:8091/NFSe.Portal.Integracao/Services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>