WSDL/Producao/PSaoGoncaloParaMG-WebISS_202.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nfse.abrasf.org.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://nfse.abrasf.org.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nfse.abrasf.org.br">
      <s:element name="GerarNfseRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarNfseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarNfseRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarNfseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubstituirNfseRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubstituirNfseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecepcionarLoteRpsSincronoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecepcionarLoteRpsSincronoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecepcionarLoteRpsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecepcionarLoteRpsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarLoteRpsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarLoteRpsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfseServicoPrestadoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfseServicoPrestadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfseServicoTomadoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfseServicoTomadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfsePorFaixaRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfsePorFaixaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfsePorRpsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nfseDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarNfsePorRpsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="outputXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GerarNfseSoapIn">
    <wsdl:part name="parameters" element="tns:GerarNfseRequest" />
  </wsdl:message>
  <wsdl:message name="GerarNfseSoapOut">
    <wsdl:part name="parameters" element="tns:GerarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarNfseRequest" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfseSoapIn">
    <wsdl:part name="parameters" element="tns:SubstituirNfseRequest" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfseSoapOut">
    <wsdl:part name="parameters" element="tns:SubstituirNfseResponse" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoSoapIn">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRpsSincronoRequest" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoSoapOut">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRpsSincronoResponse" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSoapIn">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRpsRequest" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSoapOut">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestadoRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoTomadoRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoTomadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorFaixaRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorFaixaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorRpsRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarNfsePorRpsResponse" />
  </wsdl:message>
  <wsdl:portType name="NfseWSServiceSoap">
    <wsdl:operation name="GerarNfse">
      <wsdl:input message="tns:GerarNfseSoapIn" />
      <wsdl:output message="tns:GerarNfseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <wsdl:input message="tns:CancelarNfseSoapIn" />
      <wsdl:output message="tns:CancelarNfseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <wsdl:input message="tns:SubstituirNfseSoapIn" />
      <wsdl:output message="tns:SubstituirNfseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <wsdl:input message="tns:RecepcionarLoteRpsSincronoSoapIn" />
      <wsdl:output message="tns:RecepcionarLoteRpsSincronoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input message="tns:RecepcionarLoteRpsSoapIn" />
      <wsdl:output message="tns:RecepcionarLoteRpsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input message="tns:ConsultarLoteRpsSoapIn" />
      <wsdl:output message="tns:ConsultarLoteRpsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input message="tns:ConsultarNfseServicoPrestadoSoapIn" />
      <wsdl:output message="tns:ConsultarNfseServicoPrestadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <wsdl:input message="tns:ConsultarNfseServicoTomadoSoapIn" />
      <wsdl:output message="tns:ConsultarNfseServicoTomadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <wsdl:input message="tns:ConsultarNfsePorFaixaSoapIn" />
      <wsdl:output message="tns:ConsultarNfsePorFaixaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <wsdl:input message="tns:ConsultarNfsePorRpsSoapIn" />
      <wsdl:output message="tns:ConsultarNfsePorRpsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfseWSServiceSoap" type="tns:NfseWSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/GerarNfse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/CancelarNfse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/SubstituirNfse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRpsSincrono" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarLoteRps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoPrestado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoTomado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorFaixa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorRps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NfseWSServiceSoap12" type="tns:NfseWSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/GerarNfse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/CancelarNfse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/SubstituirNfse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRpsSincrono" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/ConsultarLoteRps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoPrestado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoTomado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorFaixa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap12:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorRps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfseWSService">
    <wsdl:port name="NfseWSServiceSoap" binding="tns:NfseWSServiceSoap">
      <soap:address location="https://saogoncalodoparamg.webiss.com.br/ws/nfse.asmx" />
    </wsdl:port>
    <wsdl:port name="NfseWSServiceSoap12" binding="tns:NfseWSServiceSoap12">
      <soap12:address location="https://saogoncalodoparamg.webiss.com.br/ws/nfse.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>