WSDL/Producao/PTaquarivaiSP-cancelarnfse.wsdl

<?xml version = "1.0" encoding = "utf-8"?>
<definitions name="CancelarNfse" targetNamespace="Abrasf2" xmlns:wsdlns="Abrasf2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Abrasf2">
	<types>
		<schema targetNamespace="Abrasf2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="CancelarNfse.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Entrada" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="CancelarNfse.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Resposta" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="CancelarNfse.ExecuteSoapIn">
		<part name="parameters" element="tns:CancelarNfse.Execute" />
	</message>
	<message name="CancelarNfse.ExecuteSoapOut">
		<part name="parameters" element="tns:CancelarNfse.ExecuteResponse" />
	</message>
	<portType name="CancelarNfseSoapPort">
		<operation name="Execute">
			<input message="wsdlns:CancelarNfse.ExecuteSoapIn" />
			<output message="wsdlns:CancelarNfse.ExecuteSoapOut" />
		</operation>
	</portType>
	<binding name="CancelarNfseSoapBinding" type="wsdlns:CancelarNfseSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Execute">
			<soap:operation soapAction="Abrasf2action/ACANCELARNFSE.Execute" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="CancelarNfse">
		<port name="CancelarNfseSoapPort" binding="wsdlns:CancelarNfseSoapBinding">
			<soap:address location="http://taquarivai.sistemas4r.com.br/abrasf/acancelarnfse.aspx" />
		</port>
	</service>
</definitions>
