WSDL/Producao/PTeixeiraDeFreitasBA-EL.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://des36.el.com.br:8080/el-issonline/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://des36.el.com.br:8080/el-issonline/" name="RpsServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://des36.el.com.br:8080/el-issonline/" schemaLocation="http://ba-teixeiradefreitas-pm-nfs.cloud.el.com.br:80/RpsService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="requisitarAidf">
<part name="parameters" element="tns:requisitarAidf"></part>
</message>
<message name="requisitarAidfResponse">
<part name="parameters" element="tns:requisitarAidfResponse"></part>
</message>
<message name="fecharConexao">
<part name="parameters" element="tns:fecharConexao"></part>
</message>
<message name="fecharConexaoResponse">
<part name="parameters" element="tns:fecharConexaoResponse"></part>
</message>
<message name="validarAidf">
<part name="parameters" element="tns:validarAidf"></part>
</message>
<message name="validarAidfResponse">
<part name="parameters" element="tns:validarAidfResponse"></part>
</message>
<message name="verificarEmpresa">
<part name="parameters" element="tns:verificarEmpresa"></part>
</message>
<message name="verificarEmpresaResponse">
<part name="parameters" element="tns:verificarEmpresaResponse"></part>
</message>
<message name="verificarContribuinte">
<part name="parameters" element="tns:verificarContribuinte"></part>
</message>
<message name="verificarContribuinteResponse">
<part name="parameters" element="tns:verificarContribuinteResponse"></part>
</message>
<message name="autenticarContribuinte">
<part name="parameters" element="tns:autenticarContribuinte"></part>
</message>
<message name="autenticarContribuinteResponse">
<part name="parameters" element="tns:autenticarContribuinteResponse"></part>
</message>
<message name="finalizarSessao">
<part name="parameters" element="tns:finalizarSessao"></part>
</message>
<message name="finalizarSessaoResponse">
<part name="parameters" element="tns:finalizarSessaoResponse"></part>
</message>
<message name="ConsultarCnae">
<part name="parameters" element="tns:ConsultarCnae"></part>
</message>
<message name="ConsultarCnaeResponse">
<part name="parameters" element="tns:ConsultarCnaeResponse"></part>
</message>
<message name="ListarServicosMunicipais">
<part name="parameters" element="tns:ListarServicosMunicipais"></part>
</message>
<message name="ListarServicosMunicipaisResponse">
<part name="parameters" element="tns:ListarServicosMunicipaisResponse"></part>
</message>
<message name="ConsultarNfseRpsEnvio">
<part name="parameters" element="tns:ConsultarNfseRpsEnvio"></part>
</message>
<message name="ConsultarNfseRpsEnvioResponse">
<part name="parameters" element="tns:ConsultarNfseRpsEnvioResponse"></part>
</message>
<message name="ConsultarNfseEnvio">
<part name="parameters" element="tns:ConsultarNfseEnvio"></part>
</message>
<message name="ConsultarNfseEnvioResponse">
<part name="parameters" element="tns:ConsultarNfseEnvioResponse"></part>
</message>
<message name="ConsultarLoteRpsEnvio">
<part name="parameters" element="tns:ConsultarLoteRpsEnvio"></part>
</message>
<message name="ConsultarLoteRpsEnvioResponse">
<part name="parameters" element="tns:ConsultarLoteRpsEnvioResponse"></part>
</message>
<message name="CancelarNfseEnvio">
<part name="parameters" element="tns:CancelarNfseEnvio"></part>
</message>
<message name="CancelarNfseEnvioResponse">
<part name="parameters" element="tns:CancelarNfseEnvioResponse"></part>
</message>
<message name="CancelarNfseMotivoEnvio">
<part name="parameters" element="tns:CancelarNfseMotivoEnvio"></part>
</message>
<message name="CancelarNfseMotivoEnvioResponse">
<part name="parameters" element="tns:CancelarNfseMotivoEnvioResponse"></part>
</message>
<message name="EnviarLoteRpsEnvio">
<part name="parameters" element="tns:EnviarLoteRpsEnvio"></part>
</message>
<message name="EnviarLoteRpsEnvioResponse">
<part name="parameters" element="tns:EnviarLoteRpsEnvioResponse"></part>
</message>
<message name="ConsultarUltimoLote">
<part name="parameters" element="tns:ConsultarUltimoLote"></part>
</message>
<message name="ConsultarUltimoLoteResponse">
<part name="parameters" element="tns:ConsultarUltimoLoteResponse"></part>
</message>
<message name="ConsultarUltimaRps">
<part name="parameters" element="tns:ConsultarUltimaRps"></part>
</message>
<message name="ConsultarUltimaRpsResponse">
<part name="parameters" element="tns:ConsultarUltimaRpsResponse"></part>
</message>
<message name="ValidarLoteRps">
<part name="parameters" element="tns:ValidarLoteRps"></part>
</message>
<message name="ValidarLoteRpsResponse">
<part name="parameters" element="tns:ValidarLoteRpsResponse"></part>
</message>
<message name="ListarServicosMunicipaisPrestador">
<part name="parameters" element="tns:ListarServicosMunicipaisPrestador"></part>
</message>
<message name="ListarServicosMunicipaisPrestadorResponse">
<part name="parameters" element="tns:ListarServicosMunicipaisPrestadorResponse"></part>
</message>
<message name="ListarServicos116Municipal">
<part name="parameters" element="tns:ListarServicos116Municipal"></part>
</message>
<message name="ListarServicos116MunicipalResponse">
<part name="parameters" element="tns:ListarServicos116MunicipalResponse"></part>
</message>
<message name="ConsultarSituacaoLoteRpsEnvio">
<part name="parameters" element="tns:ConsultarSituacaoLoteRpsEnvio"></part>
</message>
<message name="ConsultarSituacaoLoteRpsEnvioResponse">
<part name="parameters" element="tns:ConsultarSituacaoLoteRpsEnvioResponse"></part>
</message>
<portType name="RpsService">
<operation name="requisitarAidf">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/requisitarAidfRequest" message="tns:requisitarAidf"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/requisitarAidfResponse" message="tns:requisitarAidfResponse"></output>
</operation>
<operation name="fecharConexao">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/fecharConexaoRequest" message="tns:fecharConexao"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/fecharConexaoResponse" message="tns:fecharConexaoResponse"></output>
</operation>
<operation name="validarAidf">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/validarAidfRequest" message="tns:validarAidf"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/validarAidfResponse" message="tns:validarAidfResponse"></output>
</operation>
<operation name="verificarEmpresa">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarEmpresaRequest" message="tns:verificarEmpresa"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarEmpresaResponse" message="tns:verificarEmpresaResponse"></output>
</operation>
<operation name="verificarContribuinte">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarContribuinteRequest" message="tns:verificarContribuinte"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/verificarContribuinteResponse" message="tns:verificarContribuinteResponse"></output>
</operation>
<operation name="autenticarContribuinte">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/autenticarContribuinteRequest" message="tns:autenticarContribuinte"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/autenticarContribuinteResponse" message="tns:autenticarContribuinteResponse"></output>
</operation>
<operation name="finalizarSessao">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/finalizarSessaoRequest" message="tns:finalizarSessao"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/finalizarSessaoResponse" message="tns:finalizarSessaoResponse"></output>
</operation>
<operation name="ConsultarCnae">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarCnaeRequest" message="tns:ConsultarCnae"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarCnaeResponse" message="tns:ConsultarCnaeResponse"></output>
</operation>
<operation name="ListarServicosMunicipais">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisRequest" message="tns:ListarServicosMunicipais"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisResponse" message="tns:ListarServicosMunicipaisResponse"></output>
</operation>
<operation name="ConsultarNfseRpsEnvio">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseRpsEnvioRequest" message="tns:ConsultarNfseRpsEnvio"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseRpsEnvioResponse" message="tns:ConsultarNfseRpsEnvioResponse"></output>
</operation>
<operation name="ConsultarNfseEnvio">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseEnvioRequest" message="tns:ConsultarNfseEnvio"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarNfseEnvioResponse" message="tns:ConsultarNfseEnvioResponse"></output>
</operation>
<operation name="ConsultarLoteRpsEnvio">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarLoteRpsEnvioRequest" message="tns:ConsultarLoteRpsEnvio"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarLoteRpsEnvioResponse" message="tns:ConsultarLoteRpsEnvioResponse"></output>
</operation>
<operation name="CancelarNfseEnvio">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseEnvioRequest" message="tns:CancelarNfseEnvio"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseEnvioResponse" message="tns:CancelarNfseEnvioResponse"></output>
</operation>
<operation name="CancelarNfseMotivoEnvio">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseMotivoEnvioRequest" message="tns:CancelarNfseMotivoEnvio"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/CancelarNfseMotivoEnvioResponse" message="tns:CancelarNfseMotivoEnvioResponse"></output>
</operation>
<operation name="EnviarLoteRpsEnvio">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/EnviarLoteRpsEnvioRequest" message="tns:EnviarLoteRpsEnvio"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/EnviarLoteRpsEnvioResponse" message="tns:EnviarLoteRpsEnvioResponse"></output>
</operation>
<operation name="ConsultarUltimoLote">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimoLoteRequest" message="tns:ConsultarUltimoLote"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimoLoteResponse" message="tns:ConsultarUltimoLoteResponse"></output>
</operation>
<operation name="ConsultarUltimaRps">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimaRpsRequest" message="tns:ConsultarUltimaRps"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarUltimaRpsResponse" message="tns:ConsultarUltimaRpsResponse"></output>
</operation>
<operation name="ValidarLoteRps">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ValidarLoteRpsRequest" message="tns:ValidarLoteRps"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ValidarLoteRpsResponse" message="tns:ValidarLoteRpsResponse"></output>
</operation>
<operation name="ListarServicosMunicipaisPrestador">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisPrestadorRequest" message="tns:ListarServicosMunicipaisPrestador"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicosMunicipaisPrestadorResponse" message="tns:ListarServicosMunicipaisPrestadorResponse"></output>
</operation>
<operation name="ListarServicos116Municipal">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicos116MunicipalRequest" message="tns:ListarServicos116Municipal"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ListarServicos116MunicipalResponse" message="tns:ListarServicos116MunicipalResponse"></output>
</operation>
<operation name="ConsultarSituacaoLoteRpsEnvio">
<input wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarSituacaoLoteRpsEnvioRequest" message="tns:ConsultarSituacaoLoteRpsEnvio"></input>
<output wsam:Action="http://des36.el.com.br:8080/el-issonline/RpsService/ConsultarSituacaoLoteRpsEnvioResponse" message="tns:ConsultarSituacaoLoteRpsEnvioResponse"></output>
</operation>
</portType>
<binding name="RpsServicePortBinding" type="tns:RpsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="requisitarAidf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fecharConexao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarAidf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="verificarEmpresa">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="verificarContribuinte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="autenticarContribuinte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="finalizarSessao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarCnae">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListarServicosMunicipais">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarNfseRpsEnvio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarNfseEnvio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarLoteRpsEnvio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CancelarNfseEnvio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CancelarNfseMotivoEnvio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="EnviarLoteRpsEnvio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarUltimoLote">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarUltimaRps">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ValidarLoteRps">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListarServicosMunicipaisPrestador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListarServicos116Municipal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConsultarSituacaoLoteRpsEnvio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RpsServiceService">
<port name="RpsServicePort" binding="tns:RpsServicePortBinding">
<soap:address location="http://ba-teixeiradefreitas-pm-nfs.cloud.el.com.br:80/RpsService"></soap:address>
</port>
</service>
</definitions>