WSDL/Producao/PTerradeAreiaRSConsultaNFSePorRPS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mConsultaNFSePorRPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mConsultaNFSePorRPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mConsultaNFSePorRPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mConsultaNFSePorRPSSoapIn">
    <wsdl:part name="parameters" element="tns:mConsultaNFSePorRPS" />
  </wsdl:message>
  <wsdl:message name="mConsultaNFSePorRPSSoapOut">
    <wsdl:part name="parameters" element="tns:mConsultaNFSePorRPSResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaNFSePorRPSSoap">
    <wsdl:operation name="mConsultaNFSePorRPS">
      <wsdl:input message="tns:mConsultaNFSePorRPSSoapIn" />
      <wsdl:output message="tns:mConsultaNFSePorRPSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaNFSePorRPSSoap" type="tns:ConsultaNFSePorRPSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaNFSePorRPS">
      <soap:operation soapAction="http://tempuri.org/mConsultaNFSePorRPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaNFSePorRPSSoap12" type="tns:ConsultaNFSePorRPSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaNFSePorRPS">
      <soap12:operation soapAction="http://tempuri.org/mConsultaNFSePorRPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaNFSePorRPS">
    <wsdl:port name="ConsultaNFSePorRPSSoap" binding="tns:ConsultaNFSePorRPSSoap">
      <soap:address location="http://terradeareia.nfse-tecnos.com.br:9095/ConsultaNFSePorRPS.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaNFSePorRPSSoap12" binding="tns:ConsultaNFSePorRPSSoap12">
      <soap12:address location="http://terradeareia.nfse-tecnos.com.br:9095/ConsultaNFSePorRPS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>