WSDL/Producao/PToledoPR-EQUIPLANO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.enfsws.es" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.enfsws.es">
    <wsdl:documentation>
		Nota Fiscal de Serviço Eletrônica
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.enfsws.es">
            <xs:element name="esCancelarNfse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nrVersaoXml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esCancelarNfseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarLoteRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nrVersaoXml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarLoteRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarNfse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nrVersaoXml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarNfseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarNfsePorRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nrVersaoXml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarNfsePorRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarSituacaoLoteRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nrVersaoXml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esConsultarSituacaoLoteRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esRecepcionarLoteRps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nrVersaoXml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="esRecepcionarLoteRpsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="esRecepcionarLoteRpsRequest">
        <wsdl:part name="parameters" element="ns:esRecepcionarLoteRps"/>
    </wsdl:message>
    <wsdl:message name="esRecepcionarLoteRpsResponse">
        <wsdl:part name="parameters" element="ns:esRecepcionarLoteRpsResponse"/>
    </wsdl:message>
    <wsdl:message name="esCancelarNfseRequest">
        <wsdl:part name="parameters" element="ns:esCancelarNfse"/>
    </wsdl:message>
    <wsdl:message name="esCancelarNfseResponse">
        <wsdl:part name="parameters" element="ns:esCancelarNfseResponse"/>
    </wsdl:message>
    <wsdl:message name="esConsultarNfseRequest">
        <wsdl:part name="parameters" element="ns:esConsultarNfse"/>
    </wsdl:message>
    <wsdl:message name="esConsultarNfseResponse">
        <wsdl:part name="parameters" element="ns:esConsultarNfseResponse"/>
    </wsdl:message>
    <wsdl:message name="esConsultarLoteRpsRequest">
        <wsdl:part name="parameters" element="ns:esConsultarLoteRps"/>
    </wsdl:message>
    <wsdl:message name="esConsultarLoteRpsResponse">
        <wsdl:part name="parameters" element="ns:esConsultarLoteRpsResponse"/>
    </wsdl:message>
    <wsdl:message name="esConsultarSituacaoLoteRpsRequest">
        <wsdl:part name="parameters" element="ns:esConsultarSituacaoLoteRps"/>
    </wsdl:message>
    <wsdl:message name="esConsultarSituacaoLoteRpsResponse">
        <wsdl:part name="parameters" element="ns:esConsultarSituacaoLoteRpsResponse"/>
    </wsdl:message>
    <wsdl:message name="esConsultarNfsePorRpsRequest">
        <wsdl:part name="parameters" element="ns:esConsultarNfsePorRps"/>
    </wsdl:message>
    <wsdl:message name="esConsultarNfsePorRpsResponse">
        <wsdl:part name="parameters" element="ns:esConsultarNfsePorRpsResponse"/>
    </wsdl:message>
    <wsdl:portType name="EnfsPortType">
        <wsdl:operation name="esRecepcionarLoteRps">
            <wsdl:input message="ns:esRecepcionarLoteRpsRequest" wsaw:Action="urn:esRecepcionarLoteRps"/>
            <wsdl:output message="ns:esRecepcionarLoteRpsResponse" wsaw:Action="urn:esRecepcionarLoteRpsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="esCancelarNfse">
            <wsdl:input message="ns:esCancelarNfseRequest" wsaw:Action="urn:esCancelarNfse"/>
            <wsdl:output message="ns:esCancelarNfseResponse" wsaw:Action="urn:esCancelarNfseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfse">
            <wsdl:input message="ns:esConsultarNfseRequest" wsaw:Action="urn:esConsultarNfse"/>
            <wsdl:output message="ns:esConsultarNfseResponse" wsaw:Action="urn:esConsultarNfseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="esConsultarLoteRps">
            <wsdl:input message="ns:esConsultarLoteRpsRequest" wsaw:Action="urn:esConsultarLoteRps"/>
            <wsdl:output message="ns:esConsultarLoteRpsResponse" wsaw:Action="urn:esConsultarLoteRpsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="esConsultarSituacaoLoteRps">
            <wsdl:input message="ns:esConsultarSituacaoLoteRpsRequest" wsaw:Action="urn:esConsultarSituacaoLoteRps"/>
            <wsdl:output message="ns:esConsultarSituacaoLoteRpsResponse" wsaw:Action="urn:esConsultarSituacaoLoteRpsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfsePorRps">
            <wsdl:input message="ns:esConsultarNfsePorRpsRequest" wsaw:Action="urn:esConsultarNfsePorRps"/>
            <wsdl:output message="ns:esConsultarNfsePorRpsResponse" wsaw:Action="urn:esConsultarNfsePorRpsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EnfsSoap11Binding" type="ns:EnfsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="esRecepcionarLoteRps">
            <soap:operation soapAction="urn:esRecepcionarLoteRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esCancelarNfse">
            <soap:operation soapAction="urn:esCancelarNfse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfse">
            <soap:operation soapAction="urn:esConsultarNfse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarLoteRps">
            <soap:operation soapAction="urn:esConsultarLoteRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarSituacaoLoteRps">
            <soap:operation soapAction="urn:esConsultarSituacaoLoteRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfsePorRps">
            <soap:operation soapAction="urn:esConsultarNfsePorRps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EnfsSoap12Binding" type="ns:EnfsPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="esRecepcionarLoteRps">
            <soap12:operation soapAction="urn:esRecepcionarLoteRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esCancelarNfse">
            <soap12:operation soapAction="urn:esCancelarNfse" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfse">
            <soap12:operation soapAction="urn:esConsultarNfse" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarLoteRps">
            <soap12:operation soapAction="urn:esConsultarLoteRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarSituacaoLoteRps">
            <soap12:operation soapAction="urn:esConsultarSituacaoLoteRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfsePorRps">
            <soap12:operation soapAction="urn:esConsultarNfsePorRps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EnfsHttpBinding" type="ns:EnfsPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="esRecepcionarLoteRps">
            <http:operation location="Enfs/esRecepcionarLoteRps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="esRecepcionarLoteRps"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="esRecepcionarLoteRps"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esCancelarNfse">
            <http:operation location="Enfs/esCancelarNfse"/>
            <wsdl:input>
                <mime:content type="text/xml" part="esCancelarNfse"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="esCancelarNfse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfse">
            <http:operation location="Enfs/esConsultarNfse"/>
            <wsdl:input>
                <mime:content type="text/xml" part="esConsultarNfse"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="esConsultarNfse"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarLoteRps">
            <http:operation location="Enfs/esConsultarLoteRps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="esConsultarLoteRps"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="esConsultarLoteRps"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarSituacaoLoteRps">
            <http:operation location="Enfs/esConsultarSituacaoLoteRps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="esConsultarSituacaoLoteRps"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="esConsultarSituacaoLoteRps"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="esConsultarNfsePorRps">
            <http:operation location="Enfs/esConsultarNfsePorRps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="esConsultarNfsePorRps"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="esConsultarNfsePorRps"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Enfs">
        <wsdl:port name="EnfsHttpsSoap11Endpoint" binding="ns:EnfsSoap11Binding">
            <soap:address location="https://www.esnfs.com.br:8444/enfsws/services/Enfs.EnfsHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EnfsHttpsSoap12Endpoint" binding="ns:EnfsSoap12Binding">
            <soap12:address location="https://www.esnfs.com.br:8444/enfsws/services/Enfs.EnfsHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EnfsHttpsEndpoint" binding="ns:EnfsHttpBinding">
            <http:address location="https://www.esnfs.com.br:8444/enfsws/services/Enfs.EnfsHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
