WSDL/Producao/PWebFiscoTecnologia-ConsultarNfe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://187.32.116.170/issqn/wservice/wsnfeconsulta.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://187.32.116.170/issqn/wservice/wsnfeconsulta.php">
<types>
<xsd:schema targetNamespace="http://187.32.116.170/issqn/wservice/wsnfeconsulta.php"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="StrConsultaNfe">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ConsultaNfe[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="ConsultaNfe">
  <xsd:all>
   <xsd:element name="okk" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="ConsultaNfeRequest">
  <part name="usuario" type="xsd:string" />
  <part name="pass" type="xsd:string" />
  <part name="prf" type="xsd:string" />
  <part name="usr" type="xsd:string" />
  <part name="ctr" type="xsd:string" />
  <part name="tipo" type="xsd:string" /></message>
<message name="ConsultaNfeResponse">
  <part name="return" type="tns:StrConsultaNfe" /></message>
<portType name="webservicePortType">
  <operation name="ConsultaNfe">
    <input message="tns:ConsultaNfeRequest"/>
    <output message="tns:ConsultaNfeResponse"/>
  </operation>
</portType>
<binding name="webserviceBinding" type="tns:webservicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="ConsultaNfe">
    <soap:operation soapAction="http://www.webfiscotecnologia.com.br/issqn/wservice/wsnfeconsulta.php/ConsultaNfe" style="rpc"/>
    <input><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="webservice">
  <port name="webservicePort" binding="tns:webserviceBinding">
    <soap:address location="http://www.webfiscotecnologia.com.br/issqn/wservice/wsnfeconsulta.php"/>
  </port>
</service>
</definitions>