WSDL/Producao/PWebFiscoTecnologia-Cancelar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://187.32.116.170/issqn/wservice/wsnfecancela.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://187.32.116.170/issqn/wservice/wsnfecancela.php">
<types>
<xsd:schema targetNamespace="http://187.32.116.170/issqn/wservice/wsnfecancela.php"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="StrCancelaNfe">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:CancelaNfe[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="CancelaNfe">
  <xsd:all>
   <xsd:element name="okk" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="CancelaNfeRequest">
  <part name="usuario" type="xsd:string" />
  <part name="pass" type="xsd:string" />
  <part name="prf" type="xsd:string" />
  <part name="usr" type="xsd:string" />
  <part name="ctr" type="xsd:string" />
  <part name="tipo" type="xsd:string" />
  <part name="obs" type="xsd:string" /></message>
<message name="CancelaNfeResponse">
  <part name="return" type="tns:StrCancelaNfe" /></message>
<portType name="webservicePortType">
  <operation name="CancelaNfe">
    <input message="tns:CancelaNfeRequest"/>
    <output message="tns:CancelaNfeResponse"/>
  </operation>
</portType>
<binding name="webserviceBinding" type="tns:webservicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="CancelaNfe">
    <soap:operation soapAction="http://www.webfiscotecnologia.com.br/issqn/wservice/wsnfecancela.php/CancelaNfe" style="rpc"/>
    <input><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="webservice">
  <port name="webservicePort" binding="tns:webserviceBinding">
    <soap:address location="https://www.webfiscotecnologia.com.br/issqn/wservice/wsnfecancela.php"/>
  </port>
</service>
</definitions>