WSDL/Producao/PWebFiscoTecnologia-ConsultarXml.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://187.32.116.170/issqn/wservice/wsnfeconsultaxml.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://187.32.116.170/issqn/wservice/wsnfeconsultaxml.php">
<types>
<xsd:schema targetNamespace="http://187.32.116.170/issqn/wservice/wsnfeconsultaxml.php"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="StrConsultaNfe">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ConsultaNfe[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="ConsultaNfe">
  <xsd:all>
   <xsd:element name="okk" type="xsd:string"/>
   <xsd:element name="nfecontrole" type="xsd:string"/>
   <xsd:element name="emitentecnpj" type="xsd:string"/>
   <xsd:element name="nfenumero" type="xsd:string"/>
   <xsd:element name="nfedata" type="xsd:string"/>
   <xsd:element name="nfehora" type="xsd:string"/>
   <xsd:element name="nfeautenticacao" type="xsd:string"/>
   <xsd:element name="nfestatus" type="xsd:string"/>
   <xsd:element name="destinatariocnpj" type="xsd:string"/>
   <xsd:element name="destinatarioinscmun" type="xsd:string"/>
   <xsd:element name="destinatarioinscest" type="xsd:string"/>
   <xsd:element name="destinatariorsocial" type="xsd:string"/>
   <xsd:element name="destinatarioendereco" type="xsd:string"/>
   <xsd:element name="destinatarionumero" type="xsd:string"/>
   <xsd:element name="destinatariocomplemento" type="xsd:string"/>
   <xsd:element name="destinatariobairro" type="xsd:string"/>
   <xsd:element name="destinatariocidade" type="xsd:string"/>
   <xsd:element name="destinatarioestado" type="xsd:string"/>
   <xsd:element name="destinatariocep" type="xsd:string"/>
   <xsd:element name="nfenumfatura1" type="xsd:string"/>
   <xsd:element name="nfedatfatura1" type="xsd:string"/>
   <xsd:element name="nfevalfatura1" type="xsd:string"/>
   <xsd:element name="nfenumfatura2" type="xsd:string"/>
   <xsd:element name="nfedatfatura2" type="xsd:string"/>
   <xsd:element name="nfevalfatura2" type="xsd:string"/>
   <xsd:element name="nfenumfatura3" type="xsd:string"/>
   <xsd:element name="nfedatfatura3" type="xsd:string"/>
   <xsd:element name="nfevalfatura3" type="xsd:string"/>
   <xsd:element name="nfenumfatura4" type="xsd:string"/>
   <xsd:element name="nfedatfatura4" type="xsd:string"/>
   <xsd:element name="nfevalfatura4" type="xsd:string"/>
   <xsd:element name="nfenumfatura5" type="xsd:string"/>
   <xsd:element name="nfedatfatura5" type="xsd:string"/>
   <xsd:element name="nfevalfatura5" type="xsd:string"/>
   <xsd:element name="nfenumfatura6" type="xsd:string"/>
   <xsd:element name="nfedatfatura6" type="xsd:string"/>
   <xsd:element name="nfevalfatura6" type="xsd:string"/>
   <xsd:element name="nfeitemserv1" type="xsd:string"/>
   <xsd:element name="nfealiqserv1" type="xsd:string"/>
   <xsd:element name="nfevalserv1" type="xsd:string"/>
   <xsd:element name="nfeitemserv2" type="xsd:string"/>
   <xsd:element name="nfealiqserv2" type="xsd:string"/>
   <xsd:element name="nfevalserv2" type="xsd:string"/>
   <xsd:element name="nfeitemserv3" type="xsd:string"/>
   <xsd:element name="nfealiqserv3" type="xsd:string"/>
   <xsd:element name="nfevalserv3" type="xsd:string"/>
   <xsd:element name="nfeitemserv4" type="xsd:string"/>
   <xsd:element name="nfealiqserv4" type="xsd:string"/>
   <xsd:element name="nfevalserv4" type="xsd:string"/>
   <xsd:element name="nfeitemserv5" type="xsd:string"/>
   <xsd:element name="nfealiqserv5" type="xsd:string"/>
   <xsd:element name="nfevalserv5" type="xsd:string"/>
   <xsd:element name="nfeitemserv6" type="xsd:string"/>
   <xsd:element name="nfealiqserv6" type="xsd:string"/>
   <xsd:element name="nfevalserv6" type="xsd:string"/>
   <xsd:element name="nfeitemserv7" type="xsd:string"/>
   <xsd:element name="nfealiqserv7" type="xsd:string"/>
   <xsd:element name="nfevalserv7" type="xsd:string"/>
   <xsd:element name="nfeitemserv8" type="xsd:string"/>
   <xsd:element name="nfealiqserv8" type="xsd:string"/>
   <xsd:element name="nfevalserv8" type="xsd:string"/>
   <xsd:element name="nfevalor" type="xsd:string"/>
   <xsd:element name="nfevaltributavel" type="xsd:string"/>
   <xsd:element name="nfevaliss" type="xsd:string"/>
   <xsd:element name="nfevalissretido" type="xsd:string"/>
   <xsd:element name="nfevaldescincondicional" type="xsd:string"/>
   <xsd:element name="nfevaldescoutros" type="xsd:string"/>
   <xsd:element name="nfebasecalcpis" type="xsd:string"/>
   <xsd:element name="nfealiqpis" type="xsd:string"/>
   <xsd:element name="nfevalpis" type="xsd:string"/>
   <xsd:element name="nfebasecalccofins" type="xsd:string"/>
   <xsd:element name="nfealiqcofins" type="xsd:string"/>
   <xsd:element name="nfevalcofins" type="xsd:string"/>
   <xsd:element name="nfebasecalccsll" type="xsd:string"/>
   <xsd:element name="nfealiqcsll" type="xsd:string"/>
   <xsd:element name="nfevalcsll" type="xsd:string"/>
   <xsd:element name="nfebasecalcinss" type="xsd:string"/>
   <xsd:element name="nfealiqinss" type="xsd:string"/>
   <xsd:element name="nfevalinss" type="xsd:string"/>
   <xsd:element name="nfebasecalcirrf" type="xsd:string"/>
   <xsd:element name="nfealiqirrf" type="xsd:string"/>
   <xsd:element name="nfevalirrf" type="xsd:string"/>
   <xsd:element name="nfedescricaoservicos" type="xsd:string"/>
   <xsd:element name="nfeobservacoes" type="xsd:string"/>
   <xsd:element name="nfenumerorps" type="xsd:string"/>
   <xsd:element name="nfelink" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="ConsultaNfeRequest">
  <part name="usuario" type="xsd:string" />
  <part name="pass" type="xsd:string" />
  <part name="prf" type="xsd:string" />
  <part name="usr" type="xsd:string" />
  <part name="ctr" type="xsd:string" />
  <part name="tipo" type="xsd:string" /></message>
<message name="ConsultaNfeResponse">
  <part name="return" type="tns:StrConsultaNfe" /></message>
<portType name="webservicePortType">
  <operation name="ConsultaNfe">
    <input message="tns:ConsultaNfeRequest"/>
    <output message="tns:ConsultaNfeResponse"/>
  </operation>
</portType>
<binding name="webserviceBinding" type="tns:webservicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="ConsultaNfe">
    <soap:operation soapAction="http://www.webfiscotecnologia.com.br/issqn/wservice/wsnfeconsultaxml.php/ConsultaNfe" style="rpc"/>
    <input><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="webservice">
  <port name="webservicePort" binding="tns:webserviceBinding">
    <soap:address location="https://www.webfiscotecnologia.com.br/issqn/wservice/wsnfeconsultaxml.php"/>
  </port>
</service>
</definitions>