WSDL/Homologacao/HCianortePR-sigiss_ws.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:sigiss_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:sigiss_ws">
<types>
<xsd:schema targetNamespace="urn:sigiss_ws"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="tcDescricaoRps">
  <xsd:all>
   <xsd:element name="ccm" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cnpj" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="senha" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="crc" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="crc_estado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="aliquota_simples" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="id_sis_legado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="servico" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="situacao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="valor" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="base" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="descricaoNF" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_tipo" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_cnpj" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_ie" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_im" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_razao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_fantasia" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_endereco" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_numero" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_complemento" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_bairro" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_CEP" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_cod_cidade" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_fone" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_ramal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="tomador_fax" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="rps_num" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="rps_serie" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="rps_dia" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="rps_mes" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="rps_ano" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="outro_municipio" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cod_outro_municipio" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="retencao_iss" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="pis" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cofins" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="inss" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="irrf" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="csll" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="municipal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="federal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="dia_prest_servico" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="mes_prest_servico" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="ano_prest_servico" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="substituir_nota" type="xsd:int" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="substituir_motivo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcLoteRps">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:tcDescricaoRps[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="tcRetornoNota">
  <xsd:all>
   <xsd:element name="Resultado" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="Nota" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="LinkImpressao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="autenticidade" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcEstruturaDescricaoErros">
  <xsd:all>
   <xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="DescricaoProcesso" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="DescricaoErro" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcDescricaoErros">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:tcEstruturaDescricaoErros[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="tcDadosPrestador">
  <xsd:all>
   <xsd:element name="ccm" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cnpj" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="senha" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="crc" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="crc_estado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="aliquota_simples" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcDadosCancelaNota">
  <xsd:all>
   <xsd:element name="ccm" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cnpj" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="senha" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="nota" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="motivo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcNotas">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:int[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="tcDadosNota">
  <xsd:all>
   <xsd:element name="nota" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="id_sis_legado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="autenticidade" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="dt_conversao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="num_rps" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="serie_rps" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="emissao_rps" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_razao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_endereco" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_numero" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_complemento" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_bairro" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_cidade" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_estado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_cep" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="valor" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="base" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="servico" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="aliquota_atividade" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="iss" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cnpj_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="razao_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="endereco_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="numero_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="complemento_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="bairro_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cidade_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="estado_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="cep_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="email_tomador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="descricao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="ISSRetido" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="StatusNFe" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="situacao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="OpcaoSimples" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="LinkImpressao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcConsultaFaixaNota">
  <xsd:all>
   <xsd:element name="mesI" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="mesF" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="anoI" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="anoF" type="xsd:int" minOccurs="1" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcDadosConsultaNota">
  <xsd:all>
   <xsd:element name="nota" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="serie" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="valor" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_ccm" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="prestador_cnpj" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="autenticidade" type="xsd:string" minOccurs="1" maxOccurs="1"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="tcListaDadosNota">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:tcDadosNota[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="GerarNotaRequest">
  <part name="DescricaoRps" type="tns:tcDescricaoRps" /></message>
<message name="GerarNotaResponse">
  <part name="RetornoNota" type="tns:tcRetornoNota" />
  <part name="DescricaoErros" type="tns:tcDescricaoErros" /></message>
<message name="CancelarNotaRequest">
  <part name="DadosCancelaNota" type="tns:tcDadosCancelaNota" /></message>
<message name="CancelarNotaResponse">
  <part name="RetornoNota" type="tns:tcRetornoNota" />
  <part name="DescricaoErros" type="tns:tcDescricaoErros" /></message>
<message name="ConsultarNotaValidaRequest">
  <part name="DadosConsultaNota" type="tns:tcDadosConsultaNota" /></message>
<message name="ConsultarNotaValidaResponse">
  <part name="RetornoNota" type="tns:tcRetornoNota" />
  <part name="DescricaoErros" type="tns:tcDescricaoErros" /></message>
<message name="ConsultarNotaPrestadorRequest">
  <part name="DadosPrestador" type="tns:tcDadosPrestador" />
  <part name="Nota" type="xsd:int" />
  <part name="id_sis_legado" type="xsd:string" /></message>
<message name="ConsultarNotaPrestadorResponse">
  <part name="DadosNota" type="tns:tcDadosNota" />
  <part name="DescricaoErros" type="tns:tcDescricaoErros" /></message>
<message name="geratesteRequest">
  <part name="dado" type="xsd:int" /></message>
<message name="geratesteResponse">
  <part name="retorno" type="xsd:string" /></message>
<portType name="WebService SigISSPortType">
  <operation name="GerarNota">
    <documentation>Gera a nota fiscal eletrônica</documentation>
    <input message="tns:GerarNotaRequest"/>
    <output message="tns:GerarNotaResponse"/>
  </operation>
  <operation name="CancelarNota">
    <documentation>Faz o cancelamento da nota fiscal eletrônica</documentation>
    <input message="tns:CancelarNotaRequest"/>
    <output message="tns:CancelarNotaResponse"/>
  </operation>
  <operation name="ConsultarNotaValida">
    <documentation>Faz a consulta de uma nota fiscal eletrônica para saber se esta válida</documentation>
    <input message="tns:ConsultarNotaValidaRequest"/>
    <output message="tns:ConsultarNotaValidaResponse"/>
  </operation>
  <operation name="ConsultarNotaPrestador">
    <documentation>Faz a consulta de uma nota fiscal eletrônica</documentation>
    <input message="tns:ConsultarNotaPrestadorRequest"/>
    <output message="tns:ConsultarNotaPrestadorResponse"/>
  </operation>
  <operation name="gerateste">
    <documentation>1 - retorna Hello World</documentation>
    <input message="tns:geratesteRequest"/>
    <output message="tns:geratesteResponse"/>
  </operation>
</portType>
<binding name="WebService SigISSBinding" type="tns:WebService SigISSPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="GerarNota">
    <soap:operation soapAction="urn:sigiss_ws#GerarNota" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="CancelarNota">
    <soap:operation soapAction="urn:sigiss_ws#CancelarNota" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="ConsultarNotaValida">
    <soap:operation soapAction="urn:sigiss_ws#ConsultarNotaValida" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="ConsultarNotaPrestador">
    <soap:operation soapAction="urn:sigiss_ws#ConsultarNotaPrestador" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="gerateste">
    <soap:operation soapAction="urn:sigiss_ws#gerateste" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="WebService SigISS">
  <port name="WebService SigISSPort" binding="tns:WebService SigISSBinding">
    <soap:address location="https://testecianorte.sigiss.com.br:443/testecianorte/ws/sigiss_ws.php"/>
  </port>
</service>
</definitions>