WSDL/Homologacao/HDoisIrmaos-ConsultaNFSeServicosTomadosIntermediados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mConsultaNFSeServicosTomadosIntermediados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mConsultaNFSeServicosTomadosIntermediadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mConsultaNFSeServicosTomadosIntermediadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mConsultaNFSeServicosTomadosIntermediadosSoapIn">
    <wsdl:part name="parameters" element="tns:mConsultaNFSeServicosTomadosIntermediados" />
  </wsdl:message>
  <wsdl:message name="mConsultaNFSeServicosTomadosIntermediadosSoapOut">
    <wsdl:part name="parameters" element="tns:mConsultaNFSeServicosTomadosIntermediadosResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaNFSeServicosTomadosIntermediadosSoap">
    <wsdl:operation name="mConsultaNFSeServicosTomadosIntermediados">
      <wsdl:input message="tns:mConsultaNFSeServicosTomadosIntermediadosSoapIn" />
      <wsdl:output message="tns:mConsultaNFSeServicosTomadosIntermediadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaNFSeServicosTomadosIntermediadosSoap" type="tns:ConsultaNFSeServicosTomadosIntermediadosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaNFSeServicosTomadosIntermediados">
      <soap:operation soapAction="http://tempuri.org/mConsultaNFSeServicosTomadosIntermediados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaNFSeServicosTomadosIntermediadosSoap12" type="tns:ConsultaNFSeServicosTomadosIntermediadosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaNFSeServicosTomadosIntermediados">
      <soap12:operation soapAction="http://tempuri.org/mConsultaNFSeServicosTomadosIntermediados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaNFSeServicosTomadosIntermediados">
    <wsdl:port name="ConsultaNFSeServicosTomadosIntermediadosSoap" binding="tns:ConsultaNFSeServicosTomadosIntermediadosSoap">
      <soap:address location="http://homologadoi.nfse-tecnos.com.br:9093/ConsultaNFSeServicosTomadosIntermediados.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaNFSeServicosTomadosIntermediadosSoap12" binding="tns:ConsultaNFSeServicosTomadosIntermediadosSoap12">
      <soap12:address location="http://homologadoi.nfse-tecnos.com.br:9093/ConsultaNFSeServicosTomadosIntermediados.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>