WSDL/Homologacao/HGaribaldi-GIF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://www.abrasf.org.br" xmlns:sch1="http://ws.pc.gif.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.abrasf.org.br" targetNamespace="http://www.abrasf.org.br">
  <wsdl:message name="enviarLoteNotasRequest">
    <wsdl:part element="sch1:enviarLoteNotasRequest" name="enviarLoteNotasRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotasEmPDFResponse">
    <wsdl:part element="sch1:obterNotasEmPDFResponse" name="obterNotasEmPDFResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="sch1:pingResponse" name="pingResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterReciboLoteResponse">
    <wsdl:part element="sch1:obterReciboLoteResponse" name="obterReciboLoteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterLoteNotaFiscalResponse">
    <wsdl:part element="sch1:obterLoteNotaFiscalResponse" name="obterLoteNotaFiscalResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterCriticaLoteResponse">
    <wsdl:part element="sch1:obterCriticaLoteResponse" name="obterCriticaLoteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsRequest">
    <wsdl:part element="tns:RecepcionarLoteRpsRequest" name="RecepcionarLoteRpsRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarLoteCupomRequest">
    <wsdl:part element="sch1:enviarLoteCupomRequest" name="enviarLoteCupomRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarNotaFiscalRequest">
    <wsdl:part element="sch1:consultarNotaFiscalRequest" name="consultarNotaFiscalRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalXmlResponse">
    <wsdl:part element="sch1:obterNotaFiscalXmlResponse" name="obterNotaFiscalXmlResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoRequest">
    <wsdl:part element="tns:RecepcionarLoteRpsSincronoRequest" name="RecepcionarLoteRpsSincronoRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalLoteResponse">
    <wsdl:part element="sch1:obterNotaFiscalLoteResponse" name="obterNotaFiscalLoteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalTomadaRequest">
    <wsdl:part element="sch1:obterNotaFiscalTomadaRequest" name="obterNotaFiscalTomadaRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelarNfseRequest">
    <wsdl:part element="tns:CancelarNfseRequest" name="CancelarNfseRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotasEmPNGRequest">
    <wsdl:part element="sch1:obterNotasEmPNGRequest" name="obterNotasEmPNGRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="inutilizacaoRequest">
    <wsdl:part element="sch1:inutilizacaoRequest" name="inutilizacaoRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterLoteNotaFiscalRequest">
    <wsdl:part element="sch1:obterLoteNotaFiscalRequest" name="obterLoteNotaFiscalRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarLoteResponse">
    <wsdl:part element="sch1:cancelarLoteResponse" name="cancelarLoteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseFaixaRequest">
    <wsdl:part element="tns:ConsultarNfseFaixaRequest" name="ConsultarNfseFaixaRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalRequest">
    <wsdl:part element="sch1:obterNotaFiscalRequest" name="obterNotaFiscalRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubstituirNfseRequest">
    <wsdl:part element="tns:SubstituirNfseRequest" name="SubstituirNfseRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalXmlRequest">
    <wsdl:part element="sch1:obterNotaFiscalXmlRequest" name="obterNotaFiscalXmlRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalLoteRequest">
    <wsdl:part element="sch1:obterNotaFiscalLoteRequest" name="obterNotaFiscalLoteRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarNotaFiscalResponse">
    <wsdl:part element="sch1:cancelarNotaFiscalResponse" name="cancelarNotaFiscalResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNumeracaoRequest">
    <wsdl:part element="sch1:obterNumeracaoRequest" name="obterNumeracaoRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoRequest">
    <wsdl:part element="tns:ConsultarNfseServicoPrestadoRequest" name="ConsultarNfseServicoPrestadoRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="corrigirNFSeRequest">
    <wsdl:part element="sch1:corrigirNFSeRequest" name="corrigirNFSeRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GerarNfseRequest">
    <wsdl:part element="tns:GerarNfseRequest" name="GerarNfseRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalTomadaResponse">
    <wsdl:part element="sch1:obterNotaFiscalTomadaResponse" name="obterNotaFiscalTomadaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarNotaFiscalRequest">
    <wsdl:part element="sch1:cancelarNotaFiscalRequest" name="cancelarNotaFiscalRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoRequest">
    <wsdl:part element="tns:ConsultarNfseServicoTomadoRequest" name="ConsultarNfseServicoTomadoRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part element="sch1:pingRequest" name="pingRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsRequest">
    <wsdl:part element="tns:ConsultarNfsePorRpsRequest" name="ConsultarNfsePorRpsRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsRequest">
    <wsdl:part element="tns:ConsultarLoteRpsRequest" name="ConsultarLoteRpsRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotaFiscalResponse">
    <wsdl:part element="sch1:obterNotaFiscalResponse" name="obterNotaFiscalResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotasEmPDFRequest">
    <wsdl:part element="sch1:obterNotasEmPDFRequest" name="obterNotasEmPDFRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNotasEmPNGResponse">
    <wsdl:part element="sch1:obterNotasEmPNGResponse" name="obterNotasEmPNGResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarLoteRequest">
    <wsdl:part element="sch1:cancelarLoteRequest" name="cancelarLoteRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterCriticaLoteRequest">
    <wsdl:part element="sch1:obterCriticaLoteRequest" name="obterCriticaLoteRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterNumeracaoResponse">
    <wsdl:part element="sch1:obterNumeracaoResponse" name="obterNumeracaoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarLoteNotasResponse">
    <wsdl:part element="sch1:enviarLoteNotasResponse" name="enviarLoteNotasResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterReciboLoteRequest">
    <wsdl:part element="sch1:obterReciboLoteRequest" name="obterReciboLoteRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicosPort">
    <wsdl:operation name="enviarLoteNotas">
      <wsdl:input message="tns:enviarLoteNotasRequest" name="enviarLoteNotasRequest"></wsdl:input>
      <wsdl:output message="tns:enviarLoteNotasResponse" name="enviarLoteNotasResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterNotasEmPDF">
      <wsdl:input message="tns:obterNotasEmPDFRequest" name="obterNotasEmPDFRequest"></wsdl:input>
      <wsdl:output message="tns:obterNotasEmPDFResponse" name="obterNotasEmPDFResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest" name="pingRequest"></wsdl:input>
      <wsdl:output message="tns:pingResponse" name="pingResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterReciboLote">
      <wsdl:input message="tns:obterReciboLoteRequest" name="obterReciboLoteRequest"></wsdl:input>
      <wsdl:output message="tns:obterReciboLoteResponse" name="obterReciboLoteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterLoteNotaFiscal">
      <wsdl:input message="tns:obterLoteNotaFiscalRequest" name="obterLoteNotaFiscalRequest"></wsdl:input>
      <wsdl:output message="tns:obterLoteNotaFiscalResponse" name="obterLoteNotaFiscalResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterCriticaLote">
      <wsdl:input message="tns:obterCriticaLoteRequest" name="obterCriticaLoteRequest"></wsdl:input>
      <wsdl:output message="tns:obterCriticaLoteResponse" name="obterCriticaLoteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input message="tns:RecepcionarLoteRpsRequest" name="RecepcionarLoteRpsRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="enviarLoteCupom">
      <wsdl:input message="tns:enviarLoteCupomRequest" name="enviarLoteCupomRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="consultarNotaFiscal">
      <wsdl:input message="tns:consultarNotaFiscalRequest" name="consultarNotaFiscalRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscalXml">
      <wsdl:input message="tns:obterNotaFiscalXmlRequest" name="obterNotaFiscalXmlRequest"></wsdl:input>
      <wsdl:output message="tns:obterNotaFiscalXmlResponse" name="obterNotaFiscalXmlResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <wsdl:input message="tns:RecepcionarLoteRpsSincronoRequest" name="RecepcionarLoteRpsSincronoRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscalLote">
      <wsdl:input message="tns:obterNotaFiscalLoteRequest" name="obterNotaFiscalLoteRequest"></wsdl:input>
      <wsdl:output message="tns:obterNotaFiscalLoteResponse" name="obterNotaFiscalLoteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscalTomada">
      <wsdl:input message="tns:obterNotaFiscalTomadaRequest" name="obterNotaFiscalTomadaRequest"></wsdl:input>
      <wsdl:output message="tns:obterNotaFiscalTomadaResponse" name="obterNotaFiscalTomadaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <wsdl:input message="tns:CancelarNfseRequest" name="CancelarNfseRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotasEmPNG">
      <wsdl:input message="tns:obterNotasEmPNGRequest" name="obterNotasEmPNGRequest"></wsdl:input>
      <wsdl:output message="tns:obterNotasEmPNGResponse" name="obterNotasEmPNGResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inutilizacao">
      <wsdl:input message="tns:inutilizacaoRequest" name="inutilizacaoRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cancelarLote">
      <wsdl:input message="tns:cancelarLoteRequest" name="cancelarLoteRequest"></wsdl:input>
      <wsdl:output message="tns:cancelarLoteResponse" name="cancelarLoteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseFaixa">
      <wsdl:input message="tns:ConsultarNfseFaixaRequest" name="ConsultarNfseFaixaRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscal">
      <wsdl:input message="tns:obterNotaFiscalRequest" name="obterNotaFiscalRequest"></wsdl:input>
      <wsdl:output message="tns:obterNotaFiscalResponse" name="obterNotaFiscalResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <wsdl:input message="tns:SubstituirNfseRequest" name="SubstituirNfseRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cancelarNotaFiscal">
      <wsdl:input message="tns:cancelarNotaFiscalRequest" name="cancelarNotaFiscalRequest"></wsdl:input>
      <wsdl:output message="tns:cancelarNotaFiscalResponse" name="cancelarNotaFiscalResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterNumeracao">
      <wsdl:input message="tns:obterNumeracaoRequest" name="obterNumeracaoRequest"></wsdl:input>
      <wsdl:output message="tns:obterNumeracaoResponse" name="obterNumeracaoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input message="tns:ConsultarNfseServicoPrestadoRequest" name="ConsultarNfseServicoPrestadoRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="corrigirNFSe">
      <wsdl:input message="tns:corrigirNFSeRequest" name="corrigirNFSeRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input message="tns:GerarNfseRequest" name="GerarNfseRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <wsdl:input message="tns:ConsultarNfseServicoTomadoRequest" name="ConsultarNfseServicoTomadoRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <wsdl:input message="tns:ConsultarNfsePorRpsRequest" name="ConsultarNfsePorRpsRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input message="tns:ConsultarLoteRpsRequest" name="ConsultarLoteRpsRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicosPortSoap11" type="tns:ServicosPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviarLoteNotas">
      <soap:operation soapAction="" />
      <wsdl:input name="enviarLoteNotasRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="enviarLoteNotasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterNotasEmPDF">
      <soap:operation soapAction="" />
      <wsdl:input name="obterNotasEmPDFRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterNotasEmPDFResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" />
      <wsdl:input name="pingRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterReciboLote">
      <soap:operation soapAction="" />
      <wsdl:input name="obterReciboLoteRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterReciboLoteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterLoteNotaFiscal">
      <soap:operation soapAction="" />
      <wsdl:input name="obterLoteNotaFiscalRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterLoteNotaFiscalResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterCriticaLote">
      <soap:operation soapAction="" />
      <wsdl:input name="obterCriticaLoteRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterCriticaLoteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="" />
      <wsdl:input name="RecepcionarLoteRpsRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="enviarLoteCupom">
      <soap:operation soapAction="" />
      <wsdl:input name="enviarLoteCupomRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="consultarNotaFiscal">
      <soap:operation soapAction="" />
      <wsdl:input name="consultarNotaFiscalRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscalXml">
      <soap:operation soapAction="" />
      <wsdl:input name="obterNotaFiscalXmlRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterNotaFiscalXmlResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap:operation soapAction="" />
      <wsdl:input name="RecepcionarLoteRpsSincronoRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscalLote">
      <soap:operation soapAction="" />
      <wsdl:input name="obterNotaFiscalLoteRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterNotaFiscalLoteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscalTomada">
      <soap:operation soapAction="" />
      <wsdl:input name="obterNotaFiscalTomadaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterNotaFiscalTomadaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="" />
      <wsdl:input name="CancelarNfseRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotasEmPNG">
      <soap:operation soapAction="" />
      <wsdl:input name="obterNotasEmPNGRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterNotasEmPNGResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inutilizacao">
      <soap:operation soapAction="" />
      <wsdl:input name="inutilizacaoRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cancelarLote">
      <soap:operation soapAction="" />
      <wsdl:input name="cancelarLoteRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelarLoteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseFaixa">
      <soap:operation soapAction="" />
      <wsdl:input name="ConsultarNfseFaixaRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="obterNotaFiscal">
      <soap:operation soapAction="" />
      <wsdl:input name="obterNotaFiscalRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterNotaFiscalResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap:operation soapAction="" />
      <wsdl:input name="SubstituirNfseRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cancelarNotaFiscal">
      <soap:operation soapAction="" />
      <wsdl:input name="cancelarNotaFiscalRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelarNotaFiscalResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterNumeracao">
      <soap:operation soapAction="" />
      <wsdl:input name="obterNumeracaoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterNumeracaoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="" />
      <wsdl:input name="ConsultarNfseServicoPrestadoRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="corrigirNFSe">
      <soap:operation soapAction="" />
      <wsdl:input name="corrigirNFSeRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="" />
      <wsdl:input name="GerarNfseRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="" />
      <wsdl:input name="ConsultarNfseServicoTomadoRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="" />
      <wsdl:input name="ConsultarNfsePorRpsRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="" />
      <wsdl:input name="ConsultarLoteRpsRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicosPortService">
    <wsdl:port binding="tns:ServicosPortSoap11" name="ServicosPortSoap11">
      <soap:address location="https://garibaldi-homol.infisc.com.br/services/nfse/ws/Servicos" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>