WSDL/Homologacao/HGINFES_SaoJosePinhaisPR.wsdl

<definitions name='nfse' targetNamespace='http://nfe.sjp.pr.gov.br' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://nfe.sjp.pr.gov.br' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types></types>
 <message name='nfse_CancelarNfseResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_CancelarNfseV3Response'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfseV3'>
  <part name='arg0' type='xsd:string'></part>
  <part name='arg1' type='xsd:string'></part>
 </message>
 <message name='nfse_RecepcionarLoteRpsV3Response'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfsePorRpsV3Response'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarLoteRps'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarSituacaoLoteRpsResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarSituacaoLoteRpsV3'>
  <part name='arg0' type='xsd:string'></part>
  <part name='arg1' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarLoteRpsResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_RecepcionarLoteRpsV3'>
  <part name='arg0' type='xsd:string'></part>
  <part name='arg1' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfsePorRps'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarSituacaoLoteRps'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfse'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfseV3Response'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfseResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfsePorRpsResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarLoteRpsV3'>
  <part name='arg0' type='xsd:string'></part>
  <part name='arg1' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarLoteRpsV3Response'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_RecepcionarLoteRps'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <message name='nfse_RecepcionarLoteRpsResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarSituacaoLoteRpsV3Response'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='nfse_CancelarNfse'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <message name='nfse_ConsultarNfsePorRpsV3'>
  <part name='arg0' type='xsd:string'></part>
  <part name='arg1' type='xsd:string'></part>
 </message>
 <message name='nfse_CancelarNfseV3'>
  <part name='arg0' type='xsd:string'></part>
  <part name='arg1' type='xsd:string'></part>
 </message>
 <portType name='nfse'>
  <operation name='CancelarNfse' parameterOrder='arg0'>
   <input message='tns:nfse_CancelarNfse'></input>
   <output message='tns:nfse_CancelarNfseResponse'></output>
  </operation>
  <operation name='CancelarNfseV3' parameterOrder='arg0 arg1'>
   <input message='tns:nfse_CancelarNfseV3'></input>
   <output message='tns:nfse_CancelarNfseV3Response'></output>
  </operation>
  <operation name='ConsultarLoteRps' parameterOrder='arg0'>
   <input message='tns:nfse_ConsultarLoteRps'></input>
   <output message='tns:nfse_ConsultarLoteRpsResponse'></output>
  </operation>
  <operation name='ConsultarLoteRpsV3' parameterOrder='arg0 arg1'>
   <input message='tns:nfse_ConsultarLoteRpsV3'></input>
   <output message='tns:nfse_ConsultarLoteRpsV3Response'></output>
  </operation>
  <operation name='ConsultarNfse' parameterOrder='arg0'>
   <input message='tns:nfse_ConsultarNfse'></input>
   <output message='tns:nfse_ConsultarNfseResponse'></output>
  </operation>
  <operation name='ConsultarNfsePorRps' parameterOrder='arg0'>
   <input message='tns:nfse_ConsultarNfsePorRps'></input>
   <output message='tns:nfse_ConsultarNfsePorRpsResponse'></output>
  </operation>
  <operation name='ConsultarNfsePorRpsV3' parameterOrder='arg0 arg1'>
   <input message='tns:nfse_ConsultarNfsePorRpsV3'></input>
   <output message='tns:nfse_ConsultarNfsePorRpsV3Response'></output>
  </operation>
  <operation name='ConsultarNfseV3' parameterOrder='arg0 arg1'>
   <input message='tns:nfse_ConsultarNfseV3'></input>
   <output message='tns:nfse_ConsultarNfseV3Response'></output>
  </operation>
  <operation name='ConsultarSituacaoLoteRps' parameterOrder='arg0'>
   <input message='tns:nfse_ConsultarSituacaoLoteRps'></input>
   <output message='tns:nfse_ConsultarSituacaoLoteRpsResponse'></output>
  </operation>
  <operation name='ConsultarSituacaoLoteRpsV3' parameterOrder='arg0 arg1'>
   <input message='tns:nfse_ConsultarSituacaoLoteRpsV3'></input>
   <output message='tns:nfse_ConsultarSituacaoLoteRpsV3Response'></output>
  </operation>
  <operation name='RecepcionarLoteRps' parameterOrder='arg0'>
   <input message='tns:nfse_RecepcionarLoteRps'></input>
   <output message='tns:nfse_RecepcionarLoteRpsResponse'></output>
  </operation>
  <operation name='RecepcionarLoteRpsV3' parameterOrder='arg0 arg1'>
   <input message='tns:nfse_RecepcionarLoteRpsV3'></input>
   <output message='tns:nfse_RecepcionarLoteRpsV3Response'></output>
  </operation>
 </portType>
 <binding name='nfseBinding' type='tns:nfse'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='CancelarNfse'>
   <soap:operation soapAction='CancelarNfse'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='CancelarNfseV3'>
   <soap:operation soapAction='CancelarNfseV3'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarLoteRps'>
   <soap:operation soapAction='ConsultarLoteRps'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarLoteRpsV3'>
   <soap:operation soapAction='ConsultarLoteRpsV3'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarNfse'>
   <soap:operation soapAction='ConsultarNfse'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarNfsePorRps'>
   <soap:operation soapAction='ConsultarNfsePorRps'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarNfsePorRpsV3'>
   <soap:operation soapAction='ConsultarNfsePorRpsV3'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarNfseV3'>
   <soap:operation soapAction='ConsultarNfseV3'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarSituacaoLoteRps'>
   <soap:operation soapAction='ConsultarSituacaoLoteRps'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='ConsultarSituacaoLoteRpsV3'>
   <soap:operation soapAction='ConsultarSituacaoLoteRpsV3'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='RecepcionarLoteRps'>
   <soap:operation soapAction='RecepcionarLoteRps'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
  <operation name='RecepcionarLoteRpsV3'>
   <soap:operation soapAction='RecepcionarLoteRpsV3'/>
   <input>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://nfe.sjp.pr.gov.br' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='nfse'>
  <port binding='tns:nfseBinding' name='nfsePort'>
   <soap:address location="https://nfe.sjp.pr.gov.br//servicos/issOnline2/homologacao/ws/"/>
  </port>
 </service>
</definitions>