WSDL/Homologacao/HItapetiningaSP-recepcionarloterpssincrono.wsdl

<?xml version = "1.0" encoding = "utf-8"?>
<definitions name="hRecepcionarLoteRpsSincrono" targetNamespace="Abrasf2" xmlns:wsdlns="Abrasf2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Abrasf2">
	<types>
		<schema targetNamespace="Abrasf2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="hRecepcionarLoteRpsSincrono.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Entrada" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="hRecepcionarLoteRpsSincrono.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Resposta" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="hRecepcionarLoteRpsSincrono.ExecuteSoapIn">
		<part name="parameters" element="tns:hRecepcionarLoteRpsSincrono.Execute" />
	</message>
	<message name="hRecepcionarLoteRpsSincrono.ExecuteSoapOut">
		<part name="parameters" element="tns:hRecepcionarLoteRpsSincrono.ExecuteResponse" />
	</message>
	<portType name="hRecepcionarLoteRpsSincronoSoapPort">
		<operation name="Execute">
			<input message="wsdlns:hRecepcionarLoteRpsSincrono.ExecuteSoapIn" />
			<output message="wsdlns:hRecepcionarLoteRpsSincrono.ExecuteSoapOut" />
		</operation>
	</portType>
	<binding name="hRecepcionarLoteRpsSincronoSoapBinding" type="wsdlns:hRecepcionarLoteRpsSincronoSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Execute">
			<soap:operation soapAction="Abrasf2action/AHRECEPCIONARLOTERPSSINCRONO.Execute" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="hRecepcionarLoteRpsSincrono">
		<port name="hRecepcionarLoteRpsSincronoSoapPort" binding="wsdlns:hRecepcionarLoteRpsSincronoSoapBinding">
			<soap:address location="https://itapetininga.jlsoft.com.br/Abrasf/ahrecepcionarloterpssincrono.aspx" />
		</port>
	</service>
</definitions>
