WSDL/Homologacao/HItajaiSC-PUBLICA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.nfse.integracao.ws.publica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.nfse.integracao.ws.publica/" name="ServicesService">
<types/>
<message name="CancelarNfse">
<part name="XML" type="xsd:string"/>
</message>
<message name="CancelarNfseResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="GerarNfse">
<part name="XML" type="xsd:string"/>
</message>
<message name="GerarNfseResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="RecepcionarLoteRps">
<part name="XML" type="xsd:string"/>
</message>
<message name="RecepcionarLoteRpsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarSituacaoLoteRps">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarSituacaoLoteRpsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarNfsePorRps">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarNfsePorRpsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarLoteRps">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarLoteRpsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarNfseFaixa">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarNfseFaixaResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="SubstituirNfse">
<part name="XML" type="xsd:string"/>
</message>
<message name="SubstituirNfseResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="RecepcionarLoteDir">
<part name="XML" type="xsd:string"/>
</message>
<message name="RecepcionarLoteDirResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarSituacaoLoteDir">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarSituacaoLoteDirResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarLoteDir">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarLoteDirResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarDirFaixa">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarDirFaixaResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarDirEnvio">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarDirEnvioResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="CancelarDirEnvio">
<part name="XML" type="xsd:string"/>
</message>
<message name="CancelarDirEnvioResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="CartaCorrecaoNfseEnvio">
<part name="XML" type="xsd:string"/>
</message>
<message name="CartaCorrecaoNfseEnvioResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ConsultarNfseRecebida">
<part name="XML" type="xsd:string"/>
</message>
<message name="ConsultarNfseRecebidaResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="Services">
<operation name="CancelarNfse">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/CancelarNfseRequest" message="tns:CancelarNfse"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/CancelarNfseResponse" message="tns:CancelarNfseResponse"/>
</operation>
<operation name="GerarNfse">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/GerarNfseRequest" message="tns:GerarNfse"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/GerarNfseResponse" message="tns:GerarNfseResponse"/>
</operation>
<operation name="RecepcionarLoteRps">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/RecepcionarLoteRpsRequest" message="tns:RecepcionarLoteRps"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/RecepcionarLoteRpsResponse" message="tns:RecepcionarLoteRpsResponse"/>
</operation>
<operation name="ConsultarSituacaoLoteRps">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarSituacaoLoteRpsRequest" message="tns:ConsultarSituacaoLoteRps"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarSituacaoLoteRpsResponse" message="tns:ConsultarSituacaoLoteRpsResponse"/>
</operation>
<operation name="ConsultarNfsePorRps">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarNfsePorRpsRequest" message="tns:ConsultarNfsePorRps"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarNfsePorRpsResponse" message="tns:ConsultarNfsePorRpsResponse"/>
</operation>
<operation name="ConsultarLoteRps">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarLoteRpsRequest" message="tns:ConsultarLoteRps"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarLoteRpsResponse" message="tns:ConsultarLoteRpsResponse"/>
</operation>
<operation name="ConsultarNfseFaixa">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarNfseFaixaRequest" message="tns:ConsultarNfseFaixa"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarNfseFaixaResponse" message="tns:ConsultarNfseFaixaResponse"/>
</operation>
<operation name="SubstituirNfse">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/SubstituirNfseRequest" message="tns:SubstituirNfse"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/SubstituirNfseResponse" message="tns:SubstituirNfseResponse"/>
</operation>
<operation name="RecepcionarLoteDir">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/RecepcionarLoteDirRequest" message="tns:RecepcionarLoteDir"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/RecepcionarLoteDirResponse" message="tns:RecepcionarLoteDirResponse"/>
</operation>
<operation name="ConsultarSituacaoLoteDir">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarSituacaoLoteDirRequest" message="tns:ConsultarSituacaoLoteDir"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarSituacaoLoteDirResponse" message="tns:ConsultarSituacaoLoteDirResponse"/>
</operation>
<operation name="ConsultarLoteDir">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarLoteDirRequest" message="tns:ConsultarLoteDir"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarLoteDirResponse" message="tns:ConsultarLoteDirResponse"/>
</operation>
<operation name="ConsultarDirFaixa">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarDirFaixaRequest" message="tns:ConsultarDirFaixa"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarDirFaixaResponse" message="tns:ConsultarDirFaixaResponse"/>
</operation>
<operation name="ConsultarDirEnvio">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarDirEnvioRequest" message="tns:ConsultarDirEnvio"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarDirEnvioResponse" message="tns:ConsultarDirEnvioResponse"/>
</operation>
<operation name="CancelarDirEnvio">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/CancelarDirEnvioRequest" message="tns:CancelarDirEnvio"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/CancelarDirEnvioResponse" message="tns:CancelarDirEnvioResponse"/>
</operation>
<operation name="CartaCorrecaoNfseEnvio">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/CartaCorrecaoNfseEnvioRequest" message="tns:CartaCorrecaoNfseEnvio"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/CartaCorrecaoNfseEnvioResponse" message="tns:CartaCorrecaoNfseEnvioResponse"/>
</operation>
<operation name="ConsultarNfseRecebida">
<input wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarNfseRecebidaRequest" message="tns:ConsultarNfseRecebida"/>
<output wsam:Action="http://service.nfse.integracao.ws.publica/Services/ConsultarNfseRecebidaResponse" message="tns:ConsultarNfseRecebidaResponse"/>
</operation>
</portType>
<binding name="ServicesPortBinding" type="tns:Services">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="CancelarNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="GerarNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="RecepcionarLoteRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarSituacaoLoteRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarNfsePorRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarLoteRps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarNfseFaixa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="SubstituirNfse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="RecepcionarLoteDir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarSituacaoLoteDir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarLoteDir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarDirFaixa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarDirEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="CancelarDirEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="CartaCorrecaoNfseEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
<operation name="ConsultarNfseRecebida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.nfse.integracao.ws.publica/"/>
</output>
</operation>
</binding>
<service name="ServicesService">
<port name="ServicesPort" binding="tns:ServicesPortBinding">
<soap:address location="http://nfse-teste.publica.inf.br:80/itajai_nfse_integracao/Services"/>
</port>
</service>
</definitions>