WSDL/Homologacao/HItapetiningaSP-consultarnfseporrps.wsdl

<?xml version = "1.0" encoding = "utf-8"?>
<definitions name="hConsultarNfsePorRps" targetNamespace="Abrasf2" xmlns:wsdlns="Abrasf2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Abrasf2">
	<types>
		<schema targetNamespace="Abrasf2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="hConsultarNfsePorRps.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Entrada" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="hConsultarNfsePorRps.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Resposta" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="hConsultarNfsePorRps.ExecuteSoapIn">
		<part name="parameters" element="tns:hConsultarNfsePorRps.Execute" />
	</message>
	<message name="hConsultarNfsePorRps.ExecuteSoapOut">
		<part name="parameters" element="tns:hConsultarNfsePorRps.ExecuteResponse" />
	</message>
	<portType name="hConsultarNfsePorRpsSoapPort">
		<operation name="Execute">
			<input message="wsdlns:hConsultarNfsePorRps.ExecuteSoapIn" />
			<output message="wsdlns:hConsultarNfsePorRps.ExecuteSoapOut" />
		</operation>
	</portType>
	<binding name="hConsultarNfsePorRpsSoapBinding" type="wsdlns:hConsultarNfsePorRpsSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Execute">
			<soap:operation soapAction="Abrasf2action/AHCONSULTARNFSEPORRPS.Execute" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="hConsultarNfsePorRps">
		<port name="hConsultarNfsePorRpsSoapPort" binding="wsdlns:hConsultarNfsePorRpsSoapBinding">
			<soap:address location="http://itapetininga.sistemas4r.com.br/abrasf/ahconsultarnfseporrps.aspx" />
		</port>
	</service>
</definitions>
