WSDL/Homologacao/HNovaLimaMG_SuperNova.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.supernova.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IssDigitalControllerService" targetNamespace="http://ws.supernova.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.supernova.com.br/" elementFormDefault="unqualified" targetNamespace="http://ws.supernova.com.br/" version="1.0">

  <xs:element name="CancelarNfse" type="tns:CancelarNfse"/>

  <xs:element name="CancelarNfseResponse" type="tns:CancelarNfseResponse"/>

  <xs:element name="ConsultarLoteRps" type="tns:ConsultarLoteRps"/>

  <xs:element name="ConsultarLoteRpsResponse" type="tns:ConsultarLoteRpsResponse"/>

  <xs:element name="ConsultarNfseFaixa" type="tns:ConsultarNfseFaixa"/>

  <xs:element name="ConsultarNfseFaixaResponse" type="tns:ConsultarNfseFaixaResponse"/>

  <xs:element name="ConsultarNfsePorRps" type="tns:ConsultarNfsePorRps"/>

  <xs:element name="ConsultarNfsePorRpsResponse" type="tns:ConsultarNfsePorRpsResponse"/>

  <xs:element name="ConsultarNfseServicoPrestado" type="tns:ConsultarNfseServicoPrestado"/>

  <xs:element name="ConsultarNfseServicoPrestadoResponse" type="tns:ConsultarNfseServicoPrestadoResponse"/>

  <xs:element name="ConsultarNfseServicoTomado" type="tns:ConsultarNfseServicoTomado"/>

  <xs:element name="ConsultarNfseServicoTomadoResponse" type="tns:ConsultarNfseServicoTomadoResponse"/>

  <xs:element name="GerarNfse" type="tns:GerarNfse"/>

  <xs:element name="GerarNfseResponse" type="tns:GerarNfseResponse"/>

  <xs:element name="RecepcionarLoteRps" type="tns:RecepcionarLoteRps"/>

  <xs:element name="RecepcionarLoteRpsResponse" type="tns:RecepcionarLoteRpsResponse"/>

  <xs:element name="RecepcionarLoteRpsSincrono" type="tns:RecepcionarLoteRpsSincrono"/>

  <xs:element name="RecepcionarLoteRpsSincronoResponse" type="tns:RecepcionarLoteRpsSincronoResponse"/>

  <xs:element name="SubstituirNfse" type="tns:SubstituirNfse"/>

  <xs:element name="SubstituirNfseResponse" type="tns:SubstituirNfseResponse"/>

  <xs:complexType name="CancelarNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CancelarNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarLoteRps">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarLoteRpsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfseFaixa">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfseFaixaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GerarNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GerarNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubstituirNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubstituirNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfsePorRps">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfsePorRpsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfseServicoTomado">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfseServicoTomadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecepcionarLoteRps">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecepcionarLoteRpsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecepcionarLoteRpsSincrono">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecepcionarLoteRpsSincronoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfseServicoPrestado">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarNfseServicoPrestadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarNfseServicoTomadoResponse">
    <wsdl:part element="tns:ConsultarNfseServicoTomadoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelarNfse">
    <wsdl:part element="tns:CancelarNfse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseFaixa">
    <wsdl:part element="tns:ConsultarNfseFaixa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseFaixaResponse">
    <wsdl:part element="tns:ConsultarNfseFaixaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GerarNfse">
    <wsdl:part element="tns:GerarNfse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubstituirNfse">
    <wsdl:part element="tns:SubstituirNfse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoResponse">
    <wsdl:part element="tns:ConsultarNfseServicoPrestadoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsResponse">
    <wsdl:part element="tns:RecepcionarLoteRpsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsResponse">
    <wsdl:part element="tns:ConsultarNfsePorRpsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomado">
    <wsdl:part element="tns:ConsultarNfseServicoTomado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincrono">
    <wsdl:part element="tns:RecepcionarLoteRpsSincrono" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelarNfseResponse">
    <wsdl:part element="tns:CancelarNfseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRps">
    <wsdl:part element="tns:ConsultarLoteRps" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsResponse">
    <wsdl:part element="tns:ConsultarLoteRpsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRps">
    <wsdl:part element="tns:ConsultarNfsePorRps" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoResponse">
    <wsdl:part element="tns:RecepcionarLoteRpsSincronoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubstituirNfseResponse">
    <wsdl:part element="tns:SubstituirNfseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRps">
    <wsdl:part element="tns:RecepcionarLoteRps" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestado">
    <wsdl:part element="tns:ConsultarNfseServicoPrestado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GerarNfseResponse">
    <wsdl:part element="tns:GerarNfseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="snissdigitalsvc">
    <wsdl:operation name="CancelarNfse">
      <wsdl:input message="tns:CancelarNfse" name="CancelarNfse">
    </wsdl:input>
      <wsdl:output message="tns:CancelarNfseResponse" name="CancelarNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input message="tns:ConsultarLoteRps" name="ConsultarLoteRps">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarLoteRpsResponse" name="ConsultarLoteRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseFaixa">
      <wsdl:input message="tns:ConsultarNfseFaixa" name="ConsultarNfseFaixa">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarNfseFaixaResponse" name="ConsultarNfseFaixaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input message="tns:GerarNfse" name="GerarNfse">
    </wsdl:input>
      <wsdl:output message="tns:GerarNfseResponse" name="GerarNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <wsdl:input message="tns:SubstituirNfse" name="SubstituirNfse">
    </wsdl:input>
      <wsdl:output message="tns:SubstituirNfseResponse" name="SubstituirNfseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <wsdl:input message="tns:ConsultarNfsePorRps" name="ConsultarNfsePorRps">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarNfsePorRpsResponse" name="ConsultarNfsePorRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <wsdl:input message="tns:ConsultarNfseServicoTomado" name="ConsultarNfseServicoTomado">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarNfseServicoTomadoResponse" name="ConsultarNfseServicoTomadoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input message="tns:RecepcionarLoteRps" name="RecepcionarLoteRps">
    </wsdl:input>
      <wsdl:output message="tns:RecepcionarLoteRpsResponse" name="RecepcionarLoteRpsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <wsdl:input message="tns:RecepcionarLoteRpsSincrono" name="RecepcionarLoteRpsSincrono">
    </wsdl:input>
      <wsdl:output message="tns:RecepcionarLoteRpsSincronoResponse" name="RecepcionarLoteRpsSincronoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input message="tns:ConsultarNfseServicoPrestado" name="ConsultarNfseServicoPrestado">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarNfseServicoPrestadoResponse" name="ConsultarNfseServicoPrestadoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IssDigitalControllerServiceSoapBinding" type="tns:snissdigitalsvc">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CancelarNfse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CancelarNfseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ConsultarLoteRps">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConsultarLoteRpsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseFaixa">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ConsultarNfseFaixa">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConsultarNfseFaixaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GerarNfse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GerarNfseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SubstituirNfse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SubstituirNfseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ConsultarNfsePorRps">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConsultarNfsePorRpsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ConsultarNfseServicoTomado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoTomadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="RecepcionarLoteRps">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="RecepcionarLoteRpsSincrono">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RecepcionarLoteRpsSincronoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ConsultarNfseServicoPrestado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConsultarNfseServicoPrestadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IssDigitalControllerService">
    <wsdl:port binding="tns:IssDigitalControllerServiceSoapBinding" name="snissdigitalsvcPort">
      <soap:address location="http://servicosonline.pnl.mg.gov.br:8093/nfe/snissdigitalsvc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>