WSDL/Homologacao/HNovaIguacuRJ-DFSLoteRps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" xmlns:intf="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="consultarNFSeRpsResponse">

      <wsdl:part name="consultarNFSeRpsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarNFSeRpsRequest">

      <wsdl:part name="mensagemXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelarRequest">

      <wsdl:part name="mensagemXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarNotaRequest">

      <wsdl:part name="mensagemXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarLoteResponse">

      <wsdl:part name="consultarLoteReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarLoteRequest">

      <wsdl:part name="mensagemXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enviarResponse">

      <wsdl:part name="enviarReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarSequencialRpsResponse">

      <wsdl:part name="consultarSequencialRpsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarNotaResponse">

      <wsdl:part name="consultarNotaReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarSequencialRpsRequest">

      <wsdl:part name="mensagemXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelarResponse">

      <wsdl:part name="cancelarReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enviarRequest">

      <wsdl:part name="mensagemXml" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoteRps">

      <wsdl:operation name="consultarSequencialRps" parameterOrder="mensagemXml">

         <wsdl:input message="impl:consultarSequencialRpsRequest" name="consultarSequencialRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarSequencialRpsResponse" name="consultarSequencialRpsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enviar" parameterOrder="mensagemXml">

         <wsdl:input message="impl:enviarRequest" name="enviarRequest">

       </wsdl:input>

         <wsdl:output message="impl:enviarResponse" name="enviarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarLote" parameterOrder="mensagemXml">

         <wsdl:input message="impl:consultarLoteRequest" name="consultarLoteRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarLoteResponse" name="consultarLoteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarNota" parameterOrder="mensagemXml">

         <wsdl:input message="impl:consultarNotaRequest" name="consultarNotaRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarNotaResponse" name="consultarNotaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelar" parameterOrder="mensagemXml">

         <wsdl:input message="impl:cancelarRequest" name="cancelarRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelarResponse" name="cancelarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarNFSeRps" parameterOrder="mensagemXml">

         <wsdl:input message="impl:consultarNFSeRpsRequest" name="consultarNFSeRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarNFSeRpsResponse" name="consultarNFSeRpsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoteRpsSoapBinding" type="impl:LoteRps">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultarSequencialRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarSequencialRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsnfe2.dsfnet.com.br" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="consultarSequencialRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enviar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enviarRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsnfe2.dsfnet.com.br" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="enviarResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarLote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarLoteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsnfe2.dsfnet.com.br" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="consultarLoteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarNota">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarNotaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsnfe2.dsfnet.com.br" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="consultarNotaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelarRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsnfe2.dsfnet.com.br" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="cancelarResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarNFSeRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarNFSeRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsnfe2.dsfnet.com.br" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="consultarNFSeRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoteRpsService">

      <wsdl:port binding="impl:LoteRpsSoapBinding" name="LoteRps">

         <wsdlsoap:address location="http://www.notamaisfacil.novaiguacu.rj.gov.br/WsNFe2/LoteRps.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
