WSDL/Homologacao/HPortaoRSCancelamentoNFSe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mCancelamentoNFSe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mCancelamentoNFSeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mCancelamentoNFSeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mCancelamentoNFSeSoapIn">
    <wsdl:part name="parameters" element="tns:mCancelamentoNFSe" />
  </wsdl:message>
  <wsdl:message name="mCancelamentoNFSeSoapOut">
    <wsdl:part name="parameters" element="tns:mCancelamentoNFSeResponse" />
  </wsdl:message>
  <wsdl:portType name="CancelamentoNFSeSoap">
    <wsdl:operation name="mCancelamentoNFSe">
      <wsdl:input message="tns:mCancelamentoNFSeSoapIn" />
      <wsdl:output message="tns:mCancelamentoNFSeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CancelamentoNFSeSoap" type="tns:CancelamentoNFSeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mCancelamentoNFSe">
      <soap:operation soapAction="http://tempuri.org/mCancelamentoNFSe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CancelamentoNFSeSoap12" type="tns:CancelamentoNFSeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mCancelamentoNFSe">
      <soap12:operation soapAction="http://tempuri.org/mCancelamentoNFSe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CancelamentoNFSe">
    <wsdl:port name="CancelamentoNFSeSoap" binding="tns:CancelamentoNFSeSoap">
      <soap:address location="http://homologapor.nfse-tecnos.com.br:9098/CancelamentoNFSe.asmx" />
    </wsdl:port>
    <wsdl:port name="CancelamentoNFSeSoap12" binding="tns:CancelamentoNFSeSoap12">
      <soap12:address location="http://homologapor.nfse-tecnos.com.br:9098/CancelamentoNFSe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>