WSDL/Homologacao/HSalvadorDoSulRS-ConsultaLoteRPS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mConsultaLoteRPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mConsultaLoteRPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mConsultaLoteRPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mConsultaLoteRPSSoapIn">
    <wsdl:part name="parameters" element="tns:mConsultaLoteRPS" />
  </wsdl:message>
  <wsdl:message name="mConsultaLoteRPSSoapOut">
    <wsdl:part name="parameters" element="tns:mConsultaLoteRPSResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaLoteRPSSoap">
    <wsdl:operation name="mConsultaLoteRPS">
      <wsdl:input message="tns:mConsultaLoteRPSSoapIn" />
      <wsdl:output message="tns:mConsultaLoteRPSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaLoteRPSSoap" type="tns:ConsultaLoteRPSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaLoteRPS">
      <soap:operation soapAction="http://tempuri.org/mConsultaLoteRPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaLoteRPSSoap12" type="tns:ConsultaLoteRPSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaLoteRPS">
      <soap12:operation soapAction="http://tempuri.org/mConsultaLoteRPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaLoteRPS">
    <wsdl:port name="ConsultaLoteRPSSoap" binding="tns:ConsultaLoteRPSSoap">
      <soap:address location="http://homologasalvador.nfse-tecnos.com.br:9097/ConsultaLoteRPS.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaLoteRPSSoap12" binding="tns:ConsultaLoteRPSSoap12">
      <soap12:address location="http://homologasalvador.nfse-tecnos.com.br:9097/ConsultaLoteRPS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>