WSDL/Homologacao/HSaoPedroDaAldeira-MODERNIZACAO_PUBLICA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" xmlns:intf="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="ConsultarNfseServicoTomadoRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorRpsRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarLoteRpsRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CancelarNfseResponse">

      <wsdl:part name="CancelarNfseReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfseServicoTomadoResponse">

      <wsdl:part name="ConsultarNfseServicoTomadoReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfseServicoPrestadoResponse">

      <wsdl:part name="ConsultarNfseServicoPrestadoReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsResponse">

      <wsdl:part name="RecepcionarLoteRpsReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AppChkXmlResponse">

      <wsdl:part name="AppChkXmlReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorFaixaResponse">

      <wsdl:part name="ConsultarNfsePorFaixaReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AppChkRequest">

      <wsdl:part name="P1" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="P2" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SubstituirNfseRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarLoteRpsResponse">

      <wsdl:part name="ConsultarLoteRpsReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfseServicoPrestadoRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorFaixaRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GerarNfseRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConsultarNfsePorRpsResponse">

      <wsdl:part name="ConsultarNfsePorRpsReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsSincronoRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CancelarNfseRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SasNfeSincDadosRequest">

      <wsdl:part name="Arq" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AppChkXmlRequest">

      <wsdl:part name="P1" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsSincronoResponse">

      <wsdl:part name="RecepcionarLoteRpsSincronoReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SubstituirNfseResponse">

      <wsdl:part name="SubstituirNfseReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SasNfeSincDadosResponse">

      <wsdl:part name="SasNfeSincDadosReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GerarNfseResponse">

      <wsdl:part name="GerarNfseReturn" type="xsd:anyType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AppChkResponse">

      <wsdl:part name="AppChkReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RecepcionarLoteRpsRequest">

      <wsdl:part name="Nfsecabecmsg" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="Nfsedadosmsg" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="NFEServices">

      <wsdl:operation name="AppChkXml" parameterOrder="P1">

         <wsdl:input message="impl:AppChkXmlRequest" name="AppChkXmlRequest">

       </wsdl:input>

         <wsdl:output message="impl:AppChkXmlResponse" name="AppChkXmlResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SasNfeSincDados" parameterOrder="Arq">

         <wsdl:input message="impl:SasNfeSincDadosRequest" name="SasNfeSincDadosRequest">

       </wsdl:input>

         <wsdl:output message="impl:SasNfeSincDadosResponse" name="SasNfeSincDadosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AppChk" parameterOrder="P1 P2">

         <wsdl:input message="impl:AppChkRequest" name="AppChkRequest">

       </wsdl:input>

         <wsdl:output message="impl:AppChkResponse" name="AppChkResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarLoteRps" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarLoteRpsRequest" name="ConsultarLoteRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarLoteRpsResponse" name="ConsultarLoteRpsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorRps" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfsePorRpsRequest" name="ConsultarNfsePorRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfsePorRpsResponse" name="ConsultarNfsePorRpsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoPrestado" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfseServicoPrestadoRequest" name="ConsultarNfseServicoPrestadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfseServicoPrestadoResponse" name="ConsultarNfseServicoPrestadoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorFaixa" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfsePorFaixaRequest" name="ConsultarNfsePorFaixaRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfsePorFaixaResponse" name="ConsultarNfsePorFaixaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRps" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:RecepcionarLoteRpsRequest" name="RecepcionarLoteRpsRequest">

       </wsdl:input>

         <wsdl:output message="impl:RecepcionarLoteRpsResponse" name="RecepcionarLoteRpsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRpsSincrono" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:RecepcionarLoteRpsSincronoRequest" name="RecepcionarLoteRpsSincronoRequest">

       </wsdl:input>

         <wsdl:output message="impl:RecepcionarLoteRpsSincronoResponse" name="RecepcionarLoteRpsSincronoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoTomado" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:ConsultarNfseServicoTomadoRequest" name="ConsultarNfseServicoTomadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConsultarNfseServicoTomadoResponse" name="ConsultarNfseServicoTomadoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GerarNfse" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:GerarNfseRequest" name="GerarNfseRequest">

       </wsdl:input>

         <wsdl:output message="impl:GerarNfseResponse" name="GerarNfseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SubstituirNfse" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:SubstituirNfseRequest" name="SubstituirNfseRequest">

       </wsdl:input>

         <wsdl:output message="impl:SubstituirNfseResponse" name="SubstituirNfseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CancelarNfse" parameterOrder="Nfsecabecmsg Nfsedadosmsg">

         <wsdl:input message="impl:CancelarNfseRequest" name="CancelarNfseRequest">

       </wsdl:input>

         <wsdl:output message="impl:CancelarNfseResponse" name="CancelarNfseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NFEServicesSoapBinding" type="impl:NFEServices">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="AppChkXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AppChkXmlRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="AppChkXmlResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SasNfeSincDados">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SasNfeSincDadosRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="SasNfeSincDadosResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AppChk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AppChkRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="AppChkResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarLoteRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarLoteRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarLoteRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfsePorRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfsePorRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoPrestado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfseServicoPrestadoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfseServicoPrestadoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfsePorFaixa">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfsePorFaixaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfsePorFaixaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RecepcionarLoteRpsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RecepcionarLoteRpsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="RecepcionarLoteRpsSincrono">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RecepcionarLoteRpsSincronoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RecepcionarLoteRpsSincronoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ConsultarNfseServicoTomado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConsultarNfseServicoTomadoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ConsultarNfseServicoTomadoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GerarNfse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GerarNfseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="GerarNfseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SubstituirNfse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SubstituirNfseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="SubstituirNfseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CancelarNfse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CancelarNfseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="CancelarNfseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.pmspa.rj.gov.br:3080/nfe/webservices/NFEServices.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NFEServicesService">

      <wsdl:port binding="impl:NFEServicesSoapBinding" name="NFEServices">

         <wsdlsoap:address location="http://notapmspa.modernizacaopublica.com.br:8037/homologacao/webservices/NFEServices.jws?wsdl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
