WSDL/Homologacao/HSSebastiaoCai-ConsultaNFSePorFaixa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mConsultaNFSePorFaixa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mConsultaNFSePorFaixaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mConsultaNFSePorFaixaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mConsultaNFSePorFaixaSoapIn">
    <wsdl:part name="parameters" element="tns:mConsultaNFSePorFaixa" />
  </wsdl:message>
  <wsdl:message name="mConsultaNFSePorFaixaSoapOut">
    <wsdl:part name="parameters" element="tns:mConsultaNFSePorFaixaResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaNFSePorFaixaSoap">
    <wsdl:operation name="mConsultaNFSePorFaixa">
      <wsdl:input message="tns:mConsultaNFSePorFaixaSoapIn" />
      <wsdl:output message="tns:mConsultaNFSePorFaixaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaNFSePorFaixaSoap" type="tns:ConsultaNFSePorFaixaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaNFSePorFaixa">
      <soap:operation soapAction="http://tempuri.org/mConsultaNFSePorFaixa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaNFSePorFaixaSoap12" type="tns:ConsultaNFSePorFaixaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaNFSePorFaixa">
      <soap12:operation soapAction="http://tempuri.org/mConsultaNFSePorFaixa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaNFSePorFaixa">
    <wsdl:port name="ConsultaNFSePorFaixaSoap" binding="tns:ConsultaNFSePorFaixaSoap">
      <soap:address location="http://homologacai.nfse-tecnos.com.br:9096/ConsultaNFSePorFaixa.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaNFSePorFaixaSoap12" binding="tns:ConsultaNFSePorFaixaSoap12">
      <soap12:address location="http://homologacai.nfse-tecnos.com.br:9096/ConsultaNFSePorFaixa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>