WSDL/Homologacao/HTapejaraRS-ConsultaSequenciaLoteNotaRPS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mConsultaSequenciaLoteNotaRPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remessa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cabecalho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mConsultaSequenciaLoteNotaRPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mConsultaSequenciaLoteNotaRPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mConsultaSequenciaLoteNotaRPSSoapIn">
    <wsdl:part name="parameters" element="tns:mConsultaSequenciaLoteNotaRPS" />
  </wsdl:message>
  <wsdl:message name="mConsultaSequenciaLoteNotaRPSSoapOut">
    <wsdl:part name="parameters" element="tns:mConsultaSequenciaLoteNotaRPSResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaSequenciaLoteNotaRPSSoap">
    <wsdl:operation name="mConsultaSequenciaLoteNotaRPS">
      <wsdl:input message="tns:mConsultaSequenciaLoteNotaRPSSoapIn" />
      <wsdl:output message="tns:mConsultaSequenciaLoteNotaRPSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaSequenciaLoteNotaRPSSoap" type="tns:ConsultaSequenciaLoteNotaRPSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaSequenciaLoteNotaRPS">
      <soap:operation soapAction="http://tempuri.org/mConsultaSequenciaLoteNotaRPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaSequenciaLoteNotaRPSSoap12" type="tns:ConsultaSequenciaLoteNotaRPSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mConsultaSequenciaLoteNotaRPS">
      <soap12:operation soapAction="http://tempuri.org/mConsultaSequenciaLoteNotaRPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaSequenciaLoteNotaRPS">
    <wsdl:port name="ConsultaSequenciaLoteNotaRPSSoap" binding="tns:ConsultaSequenciaLoteNotaRPSSoap">
      <soap:address location="http://homologatapejara.nfse-tecnos.com.br:9084/ConsultaSequenciaLoteNotaRPS.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaSequenciaLoteNotaRPSSoap12" binding="tns:ConsultaSequenciaLoteNotaRPSSoap12">
      <soap12:address location="http://homologatapejara.nfse-tecnos.com.br:9084/ConsultaSequenciaLoteNotaRPS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>